{% extends "base_forms.html" %}
{% load crispy_forms_tags %}

{% block arriba %}
<div class = "row titulo_con_barco">
	<img style = "margin-right:20px" class = "barco_logo" src="http://i269.photobucket.com/albums/jj43/comentarioshi5/dibujos-para-pintar/barco-pirata/06.gif">
	<h2 class = "pull-right"> Edita tu perfil {{user.username}} </h2>
	<br/>
</div>
{% endblock arriba %}

{% block form %}
<div class = "row">
	<p class = "perfil_descripcion pull-right">{{perfil_usuario.descripcion}}</p>	
		
</div>
<div class = "row">
	<form action = "/perfiles/editar_perfil_des/" method = "post">
	{% csrf_token %}
		<ul>
			{{editar_perfil_form|crispy}}
		</ul>
		<input class= "btn pull-right" type = "submit" name = "submit" value = "Guardar">
	</form>
</div>
{% endblock form %}
<div class = "col-md-10 col-md-offset-2">
		<p> <a href = "{% url 'perfiles:editar_perfil_info' %}"> 
			Edita </a>tu información </p> <br/>

		{% if tiene_imagenesfav and tiene_frasesfav %}
			<p> Revisa tus 
				<a href=" {% url 'imagenes:favoritas' user.username %} ">
				imágenes favoritas</a>, 
				las últimas 10 se despliegan en tu perfil después de la que señales como tu portada. Todas 
				<a href=" {% url 'citas:favoritas' %} ">tus frases</a> 
				se verán en tu perfil, por orden de fecha.</p>

		{% elif not tiene_imagenesfav and tiene_frasesfav %}
		<p> ¿Has visitado la <a href=" {% url 'imagenes:index' 'recientes' %} ">
			Galería de Imágenes</a>?
			es similar al banco de frases. Tus imágenes favoritas aparecerán en tu perfil.</p>
		<p> Revisa <a href=" {% url 'citas:favoritas' %} ">tus frases</a> favoritas.

		{% elif not tiene_frasesfav and tiene_imagenesfav %}
			<p> ¿Has visitado el <a href=" {% url 'citas:index' 'recientes' %} ">
			Banco de Frases</a>? es similar a la galería de imágenes. Las frases que marques como favoritas aparecerán en tu perfil.</p>
			<p> Revisa tus <a href=" {% url 'imagenes:favoritas' user.username %} ">imágenes favoritas</a></p>

		{% elif not tiene_imagenesfav and not tiene_frasesfav %}
			<p> Visita la <a href=" {% url 'imagenes:index' 'recientes' %} ">
				Galería de Imágenes</a> y el 
				<a href=" {% url 'citas:index' 'recientes' %} ">Banco de Frases</a>, 
				puedes elegir tus favoritas y aparecerán en tu perfil. </p>
		{% endif %}

	<p>Edita tu descripcion y tus links {{user.username}}</p>

		<form action = "/perfiles/editar_perfil_des/" method = "post">
			{% csrf_token %}
			<ul>
				{{editar_perfil_form.as_ul}}
			</ul>
			<input type = "submit" name = "submit" value = "Guardar">
		</form>
	</div>

{% block description %}
<div class = "thumbnail">
	<img class = "imagen_perfil" src = "http://th03.deviantart.net/fs70/PRE/f/2011/071/1/6/demon_hunter_illidan_stormrage_by_siakim-d3bghq6.jpg">
</div>
<div class = "pull-right">
	<h4> {{user.first_name}} {{user.last_name}} </h4>
	<h5 class = "text-muted"> Edita tu <a href="{% url 'perfiles:editar_perfil_info' %}">información.</a> </h5>
	<h5 class = "text-muted"> Revisa tu portada y tus <a href=" {% url 'imagenes:favoritas' user.username %} ">imágenes favoritas.</a> </h5>
	<h5 class = "text-muted"> Revisa tus <a href="{% url 'citas:favoritas' %}">frases favoritas.</a></h5>
</div>

{% endblock description %}
