{% extends "base.html" %}

{% block content %}


	{% if user.is_authenticated %}
	<div class = "col-md-10 col-md-offset-2">
	<p> <a href = "{% url 'perfiles:editar_perfil_des' %}"> Edita </a>tu descripción </p> <br/>
	<p>Edita tu info {{user.username}}</p>

		<form action = "/perfiles/editar_perfil_des/" method = "post">
			{% csrf_token %}
			<ul>
				{{perfil_info_form.as_ul}}
			</ul>
			<input type = "submit" name = "submit" value = "Guardar">
		</form>
	</div>

	{% else %}

	<p> Por favor has <a href = " {% url 'perfiles:login' %}">  login </a> para editar tu perfil </p>

	{% endif %}

{% endblock content %}