{% extends "base.html" %}

{% block content %}

	{% if user.is_authenticated %}
	<div class = "col-md-10 col-md-offset-2">
		<p> <a href = "{% url 'perfiles:editar_perfil_info' %}"> 
			Edita </a>tu información </p> <br/>

		{% if tiene_imagenesfav and tiene_frasesfav %}
			<p> Revisa tus 
				<a href=" {% url 'imagenes:favoritas' user.username %} ">
				imágenes favoritas</a>, 
				las últimas 10 se despliegan en tu perfil después de la que señales como tu portada. Todas 
				<a href=" {% url 'citas:favoritas' %} ">tus frases</a> 
				se verán en tu perfil, por orden de fecha.</p>

		{% elif not tiene_imagenesfav and tiene_frasesfav %}
		<p> ¿Has visitado la <a href=" {% url 'imagenes:index' %} ">
			Galería de Imágenes</a>?
			es similar al banco de frases. Tus imágenes favoritas aparecerán en tu perfil.</p>
		<p> Revisa <a href=" {% url 'citas:favoritas' %} ">tus frases</a> favoritas.

		{% elif not tiene_frasesfav and tiene_imagenesfav %}
			<p> ¿Has visitado el <a href=" {% url 'citas:index' %} ">
			Banco de Frases</a>? es similar a la galería de imágenes. Las frases que marques como favoritas aparecerán en tu perfil.</p>
			<p> Revisa tus <a href=" {% url 'imagenes:favoritas' user.username %} ">imágenes favoritas</a></p>

		{% elif not tiene_imagenesfav and not tiene_frasesfav %}
			<p> Visita la <a href=" {% url 'imagenes:index' %} ">
				Galería de Imágenes</a> y el 
				<a href=" {% url 'citas:index' %} ">Banco de Frases</a>, 
				puedes elegir tus favoritas y aparecerán en tu perfil. </p>
		{% endif %}

	<p>Edita tu descripcion y tus links {{user.username}}</p>

		<form action = "/perfiles/editar_perfil_des/" method = "post">
			{% csrf_token %}
			<ul>
				{{editar_perfil_form.as_ul}}
			</ul>
			<input type = "submit" name = "submit" value = "Guardar">
		</form>
	</div>

	{% else %}

	<p> Por favor has <a href = " {% url 'perfiles:login' %}">  login </a> para editar tu perfil </p>

	{% endif %}

{% endblock content %}