{% extends "base_forms.html" %}

{% block form_specific_css %}
{% load staticfiles %}
<link href="{% static 'css/perfil.css' %}" rel="stylesheet">
{% endblock form_specific_css %}

{% block navbar_mobile_xs %}
<li class = "visible-xs">
	<a href="{% url 'perfiles:editar_perfil_des' %}">Editar Perfil</a>
</li>
{% endblock navbar_mobile_xs %}

{% block arriba %}
{% endblock arriba %}

{% block form %}
<div class = "row">
<div class = "col-md-10 col-md-offset-1">
	<div class = "row">
		<form id = "formulario" class = "form-horizontal" action = "/perfiles/editar_perfil_des/" method = "post">
		{% csrf_token %}
		<fieldset>
			<div class = "form-group">
				<label class = "control-label" for = "descripcion"> Nickname </label>
				<div class = "row textarea_form">
				{{editar_perfil_form.nickname}}
				</div>
				<span id="help_nickname" class = "help-block"> Es el nombre que te representará en Orilla Libertaria. </span>
			</div>
			<div class = "form-group">
				<label class = "control-label" for = "descripcion"> Descripción </label>
				<div class = "row textarea_form">
				{{editar_perfil_form.descripcion}}
				</div>
				<span class = "help-block"> En 250 caracteres </span>
			</div>
			<div class = "form-group">
				<label class = "control-label" for = "descripcion"> Email </label>
				<div class = "row textarea_form">
				{{editar_perfil_form.email}}
				</div>
				<span class = "help-block">Escribe un email válido, no será visible para otros usuarios.
				</span>
			</div>
			<div class = "form-group">
				<label class = "control-label" for = "link1"> Links</label>
				{{editar_perfil_form.link1}}
			</div>
			<div class = "form-group">
				{{editar_perfil_form.link2}}
			</div>
			<div class = "form-group">
				{{editar_perfil_form.link3}}
			</div>
			<div class = "form-group">
				{{editar_perfil_form.link4}}
			</div>
			<div class = "form-group">
				{{editar_perfil_form.link5}}
				<span class = "help-block"> Comparte cinco links que digan algo de ti.</span>
			</div>


		</fieldset>
 		<input class= "btn pull-right" type = "submit" name = "submit" value = "Guardar">
		</form>
	</div>
	</div>
</div>
{% endblock form %}
<div class = "col-md-10 col-md-offset-2">
		{% if tiene_imagenesfav and tiene_frasesfav %}
			<p> Revisa tus 
				<a href=" {% url 'imagenes:favoritas' user.username %} ">
				imágenes favoritas</a>, 
				las últimas 10 se despliegan en tu perfil después de la que señales como tu portada. Todas 
				<a href=" {% url 'citas:favoritas' %} ">tus frases</a> 
				se verán en tu perfil, por orden de fecha.</p>

		{% elif not tiene_imagenesfav and tiene_frasesfav %}
		<p> ¿Has visitado la <a href=" {% url 'imagenes:index' 'recientes' %} ">
			Galería de Imágenes</a>?
			es similar al banco de frases. Tus imágenes favoritas aparecerán en tu perfil.</p>
		<p> Revisa <a href=" {% url 'citas:favoritas' %} ">tus frases</a> favoritas.

		{% elif not tiene_frasesfav and tiene_imagenesfav %}
			<p> ¿Has visitado el <a href=" {% url 'citas:index' 'recientes' %} ">
			Banco de Frases</a>? es similar a la galería de imágenes. Las frases que marques como favoritas aparecerán en tu perfil.</p>
			<p> Revisa tus <a href=" {% url 'imagenes:favoritas' user.username %} ">imágenes favoritas</a></p>

		{% elif not tiene_imagenesfav and not tiene_frasesfav %}
			<p> Visita la <a href=" {% url 'imagenes:index' 'recientes' %} ">
				Galería de Imágenes</a> y el 
				<a href=" {% url 'citas:index' 'recientes' %} ">Banco de Frases</a>, 
				puedes elegir tus favoritas y aparecerán en tu perfil. </p>
		{% endif %}
	</div>

{% block description %}
<div class = "info_editar_perfil_des">
	<div class = "thumbnail">
		<img class = "imagen_perfil" src = "{{perfil_usuario.imagen_perfil}}">
	</div>
	<div class = "pull-right">
		<h4> {{nickname}} </h4>
		<h5 class = "text-muted"> {{user.first_name}} {{user.last_name}} </h5>
		<h5 class = "text-muted"> {{user.email}} </h5>
		<h5 class = "text-muted"> Revisa tu portada y tus <a href=" {% url 'imagenes:favoritas' user.username %} ">imágenes favoritas.</a> </h5>
		<h5 class = "text-muted"> Revisa tus 
		<a href="{% url 'citas:favoritas' 'recientes' %}">frases favoritas.</a>
		</h5>
	</div>
</div>
{% endblock description %}

{% block extra_javascript %}
<script>
$(document).ready(function(){
	$('#wchar_250').wChar({max:250});
	
	$('#formulario').validate({
		rules: {
			descripcion: {
				required: false,
				maxlength: 250
			},
			email: {
				required: true,
				maxlength: 75
			},
			nickname: {
				required: true,
				maxlength: 75,
				remote: {
					url:'/perfiles/revisar_nickname/',
					async: false
				} /*remote*/
			},/*nickname*/
			link1: {
				required: false,
				maxlength: 200,
			},
			link2: {
				required: false,
				maxlength: 200,
			},
			link3: {
				required: false,
				maxlength: 200,
			},
			link4: {
				required: false,
				maxlength: 200,
			},
			link5: {
				required: false,
				maxlength: 200,
			},
		},
		errorElement: "span",
		onfocusout: false,
		onkeyup: false,
		messages: {
			email: "*Campo requerido, máximo 75 caracteres.",
			nickname: {
				required: "*Campo requerido.",
				maxlength: "*máximo 75 caracteres.",
				remote: "*Este nickname ya existe."
			},
			descripcion: "*Tu descripción debe tener como máximo 250 caracteres.",
			link1: "*Este link parece no ser válido.",
			link2: "*Este link parece no ser válido.",
			link3: "*Este link parece no ser válido.",
			link4: "*Este link parece no ser válido.",
			link5: "*Este link parece no ser válido.",
		}
	});
});
</script>
{% endblock extra_javascript %}
