{% extends "base.html" %}

{% block content %}

	{% if form.errors %}
	<p class = "error"> Usuario o contraseña inválidos</p>
	{% endif %}
	<div class = "col-md-10 col-md-offset-2">
	<form action = "{% url 'perfiles:authcheck' %}" method = "post">
		{% csrf_token %}
		<label for = "username"> Usuario: </label>
		<input type = "text" name = "username" value = "" id = "username">
		<label for = "password"> Password: </label>
		<input type = "password" name = "password" value ="" id = "password">
		<input type = "submit" value = "login"/>

	</form>

     <li>
       <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
     </li>
{% endblock content %}
