{% extends "base_index.html" %}
{% load staticfiles %}

{% block extra_css %}
{% load staticfiles %}
<link href="{% static 'css/perfil.css' %}" rel="stylesheet">
<link href="{% static 'css/post.css' %}" rel="stylesheet">
{% endblock extra_css %}


{% block arriba %}
<div class = "row clearfix">
	<div class = "col-md-12">
	<div class = "row visible-sm visible-xs">
		<div class = "col-sm-6">
			<div class = "col-md-offset-1">
				<div class = "nombre_usuario">
					<h3>
						{{nickname_perfil}}
					</h3>
					<p class="text-muted">
						{% if user.is_authenticated %}
							 {{nombre_completo}}
						{% endif %}
					</p>
				</div>
			<div class = "div_perfil_datos">
			<div class = "div_imagen_perfil">
			<img alt = "imagen_perfil" class="imagen_perfil" src="{{avatar_large}}"/>
			</div>
					<ul class="nav nav-pills">
					<br>
						<li>
							Puntos <span class="badge"> {{puntos_recibidos}} </span> 
						</li>
					<br>
						<li>
							Posts <span class="badge">{{num_posts}}</span> 
						</li>
					<br>
					{% if creo_temas %}
						<li>
							<div class="panel-link">
								<div>
									 <a class="panel-title collapsed" data-toggle="collapse" href="#panel-element-898967"> Temas <span class="badge">{{num_temas}}</span> </a>
								</div>
								<div id="panel-element-898967" class="panel-collapse collapse">
									<div>
										<ul class="list-unstyled">
											{% for tema in temas_usuario %}
											<li> <a href="{% url 'temas:index_tema' tema.slug 'recientes' %}">{{tema.nombre}}</a></li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
						</li>
					{% endif %}	
					</ul>
				</div>
			</div>
		</div>

		<div class = "col-sm-6">
			<div class="panel-group perfil_panel_sm" id="panel-131037">
				<div class="panel panel-default">
					<div class="panel-heading">
						<a class="panel-title triangulo arriba" data-toggle="collapse" data-parent="#panel-131037" href="#panel-element-400081">Favoritos 
						<span class = "fa fa-angle-up"></span>
						</a>
					</div>
					<div id="panel-element-400081" class="panel-collapse collapse in">
						<a href = "{% url 'imagenes:favoritas' usuario_fav %}">
							<div class="panel-body">
								<span class = "badge pull-right"> {{numero_imgfavoritas}} </span>
								Imágenes
							</div>
						</a>
						<a href = "{% url 'citas:favoritas' usuario_fav %}">
							<div class="panel-body">
								<span class = "badge pull-right"> {{num_frases_favoritas}} </span>
								Frases
							</div>
						</a>
						<a href = "{% url 'videos:videos_perfil' usuario_fav %}">
							<div class="panel-body">
								<span class = "badge pull-right"> {{num_videos_favoritos}} </span>
								Videos
							</div>
						</a>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title collapsed triangulo abajo" data-toggle="collapse" data-parent="#panel-131038" href="#panel-element-850907">Descripción <span class = "fa"></span></a>
					</div>
					<div id="panel-element-850907" class="panel-collapse collapse">
						<div class="panel-body">
							{{descripcion}}
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title collapsed triangulo abajo" data-toggle="collapse" data-parent="#panel-131039" href="#panel-element-850600">Links 
						 <span class = "fa"></span></a>
					</div>
					<div id="panel-element-850600" class="panel-collapse collapse">
						<div class="panel-body">
							<ul class="list-unstyled">
								{% for link in links %}
								<li> {{link|urlize}}</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> <!--visible sm xs -->
	<div class = "col-md-6 col-md-offset-1 hidden-sm hidden-xs">
		<div class = "imagenes_portada">
		{% if tiene_imagenesfav %}
			<ul class="pgwSlider">
			    <li>
			    	<img src="{{portada}}"> 
			    </li>
			    {% for i in imagenes_favoritas %}
			    <li>
			    	<img src=" {{i}} ">
			    </li>
			    {% endfor %}
			</ul>
			{% endif %}
		</div>
	</div> <!--col 6 -->
	<div class = "col-md-5 hidden-xs hidden-sm">
		<div class = "row">
			<div class = "col-md-6 col-md-offset-4">
				<div class = "imagenes_frases_perfil">
				<ul class = "list-group">
					<a class = "list-group-item" href = "{% url 'imagenes:favoritas' usuario_fav %}">
						<span class = "badge">{{numero_imgfavoritas}}</span>
						Imágenes favoritas
					</a>
					<a class = "list-group-item" href = "{% url 'citas:favoritas' usuario_fav %}">
						<span class = "badge">{{num_frases_favoritas}}</span>
						Frases favoritas
					</a>
					<a class = "list-group-item" href = "{% url 'videos:videos_perfil' usuario_fav %}">
						<span class = "badge"> {{num_videos_favoritos}} </span>
						Videos favoritos
					</a>
				</div>
				</ul>
			</div>
		</div>
	</div> <!--col 5 -->
</div> <!-- col 12 -->
{% endblock arriba %}

{% block botones_control %}
<div class = "col-md-8 div_control">
		<hr>
		<h3 style = "display: inline-block"> Posts </h3>
		<div class="btn-group btn-group-sm control ">
			<button class="btn btn-default {{recientes}} "
			type="button" onclick="location.href='{% url 'perfiles:perfil' usuario_user.username 'recientes' %}';">
			<span class="fa fa-signal"> </span> Recientes
			</button> 
			<button class="btn btn-default {{populares}} " 
			type="button" onclick="location.href='{% url 'perfiles:perfil' usuario_user.username 'populares' %}';">
			<span class="fa fa-star"> </span> Populares
			</button>
		</div>
</div>
{% endblock botones_control %}


{% block tab_content %}
<div class="col-md-8 col-sm-9">
	{% include page_template %}
</div>
{% endblock tab_content %}

{% block sidebar %}
	<div class = "hidden-sm hidden-xs">
	<div class="col-md-4 col-sm-3 column">
		<div class = "col-md-offset-1">
			<div class = "frase_perfil">
			{% if num_frases_favoritas > 0 %}
				<blockquote>
					<p class = "cita_small">
						"{{cita_favorita.3|safe}}"
					</p> 
					<small>{{cita_favorita.0.autor}} {% if cita_favorita.1 %}, {{cita_favorita.0.fuente}} 
					{% endif %}</small>
				</blockquote> 
			{% endif %}
			</div>
			<div class = "nombre_usuario">
				<h3>
					{{nickname_perfil}}
				</h3>
				<p class="text-muted">
					{% if user.is_authenticated %}
						 {{nombre_completo}}
					{% endif %}
				</p>
			</div>
			
			<div class = "div_perfil_datos">
			<div class = "div_imagen_perfil">
			<img alt = "imagen_perfil" class="imagen_perfil" src="{{avatar_large}}"/>
			</div>
				<ul class="nav nav-pills">
				<br>
					<li>
						Puntos <span class="badge"> {{puntos_recibidos}} </span> 
					</li>
				<br>
					<li>
						Posts <span class="badge">{{num_posts}}</span> 
					</li>
				<br>
				{% if creo_temas %}
					<li>
						Temas <span class="badge">{{num_temas}}</span>
						<ul style = "margin-left: 10px" class = "list-unstyled">
							{% for tema in temas_usuario %}
							<li> <a href="{% url 'temas:index_tema' tema.slug 'recientes' %}">{{tema.nombre}}</a></li>
							{% endfor %}
						</ul>
					</li>
				{% endif %}
				</ul>
			</div>
			<br>
			<p class = "text">
				{{descripcion}}
			</p>
		<hr>
			<h4> Links </h4>
			<ul class="list-unstyled">
				{% for link in links %}
				<li> {{link|urlize}} </li>
				{% endfor %}
			</ul>
		<hr>
			<br>
			<br>
			
		</div>
	</div> <!--column4 -->
	</div>
{% endblock sidebar %}

{% block javascript %}
{% load staticfiles %}
<script src="{% static 'js/votos.js' %} "></script>
<script src="{% static 'js/pgwslider.min.js' %} "></script>
<script src="{% static 'js/cambiar_caret.js' %} "></script>
<script>
$(document).ready(function() {
    $('.pgwSlider').pgwSlider();
});
</script>
{% endblock javascript %}

