<!DOCTYPE html>
{% load bootstrap3 %}
<!DOCTYPE html>
{% load bootstrap3 %}

<html>
<head>
	<meta charset = "utf-8"/>
	<title> Inicio </title>
	{% load staticfiles %}
	<link href = "{% static 'css/bootstrap.min.css' %}"rel="stylesheet">
	<link href = "{% static 'css/cerulean.bootstrap.min.css' %}"rel="stylesheet">
	<link href = "{% static 'css/main.hoy.css' %}"rel="stylesheet">
	<link href = "{% static 'css/perfiles.index.css' %}"rel="stylesheet">
	<script src = "{% static 'js/jquery.min.js' %}"></script>
	<script src = "{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body>
	<header class="container">
		<div id="menu" class="navbar navbar-default">
			<div class = "navbar-header">
				<button class = "btn btn-primary navbar-toggle"
				data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class = "glyphicon glyphicon-chevron-down"></span></button>
				<div id="logo">
					<img class = "logo" src = " {% static '/static/olib.logo.png' %} "> 
				</div> <!--logo-->
			</div><!--nav-header-->
			<div class = "navbar-collapse collapse">
			<ul class = "nav navbar-nav navbar-right">
				<li class = "nav"> <a href = "{% url 'temas:main' %}"> Temas </a></li>
				<li class = "nav active"> <a href = "{% url 'perfiles:index' %}"> Perfiles</a> </li>
				<li class = "nav"> <a href = "{% url 'perfiles:perfil_propio' %}"> Perfil </a> </li>
			</ul>
			</div>
		</div> <!--menu-->

	</header>
	
	<p> Template para registro </p>
	<h2> Nuevo Usuario </h2>
	{{error}}
	<form action = "/perfiles/registrar/" method = "post"> {% csrf_token %}
		{{user_creation_form.as_ul}}
		<input type = "submit" value = "Registrar"/>
	</form>
</body>