{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-8 column">
					<ul class="breadcrumb">
						<li>
							<h4><a href="{% url 'citas:index' %}">Frases</a></h4> 
							<span class="divider"></span>
						</li>
						<li>
							<small>Colaborar</small> <span class="divider"></span>
						</li>
					</ul>
					<div class="progress">
					  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{progress_bar}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress_bar}}%;">
					    <span class="sr-only">{{progress_bar}}% Complete</span>
					  </div>
					</div>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>
									Frase
								</th>
								<th>
									Correcciones
								</th>
								<th>
									Estado
								</th>
								<th>
									Acciones
								</th>
							</tr>
						</thead>
						<tbody>
							
							{% for x in tabla_citas %}
							<tr class="{{x.3}}">
								<td> <!--frase-->
									{{x.0.0}}, {{x.0.1}}, {{x.0.2}}
								</td>
								<td> <!--correcciones-->
									{% for c in x.1 %}
									{{c.0}}, {{c.1}}, {{c.2}}
									<br>
									{% endfor %}
								</td>
								<td> <!--estado-->
									{% for e in x.2.0 %}
									<span class="glyphicon glyphicon-{{e}}"></span>
									{% endfor %}
								</td>
								<td>
									<a href=" {% url 'citas:coorg_editar' x.0.3 %} "><span class="glyphicon glyphicon-pencil"></span></a>
									<a href = "{% url 'citas:marcar_visto' x.0.3 %}">
									<span class="glyphicon glyphicon-ok"></span></span></a>
									<a href = "{% url 'citas:marcar_x' x.0.3 %}">
									<span class="glyphicon glyphicon-remove"></span></a>
								</td>
							</tr>
							{% endfor %}
							
						</tbody>
					</table>
				</div>
				<div class="col-md-4 column">
					<blockquote>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
						</p> <small>Someone famous <cite>Source Title</cite></small>
					</blockquote>
					<dl>
						<dt>
							Instrucciones:
						</dt>
						<br>
						<dd>
							En la tabla de la izquierda puedes encontrar las frases que han sido "denunciadas" más de tres veces. Revísalas, si encuentras algún error, edítalo. Cuando una frase ya esté correcta, márcala con un visto. Las frases que reciban tres vistos serán enviadas nuevamente al banco de frases.<br/><br>
							Si ves una frase que no tiene solución, una frase totalmente errónea ya sea porque el autor jamás dijo algo parecido o porque consideras que no debe estar en esta página, márcala con una X y será eliminada después de recibir tres X. (por ejemplo: "El internet es intrínsicamente libre"-Carl Marx, o "Eso es todo amigos" -Bugs Bunny)<br/><br>
							Si marcas con una "X" a una frase que tenga "vistos", se eliminará un visto, y viceversa. La barra de progreso se completa cuando ya no queden frases que revisar.
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
