{% extends "base_forms.html" %}
{% load staticfiles %}

{% block form_specific_css %}
<link href="{% static 'css/jquery-ui.min_ol_autocomplete.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery-ui.structure.min_ol_autocomplete.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery-ui.theme.min_ol_autocomplete.css' %}" rel="stylesheet">

{% endblock form_specific_css %}


{% block arriba %}
<div class = "row titulo_con_barco">
	<h2> Editar Frase </h2>
  <img style = "margin-right:20px" class = "barco_logo pull-right" src="{% static '/static/img/barco_amagi.png' %}">
	<br/>
</div>
{% endblock arriba %}


{% block form %}
<div class = "col-md-10 col-md-offset-2">
<form id = "formulario" class = "form-horizontal" action = "{% url 'citas:coorg_editar' cita_id %}" method = "post">
    {% csrf_token %}
    {{ form_editar_cita.non_field_errors }}
   	
   	<div class = "form-group">
   		<label class = "control-label" for = "texto"> Frase </label>
   		<div class = "row textarea_form">
   			{{ form_editar_cita.texto }}
   		</div>
   		<span class = "help-block"> Edita la frase. No incluyas comillas. </span>
  	</div>
	
	  <div class = "form-group">
		<label class = "control-label" for = "autor"> Autor </label>
   			{{ form_editar_cita.autor }}
   		<span class = "help-block"> Evita repeticiones. Revisa la lista de autores antes de crear uno nuevo.</span>
   	</div>

   	<div class = "form-group">
   		<label class = "control-label" for = "fuente"> Fuente </label>
   			{{form_editar_cita.fuente}}
   		<span class = "help-block"> Libro, artículo, video, audio. </span>
   	</div>

    <div class = "form-group">
      <label class = "control-label" for = "fuente"> Razón </label>
        {{form_editar_cita.razon}}
      <span class = "help-block"> Ej: "ortografía, traducción" </span>
    </div>
    
    <!-- bersuit vergarabat -->
    <div class = "form-group vergarabat">
      <label class = "control-label" for = "vergarabat">
        Cuánto es cuatro mas cinco?
      </label>
      <input name = "vergarabat" id = "vergarabat" type = "text">
      <span class = "help-block">Responde solo si no eres humano. </span>
    </div>

    <div class = "form-group">
      <label class = "control-label" for = "bersuit">
        ¿Cuánto es {{lista_bersuit.0}} mas {{lista_bersuit.1}}?
        <p id = "bv" class = "bv">{{lista_bersuit.2}}</p>
      </label>
      <br>
      <input name = "bersuit" value = "m" type = "radio">1819
      <input name = "bersuit" value = "cinco" type = "radio">5
      <input name = "bersuit" value = "ocho" type = "radio">8
      <span class = "help-block">Para asegurarnos que eres <i class = "fa fa-child"></i> y no 
      <i class = "fa fa-bug"></i>. </span>
    </div>
    <!--bersuit vergarabat-->

	  	<input class = "btn pull-right" type="submit" value="Enviar" />
</form>
</div>
{% endblock form %}

{% block description %}
<div>
	<br><br>
	<dt>
		Lista de autores:
	</dt>
	<ul class="list-group citas_lista_autores">
		{% for autor in lista_de_autores %}
	  <li class="list-group-item"> {{autor}} </li>
	  	{% endfor %}
	</ul>
</div>
{% endblock description %}

{% block extra_javascript %}
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
<script>
$(document).ready(function(){

  /* autocomplete */
  var autores_json = JSON.parse('{{lista_de_autores_json|safe}}');
  $("#autor").autocomplete({
    source: autores_json,
    minLength: 2,
    autoFocus: true
  });

  /* bersuit vergarabat*/
  $.validator.addMethod("seleccion_correcta", function(value, element){
    var respuesta = $("#bv").text();
    if(value == respuesta){
      return true;
    }
    else{
      return false;
    }
  });
  $.validator.addMethod('empty', function(value, element){
    return (value === '');
  });
  /* bersuit vergarabat*/

  $('#formulario').validate({
    rules: {
      texto: {
        required: true,
        minlength: 15,
        maxlength: 500
      },
      autor: {
        required: true,
        maxlength: 75,
      },
      fuente: {
        required: false,
        maxlength: 75,
      },
      razon: {
        required: true,
        maxlength: 250
      },
      /* bersuit vergarabat*/
      bersuit:{
        required: true,
        seleccion_correcta: true
      },
      vergarabat:{
        empty: true
      }
      /*bersuit vergarabat*/
    },
    errorElement: "span",
    onfocusout: false,
    onkeyup: false,
    messages: {
      texto: "*La frase debe tener mínimo 15 y máximo 500 caracteres.",
      autor: "*Proporciona un autor, hasta 75 caracteres.",
      fuente: "*máximo 75 caracteres.",
      razon: "*Describe qué estaba mal. Ej: 'ortografía', 'fuente', 'traducción'",
      bersuit: "¿Eres humano?",
      vergarabat: "Si no eres un spam bot, contáctanos y cuéntanos de este error. Recuerda que ésta página está programada para Firefox y Chrome."
    }
  });
});
</script>
{% endblock extra_javascript %}