{% extends "base_index.html" %}
{% load staticfiles %}

{% block extra_css %}
<link href="{% static 'css/citas.css' %}" rel="stylesheet">
<link href="{% static 'css/carrusel_sidebar.css' %}" rel="stylesheet">

{% endblock extra_css %}

{% block navbar_mobile_xs %}
<li class = "visible-xs">
	<a href="{% url 'citas:nueva' %}">Añade una frase</a>
</li>
<li class = "visible-xs">
	<a href="{% url 'citas:index' 'recientes' %}">Banco de Frases</a>
</li>
<li class = "visible-xs">
	<a href="{% url 'imagenes:index' 'recientes' %}">Galería de imágenes</a>
</li>
{% endblock navbar_mobile_xs %}

{% block arriba %}
	<div class="col-md-7 column">
        <div class = "perfil_pequena titulo_top pull-right">
			<img title="{{perfil_usuario.nickname}} " src = "{{perfil_usuario.imagen_perfil}}">
		</div>
		{% if propio_usuario %}
		<h2 class = "titulo_top"> Banco de Frases <small> - favoritas </small></h2>
        {% else%}
		<h2 class = "titulo_top"> Banco de Frases <small> - favoritas de <a href=" {% url 'perfiles:perfil' perfil_usuario.usuario.username 'recientes' %} "> {{perfil_usuario.nickname}} </a> </small></h2>
        {% endif %}
        <hr class = "titulo_top">
	</div>
{% endblock arriba %}

{% block tab_content %}
<div class = "col-md-6 col-sm-7 col-md-offset-1 col-xs-offset-0 col-xs-12">
	{% for c in citas_favoritas %}
		<div class = "row div_cita">
			<div class="panel panel-info">
				<div class="panel-body">
					<blockquote>
						<p>
							"{{c.0.texto}}"
						</p> <small>{{c.0.autor}}, <cite>{{c.0.fuente}}</cite></small>
					</blockquote>
				</div>
				<div class="panel-footer">
					<div class = "pull-right">
					{% if user.is_authenticated %}
					<p class = "hidden"> {{c.0.id}} </p>
					<i class="marcar_favorito fa fa-star-o fa-lg {{c.1}} "></i>
					{% else %}
					<i class="fa fa-star"></i>
					{% endif %}
					<p class = "cita_favoritos" > {{c.0.favoritos_recibidos}}</p>
					</div>
					<p><small class = "fecha_desde"> favorito desde {{c.2|date:"F/d"}} </small></p>
				</div>
			</div>
		</div>
	{% endfor %}
</div> <!-- col md -->
{% endblock tab_content %}

{% block sidebar %}
<div class="hidden-xs col-md-4 col-sm-4 column">
	<div>
		<br>
		<button type="button" class="btn btn-warning btn_sidebar" 
		onclick="location.href='{% url 'citas:nueva' %}';"> Añade una frase
		</button> 
		<button type="button" class="btn btn-default btn_sidebar" onclick = "location.href='{% url 'citas:index' 'recientes' %}';">Banco de Frases</button>
		<button type="button" class="btn btn-default btn_sidebar visible-sm" 
		onclick="location.href='{% url 'imagenes:index' 'recientes' %}';">Galería de Imágenes
		</button>
		<br/>
		<hr>
	</div>
	<div class = "btn_sidebar">
		{% include 'sidebar_favoritos.html' %}
	</div>
</div> <!--column 4-->
{% endblock sidebar %}

{% block javascript %}
<script>
	$(document).ready(function() {
	 
	  $("#owl-demo").owlCarousel({
	 
	      navigation : false, // Show next and prev buttons
	      slideSpeed : 300,
	      paginationSpeed : 400,
	      singleItem:true,
	   	  pagination: false,
	      autoPlay: 10000,
	      stopOnHover: true
	 
	      // "singleItem:true" is a shortcut for:
	      // items : 1, 
	      // itemsDesktop : false,
	      // itemsDesktopSmall : false,
	      // itemsTablet: false,
	      // itemsMobile : false
	 
	  });
	 
	});
</script>
<script src="{% static 'js/cita_favorita.js' %} "></script>
<script src="{% static 'js/owl.carousel.min.js' %} "></script>
{% endblock javascript %}

