{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-8 column">
			<ul class="breadcrumb">
				<li>
					<h4><a href="{% url 'citas:index' 'recientes' %}">Frases</a></h4> 
					<span class="divider"></span>
				</li>
				<li>
					<small>Favoritas</small> <span class="divider"></span>
				</li>
			</ul>
			<hr>
			<div class="row clearfix">
				{% for c in citas_favoritas %}
				<div class="col-md-11 column">
					<blockquote>
						<p>
							"{{c.texto}}"
						</p> <small>{{c.autor}}, <cite>{{c.fuente}}</cite></small>
					</blockquote>
				</div>
				<div class="col-md-1 column">
					<a href = "{% url 'citas:marcar_favorito' c.id %}">
					<span class="glyphicon glyphicon-star"></span></a>
						<br/>
						<p>{{c.favoritos_recibidos}}</p>
						<br/>
					<span class="glyphicon glyphicon-flag"></span>
				<hr>
				</div>
				{% endfor %}
			</div>
			<ul class="pagination">
				<li>
					<a href="#">Prev</a>
				</li>
				<li>
					<a href="#">1</a>
				</li>
				<li>
					<a href="#">2</a>
				</li>
				<li>
					<a href="#">3</a>
				</li>
				<li>
					<a href="#">4</a>
				</li>
				<li>
					<a href="#">5</a>
				</li>
				<li>
					<a href="#">Next</a>
				</li>
			</ul>
		</div>
		<div class="col-md-4 column">
			<div class = "div_carrusel">
			<div class = "cuadro_carrusel">
			<div class="carousel slide" id="carousel-422808">
				<div class="carousel-inner">
					<div class="item active">
						<img alt="problema cargando imágenes libertarias"class = "logo" src = "{{primera_imagen}}">
					</div>
					{% for i in imagenes_display %}
					<div class="item">
						<img alt="problema cargando imágenes libertarias"class = "logo" src = " {{i}} ">
					</div>
					{% endfor %}

				</div> <a class="left carousel-control" href="#carousel-422808" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-422808" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
			<div>
			</div>
			</div> <!--cuadro_carrusel-->
		</div> <!--div carrousel -->

			<hr>
			<button type="button" class="btn btn-xs btn-info btn_galeria"
			onclick="location.href='{% url 'imagenes:index' 'recientes' %}';">
				Ver galería de imágenes</button>
			<br>

			<div>
				<br>
				<br>
				<button type="button" class="btn btn-default" onclick="location.href='{% url 'citas:index' 'recientes' %}';"> Ver banco de frases
				</button>
				<br> <br>
				<button type="button" class="btn btn-default" 
				onclick="location.href='{% url 'citas:nueva' %}';"> Añade una frase
				</button> 
				<br> <br>
				<a href="{% url 'citas:colaborar_organizar' %}" class="btn" type="button">Ayúdanos a organizar este banco de frases</a>
				<hr>
			</div>

		</div> <!--column 4-->
	</div>
</div>
{% endblock %}