{% extends "base.html" %}

{% block extra_css %}
{% load staticfiles %}
<link href="{% static 'css/citas.css' %}" rel="stylesheet">
<link href="{% static 'css/carrusel_sidebar.css' %}" rel="stylesheet">

{% endblock extra_css %}

{% block navbar_mobile_xs %}
<li class = "visible-xs">
	<a href="{% url 'citas:nueva' %}">Añade una frase</a>
</li>
<li class = "visible-xs">
	<a href="{% url 'citas:index' 'recientes' %}">Banco de Frases</a>
</li>
<li class = "visible-xs">
	<a href="{% url 'imagenes:index' 'recientes' %}">Galería de imágenes</a>
</li>
{% endblock navbar_mobile_xs %}

{% block content %}
<div class="row clearfix">
	<div class="col-md-7 column">
        <div class = "perfil_pequena titulo_top pull-right">
			<img src = "{% static '/static/img/perfil2.jpeg' %}">
		</div>
		{% if propio_usuario %}
		<h2 class = "titulo_top"> Banco de Frases <small> - favoritas </small></h2>
        {% else%}
		<h2 class = "titulo_top"> Banco de Frases <small> - favoritas de {{user_object.username}} </small></h2>
        {% endif %}
        <hr class = "titulo_top">
	</div>
	<div class = "col-md-6 col-sm-7 col-md-offset-1 col-xs-offset-0 col-xs-12">
		<div class="row clearfix">
			<div class = "col-md-12">
			{% for c in citas_favoritas %}
			<div class = "row div_cita">
				<div class="panel panel-info">
					<div class="panel-body">
						<blockquote>
							<p>
								"{{c.0.texto}}"
							</p> <small>{{c.0.autor}}, <cite>{{c.0.fuente}}</cite></small>
						</blockquote>
					</div>
					<div class="panel-footer">
						<div class = "pull-right">
						{% if user.is_authenticated %}
						<p class = "hidden"> {{c.0.id}} </p>
						<i class="marcar_favorito fa fa-star-o fa-lg {{c.1}} "></i>
						{% else %}
						<i class="fa fa-star"></i>
						{% endif %}
						<p class = "cita_favoritos" > {{c.0.favoritos_recibidos}}</p>
						</div>
						<p><small class = "fecha_desde"> favorito desde {{c.2|date:"F/d"}} </small></p>
					</div>
				</div>
			</div>
			{% endfor %}
			</div>
		</div>
	</div>
	<div class="hidden-xs col-md-4 col-sm-4 column">
		<div>
			<br>
			<button type="button" class="btn btn-warning btn_sidebar" 
			onclick="location.href='{% url 'citas:nueva' %}';"> Añade una frase
			</button> 
			<button type="button" class="btn btn-default btn_sidebar" onclick = "location.href='{% url 'citas:index' 'recientes' %}';">Banco de Frases</button>
			<button type="button" class="btn btn-default btn_sidebar visible-sm" 
			onclick="location.href='{% url 'imagenes:index' 'recientes' %}';">Galería de Imágenes
			</button>
			<br/>
			<button type="button" class="btn btn-link btn_sidebar" 
			onclick="location.href='{% url 'citas:colaborar_organizar' %}';"><i class="fa fa-wrench"></i> <small> Ayúdanos a organizar este Banco de Frases </small>
			</button>
			<hr>
		</div>
		<div class = "hidden-sm div_carrusel">
			<div class = " visible-lg visible-md cuadro_carrusel">
				<div id="owl-demo" class="owl-carousel owl-theme tema_slide_imagenes ">
					{% for i in imagenes_display %}
					<div class="item"><img src=" {{i.url}} " alt="404 imagen libertaria"></div>
					{% endfor %}
				</div>
			</div>
			<hr>
			<button type="button" class="btn btn-xs btn-info btn_galeria"
			onclick="location.href='{% url 'imagenes:index' 'recientes' %}';">
				Ver galería de imágenes</button>
		</div> <!--div carrousel -->
		<br>
	</div> <!--column 4-->
</div>
{% endblock %}

{% block javascript %}
{% load staticfiles %}
<script>
	$(document).ready(function() {
	 
	  $("#owl-demo").owlCarousel({
	 
	      navigation : false, // Show next and prev buttons
	      slideSpeed : 300,
	      paginationSpeed : 400,
	      singleItem:true,
	   	  pagination: false,
	      autoPlay: 10000,
	      stopOnHover: true
	 
	      // "singleItem:true" is a shortcut for:
	      // items : 1, 
	      // itemsDesktop : false,
	      // itemsDesktopSmall : false,
	      // itemsTablet: false,
	      // itemsMobile : false
	 
	  });
	 
	});
</script>
<script src="{% static 'js/cita_favorita.js' %} "></script>
<script src="{% static 'js/owl.carousel.min.js' %} "></script>
{% endblock javascript %}

