{% extends "base.html" %}

{% block content %}
<div class="container">
		<div class="col-md-8 column">
			<ul class="breadcrumb">
				<li>
					<h4><a href="{% url 'citas:index' %}">Frases</a></h4> 
					<span class="divider"></span>
				</li>
			</ul>
			<div class="tabbable" id="tabs-994211">
				<ul class="nav nav-tabs">
					<li>
						<a href="#panel-280880" data-toggle="tab">A-Z</a>
					</li>
					<li class="active">
						<a href="#panel-268185" data-toggle="tab">Reciente</a>
					</li>
					<li>
						<a href="#panel-268700" data-toggle="tab">Populares</a>
					</li>
				</ul>
				<div class="tab-content">
				<div class="tab-pane" id="panel-268700"> <!-- pane por nombre -->
					<div class="row clearfix">
						<div class="endless_page_template">
						    {% include "citas_populares_page.html" %}
						</div>
					</div> <!--clearfix -->
				</div> <!--pane citas populares -->
				
				<div class="tab-pane active" id="panel-268185"> <!--pane citas recientes -->
					<div class="row clearfix">
						<div class="endless_page_template">
						    {% include "citas_recientes_page.html" %}
						</div>
					</div> <!--clearfix -->
				</div> <!--pane citas recientes -->

				<div class="tab-pane" id="panel-280880"> <!-- pane por nombre -->
					<div class="row clearfix">
						<div class="endless_page_template">
						    {% include "citas_nombre_page.html" %}
						</div>
					</div> <!--clearfix -->
				</div> <!--pane por nombre -->
				</div> <!--tab content -->
			</div> <!-- tabbable -->
		</div><!--column 8 -->

	<div class="col-md-4 column">
		<div class = "div_carrusel">
			<div class = "cuadro_carrusel">
			<div class="carousel slide" id="carousel-422808">
				<div class="carousel-inner">
					<div class="item active">
						<img alt="problema cargando imágenes libertarias"class = "logo" src = "{{primera_imagen}}">
					</div>
					{% for i in imagenes_display %}
					<div class="item">
						<img alt="problema cargando imágenes libertarias"class = "logo" src = " {{i}} ">
					</div>
					{% endfor %}

				</div> <a class="left carousel-control" href="#carousel-422808" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-422808" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
			<div>
			</div>
			</div> <!--cuadro_carrusel-->
		</div> <!--div carrousel -->

			<hr>
			<button type="button" class="btn btn-xs btn-info btn_galeria"
			onclick="location.href='{% url 'imagenes:index'%}';">
				Ver galería de imágenes</button>
			<br>
			
			<div>
				<br>
				<br>
				<button type="button" class="btn btn-default" onclick="location.href='{% url 'citas:favoritas' %}';"> Tus frases favoritas
				</button>
				<br> <br>
				<button type="button" class="btn btn-default" 
				onclick="location.href='{% url 'citas:nueva' %}';"> Añade una frase
				</button> 
				<br> <br>
				<a href="{% url 'citas:colaborar_organizar' %}" class="btn" type="button">Ayúdanos a organizar este banco de frases</a>
				<hr>
			</div>
		</div> <!--column 4-->
</div>
{% endblock content %}
{% load staticfiles %}
<script src="{% static 'js/endless-pagination.js' %}"></script>
<script>$.endlessPaginate();</script>