{% extends "base_index.html" %}

{% block content %}

{% block arriba %}
<div class="col-md-8 column ">
	<ul class="breadcrumb">
		<li>
			<h4><a href="{% url 'citas:index' 'autor' %}">Frases</a></h4> 
			<span class="divider"></span>
		</li>
	</ul>
</div>
{% endblock arriba %}

{% block botones_control %}
<div class="btn-group btn-group-sm control">
	<button class="btn btn-default {{autor}}" 
	type="button" onclick="location.href='{% url 'citas:index' 'autor' %}';">
	<span class="glyphicon glyphicon-th-list"> </span> Todos
	</button> 
	<button class="btn btn-default {{recientes}} "
	type="button" onclick="location.href='{% url 'citas:index' 'recientes' %}';">
	<span class="glyphicon glyphicon-signal"> </span> Recientes
	</button> 
	<button class="btn btn-default {{populares}} " 
	type="button" onclick="location.href='{% url 'citas:index' 'populares' %}';">
	<span class="glyphicon glyphicon-star"> </span> Populares
	</button>
</div>
{% endblock botones_control %}

{% block tab_control %}
<div class="col-md-8 column ">
	<div class="row clearfix">
		{% include page_template %}
	</div>
</div>
{% endblock tab_control %}

{% block sidebar %}
	<div class="col-md-4 column ">
		<div class = "div_carrusel">
			<div class = "cuadro_carrusel">
			<div class="carousel slide" id="carousel-422808">
				<div class="carousel-inner">
					<div class="item active">
						<img alt="problema cargando imágenes libertarias"class = "logo" src = "{{primera_imagen}}">
					</div>
					{% for i in imagenes_display %}
					<div class="item">
						<img alt="problema cargando imágenes libertarias"class = "logo" src = " {{i}} ">
					</div>
					{% endfor %}

				</div> <a class="left carousel-control" href="#carousel-422808" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-422808" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
			<div>
			</div>
			</div> <!--cuadro_carrusel-->
		</div> <!--div carrousel -->

			<hr>
			<button type="button" class="btn btn-xs btn-info btn_galeria"
			onclick="location.href='{% url 'imagenes:index' 'recientes' %}';">
				Ver galería de imágenes</button>
			<br>
			
			<div>
				<br>
				<br>
				<button type="button" class="btn btn-default" onclick="location.href='{% url 'citas:favoritas' %}';"> Tus frases favoritas
				</button>
				<br> <br>
				<button type="button" class="btn btn-default" 
				onclick="location.href='{% url 'citas:nueva' %}';"> Añade una frase
				</button> 
				<br> <br>
				<a href="{% url 'citas:colaborar_organizar' %}" class="btn" type="button">Ayúdanos a organizar este banco de frases</a>
				<hr>
			</div>
		</div> <!--column 4-->
{% endblock sidebar %}

</div>
{% endblock content %}
{% load staticfiles %}