{% extends "base_index.html" %}
<!--index CITAS -->

{% block extra_css %}
{% load staticfiles %}
<link href="{% static 'css/citas.css' %}" rel="stylesheet">
<link href="{% static 'css/carrusel_sidebar.css' %}" rel="stylesheet">

{% endblock extra_css %}

{% block navbar_mobile_xs %}
<li class = "visible-xs">
{% if user.is_authenticated %}
	<a href="{% url 'imagenes:index' request.user %}">Frases favoritas</a>
{% else %}
	<a href="{% url 'perfiles:login' %}">Login</a>
{% endif %}
</li>
<li class = "visible-xs">
	<a href="{% url 'imagenes:index' 'recientes' %}">Galería de imágenes</a>
</li>
{% endblock navbar_mobile_xs %}

{% block arriba %}
<div class="col-md-7 column">
	<div class = "row">
		<h2 class = "titulo_top"> Banco de Frases </h2>
		<hr class = "titulo_top">
	</div>
</div>
{% endblock arriba %}

{% block botones_control %}
<div class = "col-md-8 div_control">
<div display = "margin-bottom:5px" class="hidden-xs">
	<div class="btn-group btn-group-sm control">
		<button class="btn btn-default {{autor}}" 
		type="button" onclick="location.href='{% url 'citas:index' 'autor' %}';">
		<span class="fa fa-sort-alpha-asc"> </span> Todos
		</button> 
		<button class="btn btn-default {{recientes}} "
		type="button" onclick="location.href='{% url 'citas:index' 'recientes' %}';">
		<span class="fa fa-signal"> </span> Recientes
		</button> 
		<button class="btn btn-default {{populares}} " 
		type="button" onclick="location.href='{% url 'citas:index' 'populares' %}';">
		<span class="fa fa-star"> </span> Populares
		</button>
	</div>	
</div>

<div class = "row visible-xs">
	<div class= "btn-group control">
		 <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"> Frases <span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li class = " {{autor}} ">
				<a href="{% url 'citas:index' 'autor' %}">Autor</a>
			</li>
			<li class = " {{recientes}} ">
				<a href="{% url 'citas:index' 'recientes' %}">Recientes</a>
			</li>
			<li class = " {{populares}}">
				<a href="{% url 'citas:index' 'populares' %}">Populares</a>
			</li>
		</ul>
	</div>
	<div class = "pull-right visible-xs">
	<button type="button" class="btn btn-warning" 
	onclick="location.href='{% url 'citas:nueva' %}';"> Añade una frase
	</button> 
	</div>
</div>
</div>
{% endblock botones_control %}

{% block tab_content %}
<div class = "col-md-6 col-sm-7 col-md-offset-1 col-xs-offset-0 col-xs-12">
		<div class="row clearfix">
			{% include page_template %}
		</div>
	<div class="modal fade" id="modal_reportar" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	        <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
	        <h4 class="modal-title" id="myModalLabel">Has denunciado una frase</h4>
	        </div>
	        <div class="modal-body">
	            <p>Gracias por colaborar con la comunidad de Orilla Libertaria. Las frases se remueven de Banco de Frases cuando cuatro usuarios con más de 10 puntos las denuncian.</p>
	        </div>
	    </div>
	  </div>
	</div>
</div>
{% endblock tab_content %}

{% block sidebar %}
<div class="hidden-xs col-md-4 col-sm-4 column">
		<div>
			<br>
			<button type="button" class="btn btn-warning btn_sidebar" 
			onclick="location.href='{% url 'citas:nueva' %}';"> Añade una frase
			</button>
			{% if user.is_authenticated %}
			<button type="button" class="btn btn-default btn_sidebar" onclick="location.href='{% url 'citas:favoritas' request.user %}';"> Tus frases favoritas
			{% else %}
			<button type="button" class="btn btn-default btn_sidebar" onclick="location.href='{% url 'perfiles:login'  %}';">	
				<span class = "fa fa-lock"></span> Login - Favoritas
			{% endif %}
			</button>
			<button type="button" class="btn btn-default btn_sidebar" 
			onclick="location.href='{% url 'imagenes:index' 'recientes' %}';">Galería de Imágenes
			</button>
			<br>
			<button type="button" class="btn btn-link btn_sidebar" 
			onclick="location.href='{% url 'citas:colaborar_organizar' %}';"><i class="fa fa-wrench"></i> <small> Ayúdanos a organizar este Banco de Frases </small>
			</button>
			<hr class = "sidebar_cita">
		</div>
	<div class = "hidden-sm">
		<div class = " visible-lg visible-md div_carrusel">
		<div id="owl-demo" class="owl-carousel owl-theme cuadro_carrusel tema_slide_imagenes">
			{% for i in imagenes_display %}
			<div class="item"><img src="{{i}}" alt="404 imagen libertaria"></div>
			{% endfor %}
		</div>
		</div>
		<hr class = "sidebar_cita">
		<button type="button" class="btn btn-xs btn-info btn_galeria"
		onclick="location.href='{% url 'imagenes:index' 'recientes' %}';">
			Ver galería de imágenes</button>
	</div> <!--div carrousel -->
		<br>
	
	</div> <!--column 4-->
{% endblock sidebar %}

{% block javascript %}
{% load staticfiles %}
<script src="{% static 'js/cita_favorita.js' %} "></script>
<script src="{% static 'js/owl.carousel.min.js' %} "></script>
<script>
$(document).ready(function() {	 
	  $("#owl-demo").owlCarousel({
	      navigation : false, // Show next and prev buttons
	      slideSpeed : 300,
	      paginationSpeed : 400,
	      singleItem:true
	 
	      // "singleItem:true" is a shortcut for:
	      // items : 1, 
	      // itemsDesktop : false,
	      // itemsDesktopSmall : false,
	      // itemsTablet: false,
	      // itemsMobile : false
	 
	  });
	 
	});
</script>
{% endblock javascript %}
