{% extends "base_forms.html" %}
{% load crispy_forms_tags %}

{% block form %}
	<ul class="breadcrumb">
			<li>
				<h4><a href="{% url 'citas:index' 'recientes' %}">Frases</a></h4> 
				<span class="divider"></span>
			</li>
			<li>
				<small>Nueva</small> <span class="divider"></span>
			</li>
		</ul>
	<h2> Añade una Frase </h2>
	<form action = "{% url 'citas:nueva' %}" method = "post">
		{% csrf_token %}
		{{FormNuevaCita|crispy}}
		<input class = "btn" type = "submit" value ="enviar"/>
	</form>
{% endblock form %}

{% block form_warning %}
	<h4> Nota </h4>
	<p> Recuerda revisar que tu frase esté bien escrita </p>
{% endblock form_warning %}

{% block description %}
	<dt>
		Description lists
	</dt>
	<dd>
		A description list is perfect for defining terms.
	</dd>
	<dt>
		Euismod
	</dt>
	<dd>
		Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
	</dd>
	<dd>
		Donec id elit non mi porta gravida at eget metus.
	</dd>
	<dt>
		Malesuada porta
	</dt>
	<dd>
		Etiam porta sem malesuada magna mollis euismod.
	</dd>
	<dt>
		Felis euismod semper eget lacinia
	</dt>
	<dd>
		Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
	</dd>
{% endblock description %}