{% extends "base_forms.html" %}
{% load staticfiles %}
<!--Nueva frase Form-->


{% block form_specific_css %}
<link href="{% static 'css/jquery-ui.min_ol_autocomplete.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery-ui.structure.min_ol_autocomplete.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery-ui.theme.min_ol_autocomplete.css' %}" rel="stylesheet">
{% endblock form_specific_css %}


{% block arriba %}
<div class = "row titulo_con_barco">
	<h2> Añade una frase </h2>
	<img style = "margin-right:20px" class = "barco_logo pull-right" src="{% static '/static/img/barco_amagi.png' %}">
	<br/>
</div>
{% endblock arriba%}

{% block form %}
<div class = "col-md-10 col-md-offset-1">
<div class = "form_margins">
	<div class = "row">
		<form id = "formulario" class = "form-horizontal" action = "{% url 'citas:nueva' %}" method = "post">
			{% csrf_token %}
			{{FormNuevaCita.non_field_errors}}
			<fieldset>

			<div class = "form-group">
				{{FormNuevaCita.texto.errors}}
				<label class = "control-label" for="texto"> Frase* </label>
				<div class = "row textarea_form">
				{{FormNuevaCita.texto}}
				<span class="help-block">No escribas comillas, se añaden automáticamente</span>
				</div>
			</div>

			<div class = "form-group">
				{{FormNuevaCita.autor.errors}}
				<label class = "control-label" for="autor"> Autor* </label>
				{{FormNuevaCita.autor}}
				<span class="help-block">Evita repeticiones</span>
			</div>

			<div class = "form-group">
				{{FormNuevaCita.fuente.errors}}
				<label class = "control-label" for="fuente"> Fuente </label>
				{{FormNuevaCita.fuente}}
				<span class="help-block">Libro, artículo, video, audio</span>
			</div>

			<div class = "form-group">
				<label class = "control-label" for="checkbox">
				<span class = "fa fa-unlock-alt"></span>
				</label>
				<label class = "checkbox-inline" for="checkbox">
					<input name="check" id ="checkbox" value="1"
					type="checkbox">
					<small>
					Revisé que ésta frase es nueva en Orilla Libertaria
					</small>
				</label>
			</div>

		<!-- bersuit vergarabat -->
		<div class = "form-group vergarabat">
			<label class = "control-label" for = "vergarabat">
				Cuánto es cuatro mas cinco?
			</label>
			<input name = "vergarabat" id = "vergarabat" type = "text">
			<span class = "help-block">Responde solo si no eres humano. </span>
		</div>

		<div class = "form-group">
			<label class = "control-label" for = "bersuit">
				¿Cuánto es {{lista_bersuit.0}} mas {{lista_bersuit.1}}?
				<p id = "bv" class = "bv">{{lista_bersuit.2}}</p>
			</label>
			<br>
			<input name = "bersuit" value = "m" type = "radio">1819
			<input name = "bersuit" value = "cinco" type = "radio">5
			<input name = "bersuit" value = "ocho" type = "radio">8
			<span class = "help-block">Para asegurarnos que eres <i class = "fa fa-child"></i> y no 
			<i class = "fa fa-bug"></i>. </span>
		</div>
		<!--bersuit vergarabat-->

			</fieldset>
			<input class = "btn pull-right" type = "submit" value ="enviar"/>
		</form>
	</div>
	<div class = "row">
	<h5 class = "text-muted pull-right">
		<span class="fa fa-check-circle"></span> Gracias por aportar a la comunidad
	</h5>
	</div>
</div>
</div>
{% endblock form %}

{% block description %}

<div class="alert alert-dismissable alert-warning">
	 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
	 <i class = "fa fa-check"></i> </button>
	 <strong> Para añadir una frase: </strong> Asegúrate que la frase no exista en el <a class = "link_alert" href=" {% url 'citas:index' 'autor' %} ">banco de frases</a>. Una vez enviada la frase, no podrás editarla, será un "wiki" de la comunidad.
</div>

<div class="alert alert-dismissable alert-info">
	 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
	 <i class = "fa fa-check"></i> </button>
	 <strong> Revisa la lista de autores </strong> y trata de usar los nombres de la manera en que ya están escritos. El objetivo es no existan tres autores "F.Hayek", "Friedrich Hayek" y "Friedrich August von Hayek", sino solamente uno: Friedrich Hayek.
</div>

<div>
	<br><br><br>
	<dt>
		Lista de autores:
	</dt>
	<ul class="list-group citas_lista_autores">
		{% for autor in lista_de_autores %}
	  <li class="list-group-item"> {{autor}} </li>
	  	{% endfor %}
	</ul>
</div>

{% endblock description %}

{% block extra_javascript %}
<script>
$(document).ready(function(){
	var autores_json = JSON.parse('{{lista_de_autores_json|safe}}');
	$("#autor").autocomplete({
		source: autores_json,
		minLength: 2,
		autoFocus: true
	});
	
  /* bersuit vergarabat*/
  $.validator.addMethod("seleccion_correcta", function(value, element){
    var respuesta = $("#bv").text();
    if(value == respuesta){
      return true;
    }
    else{
      return false;
    }
  });

  $.validator.addMethod('empty', function(value, element){
    return (value === '');
  });
  /* bersuit vergarabat*/

	$('#formulario').validate({
		rules: {
			texto: {
				required: true,
				minlength: 10,
				maxlength: 500,
			},
			autor: {
				required: true,
				maxlength: 75,
			},
			fuente: {
				required: false,
				maxlength: 75,
			},
			check: {
				required: true,
			},

	      /* bersuit vergarabat*/
		    bersuit:{
		        required: true,
		        seleccion_correcta: true
		      },
		    vergarabat:{
		        empty: true
		      }
	      /*bersuit vergarabat*/
		},

		errorElement: "span",
		onfocusout: false,
		onkeyup: false,
		messages: {
			texto: "*Escribe una frase de mínimo 10 y máximo 500 caracteres.",
			autor: "*Proporciona un autor, hasta 75 caracteres.",
			fuente: "*máximo 75 caracteres.",
			check: "*Esto es importante:",
			bersuit: "¿Eres humano?",
			vergarabat: "Si no eres un spam bot, contáctanos y cuéntanos de este error. Recuerda que ésta página está programada para Firefox y Chrome."
		}
	});
});

</script>
{% endblock extra_javascript %}