{% extends "base_forms.html" %}

{% block arriba %}
<div class = "row titulo_con_barco">
	<h2> Añade una frase </h2>
	<img style = "margin-right:20px" class = "barco_logo pull-right" src="http://i269.photobucket.com/albums/jj43/comentarioshi5/dibujos-para-pintar/barco-pirata/06.gif">
	<br/>
</div>
{% endblock arriba%}

{% block form %}
<div class = "col-md-10 col-md-offset-1">
<div class = "form_margins">
	<div class = "row">
		<form id = "formulario" class = "form-horizontal" action = "{% url 'citas:nueva' %}" method = "post">
			{% csrf_token %}
			{{FormNuevaCita.non_field_errors}}
			<fieldset>

			<div class = "form-group">
				{{FormNuevaCita.texto.errors}}
				<label class = "control-label" for="texto"> Frase* </label>
				<div class = "row textarea_form">
				{{FormNuevaCita.texto}}
				<span class="help-block">No escribas comillas, se añaden automáticamente</span>
				</div>
			</div>

			<div class = "form-group">
				{{FormNuevaCita.autor.errors}}
				<label class = "control-label" for="autor"> Autor* </label>
				{{FormNuevaCita.autor}}
				<span class="help-block">Evita repeticiones</span>
			</div>

			<div class = "form-group">
				{{FormNuevaCita.fuente.errors}}
				<label class = "control-label" for="fuente"> Fuente </label>
				{{FormNuevaCita.fuente}}
				<span class="help-block">Libro, artículo, video, audio</span>
			</div>

			<div class = "form-group">
				<label class = "control-label" for="checkbox">
				<span class = "fa fa-unlock-alt"></span>
				</label>
				<label class = "checkbox-inline" for="checkbox">
					<input name="check" id ="checkbox" value="1"
					type="checkbox">
					<small>
					Revisé que ésta frase es nueva en Orilla Libertaria
					</small>
				</label>
			</div>

			</fieldset>
			<input class = "btn pull-right" type = "submit" value ="enviar"/>
		</form>
	</div>
	<div class = "row">
	<h5 class = "text-muted pull-right">
		<span class="fa fa-check-circle"></span> Gracias por aportar a la comunidad
	</h5>
	</div>
</div>
</div>
{% endblock form %}

{% block description %}
	<dt>
		Para añadir una frase:
	</dt>
	<dd>
		Asegúrate que la frase no exista en el <a href=" {% url 'citas:index' 'autor' %} ">banco de frases</a>. También, para mantener el banco de frases ordenado, revisa la lista de autores y trata de usar los nombres de la manera en que ya están escritos. El objetivo es no existan tres autores "F.Hayek", "Friedrich Hayek" y "Friedrich August von Hayek", sino solamente uno: Friedrich Hayek.
	</dd>

<div>
	<br><br><br>
	<dt>
		Lista de autores:
	</dt>
	<ul class="list-group citas_lista_autores">
		{% for autor in lista_de_autores %}
	  <li class="list-group-item"> {{autor}} </li>
	  	{% endfor %}
	</ul>
</div>

{% endblock description %}

{% block extra_javascript %}
<script>
$(document).ready(function(){
	$('#formulario').validate({
		rules: {
			texto: {
				required: true,
				minlength: 15,
				maxlength: 1000
			},
			autor: {
				required: true,
				maxlength: 75,
			},
			check: {
				required: true,
			}
		},
		errorElement: "span",
		onfocusout: false,
		onkeyup: false,
		messages: {
			texto: "*Escribe una frase de mínimo 15 y máximo 1000 caracteres.",
			autor: "*Proporciona un autor, hasta 75 caracteres.",
			check: "*Esto es importante:"
		}
	});
});
</script>
{% endblock extra_javascript %}