{% load endless %}

{% paginate imagenes %}
<div class = "row">
	<div class = "endless_page_template">
		{% for i in imagenes %}
        <div class="span3 galery"> <!--span cambiado -->
            <div class="image-galery"><a class="group" rel="group1" href="{{i.0.url}}"><img class = "thumbnail" src=" {{i.0.url}} " /></a></div>
              <div>
                <p class = "hidden">{{i.0.id}}</p>
                <span class='estrella fa fa-star fa-lg {{i.1}}'></span>
            	<p class = "favoritos"> {{i.0.favoritos_recibidos}} </p>
                <span class="reportar fa fa-flag"></span>
            </div>
        </div>
        {% endfor %}
	</div>
</div>
<div class = "row">
<div class ="col-md-12">
<hr>
<div class = "paginacion">
{% show_pages %}
</div>
</br>
</br>
</br>
</div>
</div>
