{% load endless %}

{% paginate 20 imagenes %}
<div class = "row">
	<div class = "endless_page_template">
		{% for i in imagenes %}
            <div class="col-lg-3 col-sm-5 col-xs-11 panel_imagen">
                <div class = "panel panel-default">
                    <div class = "panel-body">
                        <img data-toggle="modal" data-target="#modal_imagen" src="{{i.0.url}}" class="imagen thumbnail img-responsive">
                        <div class = "row">
                        <p id = "imagen_{{forloop.counter}}" data-counter="{{forloop.counter}}" class = "forloop_counter hidden">{{forloop.counter}}</p>
                        <p class = "imagen_id hidden">{{i.0.id}}</p>
                        <p class = "favoritos">{{i.0.favoritos_recibidos}}</p>
                        {% if user.is_authenticated %}
                        <span class='estrella marcar_favorito fa fa-star fa-lg {{i.1}} '></span>
                        <span rel="tooltip" title="Denunciar Imagen" class="pull-right reportar fa fa-flag "></span>
                        {% else %}
                        <span class='estrella fa fa-star'></span>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
	</div>
</div>
<div class = "row">
<div class ="col-md-12">
<hr>
<div class = "paginacion">
{% show_pages %}
</div>
</br>
</br>
</br>
</div>
</div>
