{% load endless %}

{% paginate 50 citas %}
<div class = "row">
	<div class = "col-md-12">
		<div class = "endless_page_template">
			{% for c in citas %}
			<div class = "row clearfix">
				<div class="panel panel-info">
					<div class="panel-body">
						<blockquote>
							<p class = "text">
								"{{c.0.3|safe}}"
							</p><small>{{c.0.0.autor}} {% if c.0.1 %}, {{c.0.2}} {% endif %} </small>
						</blockquote>
					</div>
					<div class="panel-footer">
						<a href="{% url 'citas:cita' c.0.0.id  %}"><small><span class = "fa fa-external-link"></span></small></a>
						{% if user.is_authenticated %}
						<a href = "#" data-toggle="modal" data-target = "#modal_reportar"><i rel="tooltip" title = "Reportar" class="action_footer fa fa-flag"></i></a>
						<p class = "hidden"> {{c.0.0.id}} </p>
						<i class="estrella marcar_favorito fa fa-star-o fa-lg {{c.1}}"></i>
						{% else %}
						<i class = "fa fa-star"></i>
						{% endif %}
						<p class = "cita_favoritos" > {{c.0.0.favoritos_recibidos}}</p>
						<br/>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class = "row">
		<hr>
		<div class = "paginacion">
		{% show_pages %}
		</div>
		</br>
		</br>
		</br>
	</div> <!--row-->
</div>