{% load endless %}

{% paginate citas %}
<div class = "row">
	<div class = "endless_page_template">
		{% for c in citas %}
		<div class="col-md-11 column">
			<blockquote>
				<p>
					"{{c.texto}}"
				</p> <small>{{c.autor}}, <cite>{{c.fuente}}</cite></small>
			</blockquote>
		</div>
		<div class="col-md-1 column">
				<a href = "{% url 'citas:marcar_favorito' c.id %}">
				<span class="glyphicon glyphicon-star"></span></a>
					<br/>
					<p>{{c.favoritos_recibidos}}</p>
					<br/>
				<a href = "{% url 'citas:denunciar_cita' c.id %}">
				<span class="glyphicon glyphicon-flag"></span></a>
			<hr>
		</div>
		{% endfor %}
	</div>
</div>
<div class = "row">
<div class ="col-md-12">
<hr>
<div class = "paginacion">
{% show_pages %}
</div>
</br>
</br>
</br>
</div>
</div>