.borde {
  border: 1px solid red;
}

body {
    padding-top: 5px;
	background:#fafafa;
    background: url(../img/body-bg.png) repeat;
	}  

.control_galeria{
	margin-top: 30px;
}

.panel_imagen{
	margin: 30px;
}
.panel_imagen .panel{
	max-width: 300px !important;
}
.estrella {
	display: inline-block;
	margin-left: 5px;
	cursor: pointer;
	margin-bottom: 0px;
	margin-top: 0px;
}
.favoritos {
	display: inline-block;
	margin-left: 10px;
    font-weight: bold;
	margin-bottom: 0px;
	margin-top: 0px;
}
.reportar {
	display: inline-block;
    cursor: pointer;
    margin: 5px;
}
.imagen {
	cursor: pointer;
	height: 250px;
	width: 250px;
	display: inline-block;
	margin-bottom: 5px;
}
.es_favorita{
	color:#ffd700;
}
.icono_portada {
  	cursor: default;
	width:auto;
  	display: inline-block;
}
.marcar_portada {
	cursor: pointer;
}

/* modal */
.modal-dialog{
	width: 640px !important;
}
.modal_left{
	margin-left: 190px;
	cursor: pointer;
	width: 30px;
	text-align: center
}
.puzzle_modal{
	margin-left: 30px;
	cursor: default;
}
.modal_right{
	margin-left: 25px;
	cursor: pointer;
	width: 25px;
	text-align: center
}
.imagen_modal{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	height: auto;
}
.link_imagen{
	margin-left: 190px;
	color: #000000;
  	text-shadow: 0 1px 0 #ffffff;
  	opacity: 0.2;
  	filter: alpha(opacity=20);
}

.link_imagen:hover,
.link_imagen:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}


/* Colaborar organizar */

