/* css para los thumbnails de temas/main */
.post_front_parcial{
  overflow: scroll;
}

.thumb_hover .overlay{
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}

.titulo_videos_populares{
  margin-left: 20px;
}

.titulo_post_popular{
  margin-left: 10px;
}

/*overlay videos */
.thumb_video:hover .overlay_videos{
  opacity: 0.8;
}

.overlay_videos{
  position:absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100px;
  background: #fff;
  opacity: 0;
}

.overlay_favoritos{
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
  margin-left: 10px;
}

.overlay_favoritos p{
  font-weight: bold;
  margin-bottom: 0px;
  display: inline-block;
}
.overlay_favoritos span{
  margin-top: 0px;
  display: inline-block;
}

.overlay_p{
  display: inline-block;
  font-weight: bold;
  margin-top: 10px;
  width: 150px;
  margin-left: 25px;

}

/* overlay post */
#post_front .overlay_post{
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}

#post_front:hover .overlay_post{
  opacity: 0.8;
}

#post_front .ver_post_overlay{
  transition:opacity 1.5s;
  -webkit-transition:opacity 1.5s;
}
#post_front:hover .ver_post_overlay{
  opacity: 0.8;
}

.overlay_post{
  position:absolute;
  width: 350px;
  height: 60px;
  background: #fff;
  opacity: 0;
  margin-top: 5px;
  margin-left: 5px;
}

.overlay_post_perfil{
  width: 170px;
  height: 60px;
  display: inline-block;
  margin-left: 15px;
}

.overlay_post_tema{
  width: 170px;
  height: 60px;
  margin-right: 15px;
  display: inline-block;
}
.overlay_tema_nombre{
  margin-right: 5px;
  margin-top: 12px;
  text-align: right;
  font-weight: bold;
}
.overlay_perfil_nombre{
  margin-left: 5px;
  margin-top: 12px;
  float:left;
  font-weight: bold;
}
.imagen_tema_overlay{
  margin-left: 0px;
  margin-right: 20px;
  float: right;
}
.imagen_perfil_overlay{
  margin-left: 15px;
  float:left;
}

/*franja ver post overlay */
.ver_post_overlay{
  position: absolute;
  background: #fff;
  opacity: 0;
  margin-top: 75px;
  margin-left: 5px;
  height: 49px;
  width: 350px;
}

.ver_post_div{
  margin-left: 100px;
}
.ver_post_p{
  height: 49px;
}
.ver_post_puntos{
  display: inline-block; 
  vertical-align: middle;
  font-weight: bold;
  text-align: center;
  position: relative; 
  padding: 15px 0;
}
.ver_post_text{
  display: inline-block; 
  margin-top: 10px;
  margin-left: 10px;
}

.ver_post_comments{
  float:right;
  margin-top: 25px;
  margin-right: 30px;
}
.thumbnail_main_post{
	min-height: 115px;
}

.thumbnail_main_post img{
	margin-right: 10px;
	height: 100px;
}

.thumbnail_main_div{
	overflow: hidden;
	height: 200px;
}

.thumbnail_main_div > img {
  display: block;
  min-height: 200px;
  height: auto;
  width: 100%;
}

/*thumbnail videos*/
.imagen_video{
  max-height: 150px;
  margin-bottom: 10px;
}

.imagen_video_small{
  float: right;
  max-height: 150px;
  margin-bottom: 10px;
  margin-right: 5px;  
}

.video_des_small{
  display: inline-block;
  height: 150px;
}
.video_des_small p{
  margin:15px;
}

.autor_titulo_video_thumb{
  margin-top: 50px;
  margin-left: 15px;
}

/*buscar main */
.boton_buscar_main{
  margin-bottom: 5px;
}

.datos_olibertaria{
  color: gray;
}

.datos_olibertaria > small{
  color: #c09853;
}


/* css para temas/main general */

.main_sidebar_btns{
	margin-left: 30px;
}

.icono_actividad{
  text-align: center;
}

/* css para el panel con el tema y el link */
.flecha{
  top:30%;
  height: 60%;
  margin:-25% 0 0 -10%;
}

.col_flecha{
  height: 110px;
}

.post_actividad{
  margin-left: 20px;
  border: 1px solid red;
}