
/* css para los thumbnails de temas/main */

.thumbnail_main_post{
	min-height: 115px;
}

.thumbnail_main_post img{
	margin-right: 10px;
	height: 100px;
}

.thumbnail_main_div{
	overflow: hidden;
	height: 200px;
}

.thumbnail_main_div > img {
  display: block;
  min-height: 200px;
  height: auto;
  width: 100%;
}

/* css para temas/main general */

.main_sidebar_btns{
	margin-left: 30px
}

/* css para el panel con el tema y el link */
.flecha{
  top:30%;
  height: 60%;
  margin:-25% 0 0 -10%;
}

.col_flecha{
  height: 110px;
}