/* css para el cuadro de notificaciones */
.notificacion_obj{
	font-weight: bold;
}

.ver_todas_link{
	display: inline-block;
}
.ver_todas_link button{
	height: 40px
}

.marcar_leidas_cuadro{
	display: inline-block;
	height: 40px;
	float: right;
}


.no_leida{
	background-color: #fcf8e3
}

.imagen_notificacion{
	max-height: 48px;
	max-width: 48px;
	margin-bottom: 5px;
	margin-left: 2px;
	border-top-left-radius: 10px 5px;
	border-bottom-right-radius: 10% 5%;
	border-top-right-radius: 10px;
	border-color: #FFBD32;
	border-style: ridge;
	border-width: 2px;
	padding: 2px
}

.lista_notificaciones{
	margin-bottom: 5px;
}
.lista_notificaciones >li{
	height: 85px;
	overflow: auto;
}

.cuadro_notificaciones{
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	padding: 10px;
	width: 300px;
	height: 500px;
	background-color: #ffffff;
	border: 1px solid #999999;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	outline: none;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	      box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	background-clip: padding-box;

}

/* css especifico para pagina de todas las notificaciones */


.btn_marcar_leidas{
	margin-left: 30px;
}

.lista_notificaciones_todas >li{
	height: 75px;
	overflow: auto;
}