/* css para el cuadro de notificaciones */
.ver_todas_link{
	margin-left: 10px;
}

.btn_marcar_leidas{
	margin-left: 30px;
}

.no_leida{
	background-color: #fcf8e3
}

.imagen_notificacion{
	max-height: 48px;
	max-width: 48px;
	margin-bottom: 5px;
	margin-left: 2px;
	border-top-left-radius: 10px 5px;
	border-bottom-right-radius: 10% 5%;
	border-top-right-radius: 10px;
	border-color: #FFBD32;
	border-style: ridge;
	border-width: 2px;
	padding: 2px
}

.lista_notificaciones{
	margin-bottom: 5px;
}
.lista_notificaciones_todas >li{
	height: 75px;
	overflow: auto;
}

.no-close .ui-dialog-titlebar-close {
	display: none;
}

.ui-dialog-buttonset{
	position: relative;
	float:right;
	border-radius: 6px;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	background-clip: padding-box;
}

.cuadro_notificaciones{

	margin-top: 50px;
	padding: 10px;
	background-color: #ffffff;
	border: 1px solid #999999;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	outline: none;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	      box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	background-clip: padding-box;

}

