/* css para el navbar */
.logo{
	display: inline-block;
	height: 60px;
	margin-top: -15px;
	margin-bottom: 0px;
	width: auto;
}

.display_inline_block{
	display: inline-block;
}

.nombre_perfil{
	display: inline-block;
	margin-right: 5px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.glyphicon_perfil{
	display: inline;
}


/* css para el control de tipo de entradas. "Activo", "Popular", etc. */
.div_control{
	margin-bottom: 10px;
}
.control_titulo{
	display: inline-block;
}

.control{
	margin-bottom: 10px;
	display: inline-block;
	margin-left: 25px;
}

/* paginacion */
.paginacion{
	float:right;
}

/* thumbnail imagen tema */
.imagen_tema{
display: block;
max-height: 150px;
width:auto;
border-top-left-radius: 10px 5px;
border-bottom-right-radius: 10% 5%;
border-top-right-radius: 10px;
border-color: #FFBD32; 
border-style: ridge;
border-width: 2px;
padding: 5px
}

.div_imagen_tema{
	display: inline-block;
	float:right;
}

.div_imagen_tema_post{
	display: block;
	margin-left: 75px;
}

/*css para el sidebar*/
.btn_sidebar{
	display: block;
	margin-top: 5px;
	margin-left: 40px;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

.sidebar_cita{
	margin-left: 30px
}

/* otros */
.leer_mas{
	cursor: pointer;
	color: #428BCA;
}

.whitespace_pre{
	text-align: left;
	white-space: pre;
}
.estrella {
	display: inline-block;
  	cursor: pointer;
}
.dorado {
	color: #ffd700;
}
.red{
  color: red;
}
.titulo_top{
	margin-left: 30px;
}