/*css para el perfil*/
.puntos_posts{
	display: block;
}
.cita_small{
	font-size: 100%;
}
.div_perfil_datos{
	margin-left: 40px;
}
.perfil_panel_sm{
	margin-top: 20px;
	margin-right: 20px;
}
.nombre_usuario{
	margin-top: 0px;
	margin-left: 80px;
}
.frase_perfil{
	display: inline-block;
	height: 100px;
	width: 200px;
}

.imagenes_frases_perfil{
	display: inline-block;
	margin-top: 5px;
	width: 200px;
}

.div_imagen_perfil{
	padding: 2px;
	display: inline-block;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
	border-top-left-radius: 10px 5px;
	border-bottom-right-radius: 10% 5%;
	border-top-right-radius: 10px;
}

.imagen_perfil{
	display: block;
	height: 175px !important;
	width: 200px;
	border-top-left-radius: 10px 5px;
	border-bottom-right-radius: 10% 5%;
	border-top-right-radius: 10px;
}
.imagenes_portada{
	margin-left: 60px;
}
