.logo {
	height: 50px;
	width: auto;
}
.links {
	float: left;
}

.imagen_carrusel {
	max-height: 300px;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;

}
.div_carrusel {
	height: 300px;
	overflow: hidden;
}