
/* css para el panel con el post y los votos */
.inline_block{
	display:inline-block;
}
.post_resaltado{
	border: 2px solid transparent;
	border-radius: 4px;
	border-color: #faebcc;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
#mostrar_post_padre{
	margin-left: 10px;
	cursor: pointer;
}
.control_votos{
	vertical-align: center;
	max-width: 80px;
}
.puntaje{
	height: 50px;
	cursor: default;
	color: #333333;
	background-color: #ffffff;
	border-color: #cccccc;
}
.numero_puntaje{
	height: 40px;
	vertical-align: top;
	margin-top: 5px;
}
.nombre_fecha{
	margin-left: 10px;
	display: inline-block;
}
.eliminar_editar{
	text-align: right;
	text-decoration: none;
	font-size: 8px;
	margin-left: 5px;
}
.eliminar_post{
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	color: #333333;
	white-space: nowrap;
}
.footer_respuestas{
	display: inline-block;
}


/*css para el post y las respuestas */
.form_respuesta{
	display: block;
	max-width: 475px;
	margin-left: 20px;
}

.post_datos_tema{
	display:block;
	margin-left: 70px;
	margin-top: 10px;
}