/* css para el panel con el post y los votos */
.respuesta_post{
	margin-top: 5px;
	border-bottom: 1px solid;
	border-color: #bce8f1;
}

.perfil_pequena_respuesta a img{
	display: inline-block;
	max-width: 35px;
	max-height: 35px;
	padding: 0px;
	margin-top:5px;
	width:auto;
	border-top-left-radius: 10px 5px;
	border-bottom-right-radius: 10% 5%;
	border-top-right-radius: 10px;
}
.perfil_pequena_respuesta{
	display: inline-block;
	max-height: 40px;
	max-width: 40px;
	padding: 0px
}

.inline_block{
	display:inline-block;
}
.post_resaltado_warning{
	border: 4px solid transparent;
	border-radius: 4px;
	border-color: #faebcc;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.post_resaltado_success{
	border: 4px solid transparent;
	border-radius: 4px;
	border-color: #d6e9c6;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.post_resaltado_info{
	border: 4px solid transparent;
	border-radius: 4px;
	border-color: #bce8f1;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
#mostrar_post_padre{
	margin-left: 10px;
	cursor: pointer;
}
.control_votos{
	vertical-align: center;
	max-width: 80px;
}
.puntaje{
	height: 50px;
	cursor: default;
	color: #333333;
	background-color: #ffffff;
	border-color: #cccccc;
}
.numero_puntaje{
	height: 40px;
	vertical-align: top;
	margin-top: 5px;
}
.nombre_fecha{
	margin-left: 10px;
	display: inline-block;
}
.eliminar_editar{
	text-align: right;
	text-decoration: none;
	font-size: 8px;
	margin-left: 5px;
	margin-right: 25px;
}
.eliminar_post{
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	color: #333333;
	white-space: nowrap;
}
.footer_respuestas{
	display: inline-block;
}


/*css para el post y las respuestas */
.form_respuesta{
	display: block;
	max-width: 475px;
	margin-left: 20px;
}

.post_datos_tema{
	display:block;
	margin-left: 70px;
	margin-top: 10px;
}

.div_goback_tema{
  	border: 1px solid #dddddd;
  	border-radius: 4px;
  	-webkit-transition: all 0.2s ease-in-out;
    	    transition: all 0.2s ease-in-out;
}

.goback_tema{
}
.goback_tema img{
	display: inline;
	max-height: 80px;
	width: auto;
	margin: 5px;
}
.goback_tema h1{
	display: inline-block;
	margin-left: 5px;
}
