{% extends "base.html" %}

{% block content %}
<div class = "col-md-10 col-md-offset-1">
	<br/>
	<h6> Resultados para <i>"{{query_string}}"</i> </h6>
	<br/>
</div>
<div class="row clearfix">
		<div class="col-md-8 column col-md-offset-1">
			{% for x in temas_encontrados %}
			<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a href = "{% url 'temas:index_tema' x.0.slug 'ultimos' %}">  {{x.0.nombre}} </a>
				</h3>
			</div>
			<div class="panel-body">
				<div class = "div_imagen_tema">
					<img class = "imagen_tema" src = "{{x.1}}">
				</div>
			<p class = "text">
				{{x.2|truncatewords:70}} <br/>
			</p>
			</div>
			<div class = "panel-footer">
				<p> <small> {{x.3}} posts y 15 videos desde el {{x.0.fecha_creacion|date:"SHORT_DATE_FORMAT"}} </small> </p>
			</div>
		</div>
			{% endfor %}
		</div>

</div>
</body>
{% endblock content %}