{% extends "base.html" %}

{% block content %}
<div class = "col-md-10 col-md-offset-1">
	<br/>
	<h6> Resultados para <i>"{{query_string}}"</i> </h6>
	<br/>
</div>
<div class="row clearfix">
		<div class="col-md-8 column col-md-offset-1">
			{% for x in found_entries %}
			<div class="row clearfix cuadro_panel">
				<div class="col-md-11 column">
					<div class="panel panel-default">
						<div class="panel-body">
							<h4>
								{{ x.nombre }}<small> {{x.descripcion|truncatewords:50}}
								</small>
							</h4>
						</div>
						<div class="panel-footer">
							<small> Creado el {{x.fecha_creacion|date:"d M Y"}}
							</small>
						</div>
					</div>
				</div>
					<a href = "{% url 'temas:index_tema' x.slug 'recientes' %} ">
				<div class="col-md-1 column col_flecha">
					<span class="glyphicon glyphicon-chevron-right flecha"></span> 
				</div>
					</a>
			</div>
			{% endfor %}
		</div>

</div>
</body>
{% endblock content %}