{% extends "base_forms.html" %}
{% load staticfiles %}

{% block arriba %}
<div class = "row titulo_con_barco">
	<h2> Editar tema <a href = "{% url 'temas:index_tema' tema.slug 'recientes' %}"> {{tema.nombre}}</a> </h2>
	<img style = "margin-right:20px" class = "barco_logo pull-right" src="{% static '/static/img/barco_espin.png' %}">
	<br/>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			{% if tiene_descripcion %}
			Imagen y descripción actual.
			{% else %}
			El tema {{tema.nombre}} no tiene descripción, todavía.
			{% endif %}
		</h3>
	</div>
	<div class="panel-body">
		<img class = "imagen_editar_tema" src = "{{imagen}}">
		<p class = "des_editar_tema text">
			{{ultima_edicion}}
		</p>
	</div>
</div>
{% endblock arriba %}

{% block form %}
<form class = "form-horizontal" id = "formulario" action = "{% url 'temas:editar_tema' tema.slug %}" method = "post"> 
	{% csrf_token %}
		<fieldset>
		<div class = "form-group">
			<label class = "control-label" for = "texto"> Descripción </label>
			<div class = "row textarea_form">
			{{form_editar_tema.descripcion}}
			</div>
			<span class = "help-block"> Edita la descripción al tema. Min 150 caracteres. </span>
		</div>

		<div class = "form-group">
			<label class = "control-label" for = "imagen"> Imagen </label>
			{{form_editar_tema.imagen}}
			<span class = "help-block"> Cambia la imagen del tema. Pega una url a una nueva imagen. </span>
		</div>

		<!-- bersuit vergarabat -->
		<div class = "form-group vergarabat">
			<label class = "control-label" for = "vergarabat">
				Cuánto es cuatro mas cinco?
			</label>
			<input name = "vergarabat" id = "vergarabat" type = "text">
			<span class = "help-block">Responde solo si no eres humano. </span>
		</div>

		<div class = "form-group">
			<label class = "control-label" for = "bersuit">
				¿Cuánto es {{lista_bersuit.0}} mas {{lista_bersuit.1}}?
				<p id = "bv" class = "bv">{{lista_bersuit.2}}</p>
			</label>
			<br>
			<input name = "bersuit" value = "m" type = "radio">1819
			<input name = "bersuit" value = "cinco" type = "radio">5
			<input name = "bersuit" value = "ocho" type = "radio">8
			<span class = "help-block">Para asegurarnos que eres <i class = "fa fa-child"></i> y no 
			<i class = "fa fa-bug"></i>. </span>
		</div>
		<!--bersuit vergarabat-->

		</fieldset>
	<input class = "btn pull-right" type = "submit" value = "Enviar"/>
</form>
{% endblock form %}

{% block description %}

{% if ha_sido_editado %}
	<dt> Es importante que cualquier edición se refiera al mismo concepto, así mantenemos el contenido coherente.</dt>
	<dd>
	<div class="panel-link">
		<div>
			 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-72" href="#panel-element-8007"> <small> Mostrar descripción original del tema </small> </a>
		</div>
		<div id="panel-element-8007" class="panel-collapse collapse">
			<div>
			<p class = "text">
				{{primera_edicion}}
			</p>
			</div>
		</div>
	</div>
	</dd>
{% elif tiene_descripcion %}
	<dt> Asegúrate que tu edición se refiera al mismo concepto, así mantenemos el contenido coherente.</dt>
{% else %}
	<dt>
		Cobora con la comunidad de Orilla Libertaria escribiendo una descripción del tema {{tema.nombre}}.
	</dt>
		<br>
	<dd>
		La descripción del tema debe explicar de qué se trata. Se recomienda ofrecer detalles objectivos que acerquen a los cibernautas, libertarios o no, al concepto sobre el cual se va a compartir contanido. 
		<br>
		Cualquier usuario con suficiente reputación podrá editar la descripción del tema, así, con el tiempo se podrá desarrollar una explicación más completa.
	</dd>
		

{% endif %}

<dt>
	<br><br>
	Imagen:
</dt>
<dd>
	Pega el url de una imagen que pueda representar al tema. <br>
	Por ahora no hay como subir imágenes a OrillaLibertaria, piénsalo como una isla a la que llegan barcos con el contenido que han podido recolectar en el océano de blogs, noticias, videos e imágenes que es el Internet. <br>
	Se recomienda imágenes de tamaño mediano: menores a 800x600px. <br>
	Revisa que el url que elegiste termine en ".jpg" o ".png".
</dd>



{% endblock description %}

{% block extra_javascript %}
<script>
$(document).ready(function(){
	$('#wchar_min').wChar({
	min: 150
	});

	/* bersuit vergarabat*/
  $.validator.addMethod("seleccion_correcta", function(value, element){
    var respuesta = $("#bv").text();
    if(value == respuesta){
      return true;
    }
    else{
      return false;
    }
  });
  $.validator.addMethod('empty', function(value, element){
    return (value === '');
  });
 	 /* bersuit vergarabat*/

	$('#formulario').validate({
		rules: {
			descripcion: {
				required: true,
				minlength: 150,
				maxlength: 1000
			},
			imagen: {
				minlength: 15,
				maxlength: 150
			},
		/* bersuit vergarabat*/
		    bersuit:{
		        required: true,
		        seleccion_correcta: true
		      },
		    vergarabat:{
		        empty: true
		      }
	     /*bersuit vergarabat*/
		},
		errorElement: "span",
		onfocusout: false,
		onkeyup: false,
		messages: {
			descripcion: "*Escribe una descripción de mínimo 150 y máximo 1000 caracteres.",
			imagen: "*Inserta una URL válida",
			bersuit: "¿Eres humano?",
			vergarabat: "Si no eres un spam bot, contáctanos y cuéntanos de este error. Recuerda que ésta página está programada para Firefox y Chrome."
		}
	});
});
</script>
{% endblock extra_javascript %}