{% extends "base_index.html" %}
{% load staticfiles %}

{% block titletag %}
<title> Orilla Libertaria </title>
{% endblock titletag %}

{% block meta_description %}
<meta name="description" content = "Biblioteca de contenido libertario">
{% endblock meta_description %}

{% block extra_css %}
<link href="{% static 'css/main.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery-ui.min_ol_autocomplete.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery-ui.structure.min_ol_autocomplete.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery-ui.theme.min_ol_autocomplete.css' %}" rel="stylesheet">
{% endblock extra_css %}


<!--navbar mobile. li con class = "hidden-md hidden-lg"-->
{% block navbar_mobile_xs %}
<li class = "visible-xs">
	<a href="{% url 'temas:nuevo_tema'%}">Crear un tema nuevo</a>
</li>
<li class = "visible-xs">
	<a href="{% url 'citas:index' 'recientes' %}">Banco de Frases</a>
</li>
<li class = "visible-xs">
	<a href="{% url 'imagenes:index' 'recientes' %}">Galería de imágenes</a>
</li>
{% endblock navbar_mobile_xs %}

<!--arriba-->
{% block arriba %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.3&appId=496030367220511";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<meta property="og:image" content="https://s3-us-west-1.amazonaws.com/orillalibertaria/logo.png"/>

<div class="row">
	<div class = "col-md-8">
		<div>
		<!--
			<div class = "btn">
				<a href="{% url 'imagenes:index' 'recientes' %}">
				<button type="button" class="btn btn-default" >Galería de Imágenes
				</button>
				</a>
			</div>
		-->
			<div class="jumbotron well">
				{% if user.is_authenticated %}
					<h2>
						{{user.username}}, bienvenido
					</h2>
					<p>
						Esta biblioteca funciona en base a links compartidos, gracias por ser parte de nuestra comunidad!
					</p>
				{% else %}
					<h2>
						Libertario, bienvenido
					</h2>
					<p>
						Esta biblioteca funciona en base a links compartidos, sé parte de nuestra comunidad!
					</p>
					<p>
						<a class="btn btn-warning btn-large" href="#">Únete. Es fácil empezar</a>
					</p>
				{% endif %}
			</div>
		</div>
		<div class ="thumbnail">
			<div class = "row">
				<br><br>
				<div class = "col-md-10 col-md-offset-1">
					<div class = "col-md-12">
						<form class="form" method = "get" role="search"
							action = "{% url 'temas:buscar' %}" >
							<div class="form-group">
								<input id ="buscar_temas" type="text" class="form-control" name = "q">
							</div> 
							<button type="submit" class="btn btn-warning pull-right boton_buscar_main">Buscar Tema en Orilla Libertaria</button>
						</form>
						<p class = "datos_olibertaria">
						Biblioteca Libertaria Compartida <br>
						<small> {{num_temas_ol}} Temas - {{num_videos_ol}} Videos - {{num_posts_ol}} Posts </small>
						</p>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<div class="col-md-4">
		<div class="fb-page" data-href="https://www.facebook.com/orillalibertaria" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/orillalibertaria"><a href="https://www.facebook.com/orillalibertaria">Orilla Libertaria</a></blockquote></div></div>
	</div> <!-- div col 4 -->
</div> <!-- row -->
{% endblock arriba %}
	
{% block botones_control %}
<div style = "margin-bottom:5px" class = "hidden-xs">
	<hr>
	<h3 style = "display: inline-block"> Temas </h3>
	<div class="btn-group btn-group-sm control">
		<button class="btn btn-default {{recientes}}" 
		type="button" onclick="location.href='{% url 'temas:main' 'recientes' %}';">
		<span class="fa fa-thumb-tack"> </span> Recientes
		</button> 
		<button class="btn btn-default {{activos}} "
		type="button" onclick="location.href='{% url 'temas:main' 'activos' %}';">
		<span class="fa fa-signal"> </span> Activos
		</button> 
		<button class="btn btn-default {{populares}} " 
		type="button" onclick="location.href='{% url 'temas:main' 'populares' %}';">
		<span class="fa fa-star"> </span> Populares
		</button>
	</div>
</div>
<div class = "div_control row visible-xs">
	<hr>
	<div class= "btn-group control">
		 <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">Temas <span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li class = " {{recientes}} ">
				<a href="{% url 'temas:main' 'recientes' %}">Recientes</a>
			</li>
			<li class = " {{activos}} ">
				<a href="{% url 'temas:main' 'activos' %}">Activos</a>
			</li>
			<li class = " {{populares}}">
				<a href="{% url 'temas:main' 'populares' %}">Populares</a>
			</li>
		</ul>
	</div>
</div>
{% endblock botones_control %}

{% block tab_content %}
<div class="col-md-8 col-sm-7">
	{% include page_template %}
</div>
{% endblock tab_content %}

{% block sidebar %}
<div class="col-md-4 col-sm-3">
	<div class = "main_sidebar_btns">

		<div class = "btn">
			<a href="{% url 'imagenes:index' 'recientes' %}">
			<button type="button" class="btn btn-default" >Galería de Imágenes
			</button>
			</a>
		</div>

		<div class = "btn">
			<a href="{% url 'citas:index' 'recientes' %}">
			<button type="button" class="btn btn-default" >Banco de Frases
			</button>
			</a>
		</div>

	</div>

	<div>
		<br>
		<div clsas ="row">
	        <a class="twitter-timeline"  href="https://twitter.com/OrillaLibertar" data-widget-id="616330387434926081">Tweets por el @OrillaLibertar.</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			<!--
			<div class = "btn">
				{% if user.is_authenticated %}
				<a href="{% url 'temas:nuevo_tema'%}">
				 <button type="button" class="btn btn-default"> Crear un tema nuevo
				 </button>
				</a>
				 {% else %}
				<a href="{% url 'perfiles:login'%}">
				 <button type="button" class="btn btn-default"> 
				 <span class = "fa fa-lock"> </span> Crear un tema nuevo
				 </button>
				</a>
				 {% endif %}
			</div>
			-->
		</div>
		<div>
		<hr>
		<h3> Actividad: </h3>
			<p>
				<p class="icono_actividad">
					<i class ="fa fa-edit fa-4x"></i>
				</p>
			</p>
			{% for post in posts_actividad %}
				<div class="panel panel-default">
					<div class="panel-body">
						<div class ="col-md-3">
							<a class ="pull-left" href = "{% url 'perfiles:perfil' post.creador.usuario.username 'recientes' %}" title="{{post.creador.nickname}}">
								<img class = "imagen_tema" src = "{{post.creador.imagen_perfil}}" height="50">
							</a>
						</div>
						<div class ="col-md-6">
							<p>
							<small>
							<strong>{{post.creador.nickname}}</strong> sumó un <a href="{% url 'temas:post' post.tema.slug post.id 'recientes' %}">post</a> a
							<strong>{{post.tema.nombre}}</strong>
							</small>
							</p>
						</div>
						<div class ="col-md-3">
							<a class ="pull-right" href = "{% url 'temas:index_tema' post.tema.slug 'ultimos' %}" title="{{post.tema.nombre}}">
								<img class = "imagen_tema" src = "{{post.tema.imagen}}" height="50">
							</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div>
			<p>
				<p class ="icono_actividad">
					<i class ="fa fa-youtube fa-4x icono_actividad"></i>
				</p>
			</p>
			{% for video in videos_actividad %}
				<div class="panel panel-default">
					<div class="panel-body">
						<div class ="col-md-3">
							<a class ="pull-left" href = "{% url 'perfiles:perfil' video.perfil.usuario.username 'recientes' %}" title="{{video.perfil.nickname}}">
								<img class = "imagen_tema" src = "{{video.perfil.imagen_perfil}}" height="50">
							</a>
						</div>
						<div class ="col-md-6">
							<p>
							<small>
							<strong>{{video.perfil.nickname}}</strong> sumó un <a href="{% url 'videos:video' video.id video.tema.slug 'recientes' %}">video</a> a
							<strong>{{video.tema.nombre}}</strong>
							</small>
							</p>
						</div>
						<div class ="col-md-3">
							<a class ="pull-right" href = "{% url 'videos:videos_tema' video.tema.slug 'ultimos' %}" title="{{video.tema.nombre}}">
								<img class = "imagen_tema" src = "{{video.tema.imagen}}" height="50">
							</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock sidebar %}

{% block javascript %}
<script>

$(document).ready(function(){
	var temas_json = JSON.parse('{{lista_temas_json|safe}}');
	$("#buscar_temas").autocomplete({
		source: temas_json,
		minLength: 2,
	});
});

</script>
{% endblock javascript %}
