{% extends "base_index.html" %}
{% load staticfiles %}

<!--arriba-->
{% block arriba %}
<div class="row clearfix">
	<div class="col-md-12 column">
		<div class="row">
			<div class="col-md-4">
				<div class="thumbnail">
					<div class = "thumbnail_main_div">
						<img alt="300x200" src="{{imagenes_posts_populares.0}}"/>
					</div>
					<div class="caption">
						<p class = "text">
						{{posts_populares.0.texto|truncatewords:30}}
						<a style = "float:right" href="{% url 'temas:post' posts_populares.0.tema.slug posts_populares.0.id %}"> <h4><small>ver post</h4></small></a>
						</p>
						<h4>
							<small> <a href = "{% url 'perfiles:perfil' posts_populares.0.creador.usuario %}"> {{posts_populares.0.creador.usuario.username}} </a> en
							<a href = "{% url 'temas:index_tema' posts_populares.0.tema.slug 'recientes' %} ">
							{{posts_populares.0.tema.nombre}}</a></small>
						</h4>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<div class = "thumbnail_main_div">
						<img alt="300x200" src="{{imagenes_posts_populares.1}}"/>
					</div>
					<div class="caption">
						<p class = "text">
						{{posts_populares.1.texto|truncatewords:30}} 
						<a style = "float:right" href="{% url 'temas:post' posts_populares.1.tema.slug posts_populares.1.id %}"> <h4><small>ver post</h4></small></a>
						</p>
						<h4>
							<small> <a href = "{% url 'perfiles:perfil' posts_populares.1.creador.usuario %}"> {{posts_populares.1.creador.usuario.username}} </a> en
							<a href = "{% url 'temas:index_tema' posts_populares.1.tema.slug 'recientes' %} ">
							{{posts_populares.1.tema.nombre}}</a></small>
						</h4>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<div class = "thumbnail_main_div">
						<img alt="300x200" src="{{imagenes_posts_populares.2}}"/>
					</div>
					<div class="caption">
						<p class = "text">
						{{posts_populares.2.texto|truncatewords:30}} 
						<a style = "float:right" href="{% url 'temas:post' posts_populares.2.tema.slug posts_populares.2.id %}"> <h4><small>ver post</h4></small></a>
						</p>
						<h4>
							<small> <a href = "{% url 'perfiles:perfil' posts_populares.2.creador.usuario %}"> {{posts_populares.2.creador.usuario.username}} </a> en
							<a href = "{% url 'temas:index_tema' posts_populares.2.tema.slug 'recientes' %} ">
							{{posts_populares.2.tema.nombre}}</a></small>
						</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock arriba %}
	
{% block botones_control %}
<div class="btn-group btn-group-sm control ">
	<button class="btn btn-default {{todos}}" 
	type="button" onclick="location.href='{% url 'temas:main' 'todos' %}';">
	<span class="glyphicon glyphicon-th-list"> </span> Todos
	</button> 
	<button class="btn btn-default {{activos}} "
	type="button" onclick="location.href='{% url 'temas:main' 'activos' %}';">
	<span class="glyphicon glyphicon-signal"> </span> Activos
	</button> 
	<button class="btn btn-default {{populares}} " 
	type="button" onclick="location.href='{% url 'temas:main' 'populares' %}';">
	<span class="glyphicon glyphicon-star"> </span> Populares
	</button>
</div>
{% endblock botones_control %}

{% block tab_content %}
<div class="col-md-8 column ">
	<div class="row clearfix">
		{% include page_template %}
	</div>
</div>
{% endblock tab_content %}

{% block sidebar %}
<div class="col-md-4 column ">
	<div class = "main_cita">
		<blockquote>
			<p>
				{{cita.texto}}
			</p> <small> {{cita.autor}} <cite> {{cita.fuente}} </cite></small>
		</blockquote> 

		<div>
			<button type="button" class="btn btn-xs btn-info btn_galeria"
			onclick="location.href='{% url 'citas:index' 'recientes' %}';">
			Ver galería de frases</button>
		</div>
	<hr/>
	</div>
	<div class = "main_sidebar_btns">
		<div class="row clearfix">
			<div class="col-md-12 column">
			<div class = "btn">
				<button type="button" class="btn btn-default" 
				onclick="location.href='{% url 'imagenes:index' 'recientes' %}';">Ver Galería de Imágenes
				</button>
			</div>
			<div class = "btn">
				 <button type="button" class="btn btn-default" onclick="location.href='{% url 'temas:nuevo_tema'%}';"> Crear un Tema nuevo
				 </button>
			</div>
			</div>
		</div>
	</div>
</div>
{% endblock sidebar %}