{% extends "base_index.html" %}
{% load staticfiles %}

{% block extra_css %}
<link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock extra_css %}


<!--navbar mobile. li con class = "hidden-md hidden-lg"-->
{% block navbar_mobile_xs %}
<li class = "visible-xs">
	<a href="{% url 'temas:nuevo_tema'%}">Crear un tema nuevo</a>
</li>
<li class = "visible-xs">
	<a href="{% url 'citas:index' 'recientes' %}">Banco de frases</a>
</li>
<li class = "visible-xs">
	<a href="{% url 'imagenes:index' 'recientes' %}">Galería de imágenes</a>
</li>
{% endblock navbar_mobile_xs %}

<!--arriba-->
{% block arriba %}
<div class="row">
	<div class = "col-md-8">
		<div class = "thumbnail">
			<div class = "row">
			<h4 class = "titulo_videos_populares"> Videos Populares </h4>
			{% for video in videos_populares %}
				<div class = "col-md-4">
					<div class = "thumbnail">
						<a class = "thumb_video" href="{% url 'videos:video' video.0.id video.0.tema.slug 'recientes' %}">
							<!--overlay videos -->
							<div class = "overlay_videos visible-md visible-lg"> 
								<p class = "overlay_p">
									{{video.0.titulo}}
								</p>
								<div class = "overlay_favoritos pull-right">
									<p>{{video.0.favoritos_recibidos}}</p>
									<span class = "fa fa-star"></span>
								</div>
							</div>
							<!--overlay videos -->
							<img class = "visible-md visible-lg imagen_video" src = "{{video.1}}">
							<img class = "visible-sm visible-xs imagen_video_small" src = "{{video.1}}">
						</a>
						<div class = "visible-md visible-lg">
							<div class = "perfil_pequena">
								<img src = "{{video.0.perfil.imagen_perfil}}">
							</div>
							<h4 class = "display_inline_block">
								<small>en
								<a href = "{% url 'temas:index_tema' video.0.tema.slug 'recientes' %} ">
								{{video.0.tema.nombre|truncatechars:30}}</a></small>
							</h4>
						</div>
						<div class = "video_des_small visible-sm visible-xs">
						<p>
							{{video.0.titulo}}
						</p>
						<div class = "autor_titulo_video_thumb">
							<div class = "perfil_pequena">
								<img src = "{{video.0.perfil.imagen_perfil}}">
							</div>
							<h4 class = "display_inline_block">
								<small>en
								<a href = "{% url 'temas:index_tema' video.0.tema.slug 'recientes' %} ">
								{{video.0.tema.nombre|truncatechars:30}}</a></small>
							</h4>
						</div>
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
			<div class = "row">
				<div class = "col-md-10 col-md-offset-1">
					<hr>
					<div class = "col-md-12">
						<form class="form" method = "get" role="search"
							action = "{% url 'temas:buscar' %}" >
							<div class="form-group">
								<input id ="buscar_temas" type="text" class="form-control" name = "q">
							</div> 
							<button type="submit" class="btn btn-warning pull-right boton_buscar_main">Buscar Tema en Orilla Libertaria</button>
						</form>
					<p class = "pull-right datos_olibertaria">
					<small>{{num_temas_ol}} Temas - {{num_videos_ol}} Videos - {{num_posts_ol}} Posts  </small></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div id ="post_popular" class="thumbnail">
			<h4 class = "titulo_post_popular"> Post Popular </h4>
			
		<div class = "overlay_post visible-lg">
			<div class="row">
				<div class = "overlay_post_perfil pull-left">
					<a href="{% url 'perfiles:perfil' post_popular.creador.usuario 'recientes' %}">
					<div class = "row">
						<div class = "imagen_perfil_overlay perfil_pequena">
							<img src = "{{post_popular.creador.imagen_perfil}}">
						</div>
						<p class = "overlay_perfil_nombre">{{post_popular.creador.nickname}}</p>
					</div>
					<div class = "row datos_perfil_overlay">
						<p class = "puntos_perfil_overlay">{{post_popular.creador.votos_recibidos}} Puntos
						</p>
						<p class = "posts_perfil_overlay">{{post_popular.creador.numero_de_posts}} Posts
						</p>
					</div>
					</a>
				</div>
				<div class = "overlay_post_tema pull-right">
					<a href="{% url 'temas:index_tema' post_popular.tema.slug 'recientes' %}">
					<div class = "row">
						<div class = "perfil_pequena imagen_tema_overlay">
							<img src = "{{post_popular.tema.imagen}}">
						</div>
						<p class = "overlay_tema_nombre pull-right">
						{{post_popular.tema.nombre}}</p>
					</div>
					<div class = "row datos_tema_overlay">
						<p class = "posts_tema_overlay">{{tema_posts_count}} Posts
						</p>
						<p class = "videos_tema_overlay">
						{{tema_videos_count}} Videos
						</p>
					</div>
					</a>
				</div>
			</div>
		</div> <!--ovelay_post-->

		<div class="row ver_post_overlay visible-lg">
			<a class = "ver_post_link" href="{% url 'temas:post' post_popular.tema.slug post_popular.id 'recientes' %}">
			<div class = "ver_post_div">
				<div class = "ver_post_comments">
					<p>{{comments_post_popular}} 
			 		<span class="fa fa-comments"></span> 
			 		</p>
		 		</div>
				<div class = "ver_posts_p">
					<span class = "ver_post_puntos">
					{{post_popular.votos_positivos}}
					</span> 
					<p class = "ver_post_text"> 
						<strong>- Leer Post</strong>
					</p>
				</div>
			</div>
			</a>
		</div>
			
			<div class="caption thumbnail_main_post">
				<div id = "post_popular_parcial">
				<div class = "thumbnail_main_div hidden-sm hidden-xs">
					<img alt="300x200" src="{{imagen_post_popular}}"/>
				</div>
					<img class = "thumbnail pull-left visible-sm visible-xs" alt="300x200" src="{{imagen_post_popular}}">
					<p class = "text">
					{{post_popular.texto|truncatewords:30}}
					</p>
				</div>	
					<a style = "float:right" href="{% url 'temas:post' post_popular.tema.slug post_popular.id 'recientes' %}"> <h4><small>leer post</h4></small></a>
				<div class = "perfil_pequena">
					<img src = "{{post_popular.creador.imagen_perfil}}">
				</div>
				<h4 class = "display_inline_block">
					<small> <a href = "{% url 'perfiles:perfil' post_popular.creador.usuario 'recientes' %}"> {{post_popular.creador.nickname}} </a> en
					<a href = "{% url 'temas:index_tema' post_popular.tema.slug 'recientes' %} ">
					{{post_popular.tema.nombre}}</a></small>
				</h4>
			</div> <!--thumbnail_main_post-->
		</div> <!--post _popular -->
	</div> <!-- div col 4 -->
</div> <!-- row -->

{% endblock arriba %}
	
{% block botones_control %}
<div style = "margin-bottom:5px" class = "hidden-xs">
	<hr>
	<h3 style = "display: inline-block"> Temas </h3>
	<div class="btn-group btn-group-sm control">
		<button class="btn btn-default {{recientes}}" 
		type="button" onclick="location.href='{% url 'temas:main' 'recientes' %}';">
		<span class="fa fa-thumb-tack"> </span> Recientes
		</button> 
		<button class="btn btn-default {{activos}} "
		type="button" onclick="location.href='{% url 'temas:main' 'activos' %}';">
		<span class="fa fa-signal"> </span> Activos
		</button> 
		<button class="btn btn-default {{populares}} " 
		type="button" onclick="location.href='{% url 'temas:main' 'populares' %}';">
		<span class="fa fa-star"> </span> Populares
		</button>
	</div>
</div>
<div class = "div_control row visible-xs">
	<hr>
	<div class= "btn-group control">
		 <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">Temas <span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li class = " {{recientes}} ">
				<a href="{% url 'temas:main' 'recientes' %}">Recientes</a>
			</li>
			<li class = " {{activos}} ">
				<a href="{% url 'temas:main' 'activos' %}">Activos</a>
			</li>
			<li class = " {{populares}}">
				<a href="{% url 'temas:main' 'populares' %}">Populares</a>
			</li>
		</ul>
	</div>
</div>
{% endblock botones_control %}

{% block tab_content %}
<div class="col-md-8 col-sm-7">
		{% include page_template %}
</div>
{% endblock tab_content %}

{% block sidebar %}
<div class="col-md-4 col-sm-3">
	<div class = "sidebar_cita">
		<blockquote>
			<p>
				"{{cita.3|safe}}"
			</p> <small> {{cita.0.autor}} {% if cita.1 %}, {{cita.2}} {% endif %} </small>
		</blockquote> 
		<div>
		<a href="{% url 'citas:index' 'recientes' %}">
			<button type="button" class="btn btn-xs btn-info btn_galeria">
			Ver banco de frases</button>
		</a>
		</div>
	<hr/>
	</div>
	<div class = "main_sidebar_btns">
		<div class="row clearfix">
			<div class="col-md-12 column">
			<div class = "btn">
				<a href="{% url 'imagenes:index' 'recientes' %}">
				<button type="button" class="btn btn-default" >Galería de Imágenes
				</button>
				</a>
			</div>
			<div class = "btn">
				{% if user.is_authenticated %}
				<a href="{% url 'temas:nuevo_tema'%}">
				 <button type="button" class="btn btn-default"> Crear un tema nuevo
				 </button>
				</a>
				 {% else %}
				<a href="{% url 'perfiles:login'%}">
				 <button type="button" class="btn btn-default"> 
				 <span class = "fa fa-lock"> </span> Login - Crear un tema nuevo
				 </button>
				</a>
				 {% endif %}
			</div>
			</div>
		</div>
	</div>
</div>
{% endblock sidebar %}

{% block javascript %}
<script>

$(document).ready(function(){
	var temas_json = JSON.parse('{{lista_temas_json|safe}}');
	$("#buscar_temas").autocomplete({
		source: temas_json,
		minLength: 2,
	});
});

</script>
{% endblock javascript %}
