{% extends "base_forms.html" %}
{% load crispy_forms_tags %}
{% block arriba %}
<div class = "row titulo_con_barco">
	<h2> Nuevo post en <a href = "{% url 'temas:index_tema' tema.slug 'recientes' %}"> {{tema.nombre}}</a> </h2>
	<img class = "barco_logo pull-right" src="http://i269.photobucket.com/albums/jj43/comentarioshi5/dibujos-para-pintar/barco-pirata/06.gif">
	<br/>
</div>
{% endblock arriba %}
{% block form %}
	<div class = "row">
		<form action = "{% url 'temas:sumar_post' tema.slug %}" method = "post"> {% csrf_token %}
			{{form_nuevo_post|crispy}}
			<br/>
			<input class = "btn pull-right" type = "submit" value = "Enviar"/>
		</form>
		<br>
		<br>
	</div>
	<h5 class = "text-muted pull-right">
 		<span class="glyphicon glyphicon-ok-sign"></span> Gracias por aportar a la comunidad
 	</h5>
{% endblock form %}
