{% extends "base_forms.html" %}
{% load staticfiles %}

{% block arriba %}
<div class = "row titulo_con_barco">
	<h2> Nuevo post en <a href = "{% url 'temas:index_tema' tema.slug 'recientes' %}"> {{tema.nombre}}</a> </h2>
	<img class = "barco_logo pull-right" src=" {% static '/static/img/barco_amagi.png' %} ">
	<br/>
</div>
{% endblock arriba %}
{% block form %}
	<div class = "row">
		<div class = "col-md-8 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
			<form id = "formulario" class = "form-horizontal" action = "{% url 'temas:sumar_post' tema.slug %}" method = "post"> 
			{% csrf_token %}
			{{form_nuevo_post.non_field_errors}}
			<fieldset>
			<div class = "form-group">
				{{form_nuevo_post.texto.errors}}
				<label class = "control-label" for = "texto"></label>
				<div class = "row textarea_form">
				{{form_nuevo_post.texto}}
				<span class="help-block">Las urls que compartas se verán como <u class = "apariencia_link">links</u>.</span>
				<br/>
				</div>
			</div>
			</fieldset>
				<input class = "btn pull-right" type = "submit" value = "Enviar"/>
			</form>
			<br>
			<br>
		</div>
	</div>
	<h5 class = "text-muted pull-right">
 		<span class="fa fa-check-circle"></span> Gracias por aportar a la comunidad
 	</h5>
{% endblock form %}

{% block extra_javascript %}
<script>
$(document).ready(function(){
	$('#formulario').validate({
		rules: {
			texto: {
				required: true,
				minlength: 15,
				maxlength: 10000
			}
		},
		errorElement: "span",
		onfocusout: false,
		onkeyup: false,
		messages: {
			texto: "*El post debe tener min 10, max 10.000 caracteres."
		}
	});
});
</script>
{% endblock extra_javascript %}