{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
<link href="{% static 'css/post.css' %}" rel="stylesheet">
<link href="{% static 'css/carrusel_sidebar.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}

<div class="row clearfix">
<div class="col-md-8 column ">
<!-- post_padre -si el post post-->
<div class = "div_goback_tema visible-xs visible-sm">
	<a class = "goback_tema" href="">
	<img class = "" src="{{tema.1}}">
	<h1 class = ""> {{tema.0.nombre}} </h1>
	</a>
</div>

<div class = "row">
{% if post.0.es_respuesta %}
		<h5 id = "mostrar_post_padre" class="text-muted">
			Mostrar el post de {{post_padre.0.creador.nickname}}
			<i class="fa fa-comments-o"></i>
		</h5>

		<div id = "post_hidden" class = "hidden"> <!--post padre respuesta -->
		
		{% if post_padre.0.eliminado %}
		<div class = "col-md-11 col-md-offset-1">
			<div class="panel panel-danger">
				<div class="panel-body">
					<p class = "text">
						<i class = "fa fa-exclamation-triangle"></i>
						{% if post_padre.0.creador.usuario == request.user %}
						Eliminaste este post. Si deseas restaurarlo has click aquí: <a href="{% url 'temas:eliminar_propio_post' post_padre.0.id %}">Restaurar Post</a>
						{% else %}
						 Post eliminado por usuario. 
						{% endif %}
					</p>
					<br/>
				</div>
				<div class="panel-footer">
					{% if post_padre.0.creador.usuario == request.user %}
					<div class = "eliminar_editar pull-left">
						<div class = "btn-group dropup">
						<button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="fa fa-cog"></span>
						</button>
						<ul class="dropdown-menu">
							<li>
								<a href="{% url 'temas:eliminar_propio_post' post_padre.0.id %}">Restaurar Post</a>
							</li>
							<li class = "divider"></li>
							<li class = "disabled">
								<a href="{% url 'temas:editar_post' post_padre.0.id %}">Editar</a> 
							</li>
						</ul>
						</div>
					</div>
					{% endif %}
					<div class = "perfil_pequena"> <!-- perfil pequeña -->
						<img src = "{{post_padre.0.creador.imagen_perfil}}">
					</div>
					<div class = "nombre_fecha">
					<p><a href ="{% url 'perfiles:perfil' post_padre.0.creador.usuario 'recientes' %}">
						{{post_padre.0.creador.nickname}}</a> 
						<small class = "fecha_desde">{{post_padre.4}} </small>
					</p>
					</div>
					<div class = "footer_respuestas pull-right">
			 			<a href = "{% url 'temas:post' tema.0.slug post_padre.0.id 'recientes' %} ">
			 				{{post_padre.2}}
			 			<span class="fa fa-comments"></span>
			 			<span class="fa fa-chevron-right"></span></a>
			 		</div>
				</div>
			</div>
		</div>

		{% else %}

			<div class = "col-md-2 col-sm-2 col-xs-2">
				<div class = "control_votos">
				{% include 'control_votos_fav.html' with post=post_padre %}
				</div>
			</div>
			<div class = "col-md-10 col-sm-10 col-xs-10">
				<div class="panel panel-success post_resaltado_success">
					<div class="panel-body">
						<p class = "text truncate">
						{{post_padre.3|safe}}
						</p>
						<br/>
					</div>
					<div class="panel-footer">
						{% if post_padre.0.creador.usuario == request.user %}
						<div class = "eliminar_editar pull-left">
							<div class = "btn-group dropup">
							<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
							<span class="fa fa-cog"></span>
							</button>
							<ul class="dropdown-menu">
								<li>
									<a href="{% url 'temas:eliminar_propio_post' post_padre.0.id %}">Eliminar Post</a>
								</li>
								<li class = "divider"></li>
								<li>
									<a href="{% url 'temas:editar_post' post_padre.0.id %}">Editar</a> 
								</li>
							</ul>
							</div>
						</div>
						{% endif %}
						<div class = "footer_respuestas pull-right">
				 			<a href = "{% url 'temas:post' tema.0.slug post_padre.0.id 'recientes' %} ">
			 				{{post_padre.2}}
			 				<span class="fa fa-comments"></span>
			 				<span class="fa fa-chevron-right"></span> </a>
				 		</div>
						<div class = "perfil_pequena">
							<img src = "{{post_padre.0.creador.imagen_perfil}}">
						</div>
						<div class = "nombre_fecha">
						<p><a href ="{% url 'perfiles:perfil' post_padre.0.creador.usuario 'recientes' %}">
							{{post_padre.0.creador.nickname}}</a> 
							<small class = "fecha_desde"> {{post_padre.4}} </small>
						</p>
						</div>
					</div> <!--panel footer -->
				</div> <!-- panel success -->
			</div> <!-- class md 10 -->
		{% endif %}
		</div> <!--post padre respuesta-->
{% endif %}
</div> <!--row-->

<!-- Si el post ha sido eliminado muestra un post eliminado -->
{% if post.0.eliminado %}
<div class = "row"> <!--post eliminado -->
	<div class = "col-md-11 col-md-offset-1">
		<div class="panel panel-danger">
			<div class="panel-body">
				<p class = "text">
					<i class = "fa fa-exclamation-triangle"></i>
					{% if post.0.creador.usuario == request.user %}
					Eliminaste este post. Si deseas restaurarlo has click aquí:
					 <a href="{% url 'temas:eliminar_propio_post' post.0.id %}">Restaurar Post</a>
					{% else %}
					 Post eliminado por usuario. 
					{% endif %}
				</p>
				<br/>
			</div>
			<div class="panel-footer">
					{% if post.0.creador.usuario == request.user %}
					<div class = "eliminar_editar pull-left">
						<div class = "btn-group dropup">
						<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
						<span class="fa fa-cog"></span>
						</button>
						<ul class="dropdown-menu">
						<li>
							<a href="{% url 'temas:eliminar_propio_post' post.0.id %}">Restaurar Post</a>
						</li>
						<li class = "divider"></li>
						<li class = "disabled">
							<a href="{% url 'temas:editar_post' post.0.id %}">Editar</a> 
						</li>
						</ul>
						</div>
					</div>
					{% endif %}
					<div class = "perfil_pequena"> <!-- perfil pequeña -->
						<img src = "{{post.0.creador.imagen_perfil}}">
					</div>
					<div class = "nombre_fecha">
					<p>
					<a href ="{% url 'perfiles:perfil' post.0.creador.usuario.username 'recientes' %}">
					{{post.0.creador.nickname}}</a>
						<small class = "fecha_desde">{{post.4}} </small>
					</div>
				</div>
		</div> <!--panel danger -->
    </div> <!-- col md 11 -->
</div><!-- post eliminado -->
{% else %}
<!-- Post. -->
	<div class = "row">
		<br>
		<div class = "col-md-2 col-sm-2 col-xs-2">
			<div class = "control_votos">
			{% include 'control_votos_fav.html' %}
			</div>
		</div>
		<div class = "col-md-10 col-sm-10 col-xs-10">
			<div class="panel panel-warning post_resaltado_warning">
				<div class="panel-body">
					<p class = "text truncate">
					{{post.3|safe}}
					</p>
					<br/>
				</div>
				<div class="panel-footer">
					{% if post.0.creador.usuario == request.user %}
					<div class = "eliminar_editar pull-left">
						<div class = "btn-group dropup">
						<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
						<span class="fa fa-cog"></span>
						</button>
						<ul class="dropdown-menu">
							<li>
								<a href="{% url 'temas:eliminar_propio_post' post.0.id %}">Eliminar Post</a>
							</li>
							<li class = "divider"></li>
							<li>
								<a href="{% url 'temas:editar_post' post.0.id %}">Editar</a>
							</li>
						</ul>
						</div>
					</div>
					{% endif %}
					<div class = "perfil_pequena"> <!-- perfil pequeña -->
						<img src = "{{post.0.creador.imagen_perfil}}">
					</div>
					<div class = "nombre_fecha">
					<p>
					<a href ="{% url 'perfiles:perfil' post.0.creador.usuario.username 'recientes' %}">
					{{post.0.creador.nickname}}</a>
						{% if post.0.es_respuesta %}
						en respuesta a 
					<a href ="{% url 'perfiles:perfil' post_padre.0.creador.usuario 'recientes' %}">
					{{post_padre.0.creador.nickname}}</a> 
					</p>
					{% endif %}
						<small class = "fecha_desde">{{post.4}} </small>
					</div>
				</div>
			</div>
		</div> <!-- class md 10 -->
	</div> <!--post -->
{% endif %}
<hr/>

{% if user.is_authenticated %}
<div class = "row clearfix">
	<div class = "col-md-10 col-md-offset-2 col-lg-offset-2">
		<form id = "formulario" class = "form_respuesta form-horizontal" action = "{% url 'temas:respuesta' tema.0.slug post.0.id %}" method = "POST"/>
			{% csrf_token %}
			<fieldset>
			<div class = "form-group">
				<label = class = "control-label" for = "texto"></label>
				{{form_respuesta.texto}}
			</div>
			</fieldset>
		<input id = "enviar_respuesta" class = "btn pull-right" type = "submit" value = "Enviar"/>
		</form>
	</div>
</div>
{% endif %}

<div class = "col-md-12">
	<h5 class="text-muted">
		<p style = "display: inline-block" id = "num_respuestas"> {{post.2}}</p> Respuestas a {{post.0.creador.usuario}}: <a class = "{{recientes}}" href= "{% url 'temas:post' tema.0.slug post.0.id 'recientes' %}">Recientes</a> - <a class = "{{primeras}}" href="{% url 'temas:post' tema.0.slug post.0.id 'primeras' %}">Primeras</a>
	</h5>
</div>

<div class = "row">
{% for post in respuestas %}
<div class = "post">
	<div class = "col-md-2 col-sm-2 col-xs-2">
		<div class = "control_votos">
			<div class = "btn-group-vertical">
				{% include 'control_votos_fav.html' %}
			</div>
		</div>
	</div>
	<div class = "col-md-10 col-sm-10 col-xs-10">
		<div class="panel panel-info post_resaltado_info">
			<div class="panel-body">
				<p class = "text truncate">
					{{post.3|safe}}
				</p>
				<br/>
			</div>
			<div class="panel-footer">
				{% if post.0.creador.usuario == request.user %}
				<div class = "eliminar_editar pull-left">
					<div class = "btn-group dropup">
					<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
						<span class="fa fa-cog"></span>
					</button>
					<ul class="dropdown-menu">
						<li>
							<a href="{% url 'temas:eliminar_propio_post' post.0.id %}">Eliminar Post</a>
						</li>
						<li class = "divider"></li>
						<li>
							<a href="{% url 'temas:editar_post' post.0.id %}">Editar</a> 
						</li>
					</ul>
					</div>
				</div>
				{% endif %}
				<div class = "footer_respuestas pull-right">
		 			<a href = "{% url 'temas:post' tema.0.slug post.0.id 'recientes' %} ">
		 				{{post.2}}
		 			<span class="fa fa-comments"></span>
		 			<span class="fa fa-chevron-right"> </span>  </a>
		 		</div>
				<div class = "perfil_pequena"> <!-- perfil pequeña -->
						<img src = "{{post.0.creador.imagen_perfil}}">
					</div>
				<div class = "nombre_fecha">
				<p>
				<a href ="{% url 'perfiles:perfil' post.0.creador.usuario.username 'recientes' %}">
					{{post.0.creador.nickname}}</a> 
					<small class = "fecha_desde">{{post.4}} </small>
				</p>
				</div>
		 		{% for resp in post.5 %}
		 			<div class = "row">
		 				<div class ="col-md-offset-1 col-sm-offset-1 col-xs-offset-1
		 					col-md-2 col-sm-2 col-xs-2">
			 				<div class = "perfil_pequena_respuesta pull-right">
			 				<a title = "{{resp.creador.nickname}}"  href="{% url 'perfiles:perfil' resp.creador.usuario 'recientes' %}">
								<img src = "{{resp.creador.imagen_perfil}}">
							</a>
							</div>
						</div>
						<div class = "col-md-9 col-sm-9 col-xs-9">
		 				<p class = "text respuesta_post pull-left"><small> <i class = "fa fa-comment"></i> - {{resp.texto|truncatewords:50}} </small></p>
		 				</div>
		 			</div>
		 		{% endfor %}
			</div>
		</div>
	</div> <!-- class md 10 -->
</div> <!--post -->
{% endfor %}
</div>	<!-- row -->

</div> <!--col md 8 -->

<div class="col-md-4 column visible-md visible-lg">
	<div class = "row clearfix">
		<div class = "div_imagen_tema_post">
			<img src="{{tema.1}}" class="imagen_tema"/>
		</div>
		<div class = "post_datos_tema">
		<strong> {{tema.0.nombre}} </strong> 
			<a href=" {% url 'temas:index_tema' tema.0.slug 'recientes' %} ">
			<p> {{tema.3}} Posts </p>
			</a>
			<a href=" {% url 'videos:videos_tema' tema.0.slug 'recientes' %} ">
			<p> {{tema.4}} Videos </p>
			</a>
			
			<a href=" {% url 'temas:sumar_post' tema.0.slug %} "> 
				<small> Nuevo Post en {{tema.0.nombre}} </small> </a>
		<div class="panel-link">
			<div>
				 <a class="panel-title triangulo abajo collapsed" data-toggle="collapse" data-parent="#panel-737882" href="#panel-element-898967"> <small>descripción </small> 
				 <span class = "fa fa-angle-down"></span> </a>
			</div>
			<div id="panel-element-898967" class="panel-collapse collapse">
				<div class = "text">
					{{tema.2|safe}}
				</div>
			</div>
		</div>
		</div>
	</div>
</div> <!--col md 4 -->
</div> <!--row clearfix -->
{% endblock content %}


{% block javascript %}
<script src="{% static 'js/votos.js' %} "></script>
<script src="{% static 'js/validation-core.js' %} "></script>
<script src="{% static 'js/validation-ajax.js' %} "></script>
<script src="{% static 'js/validation-delegate.js' %} "></script>
<script src="{% static 'js/cambiar_caret.js' %} "></script>

<script>
$(document).ready(function(){
	$('#formulario').validate({
		rules: {
			texto: {
				required: true,
				minlength: 5,
				maxlength: 10000
			}
		},
		errorElement: "span",
		onfocusout: false,
		onkeyup: false,
		messages: {
			texto: "*Escribe una post de mínimo 5 y máximo 10.000 caracteres.",
		}
	});
});
</script>
{% endblock javascript %}
