{% extends "base.html" %}

{% block content %}

<div class = "col-md-9 col-md-offset-3 ">
	<h2> <a href=" {% url 'temas:index_tema' tema.nombre %} "> {{ tema.nombre }} </a> </h2>

	<br/>
	<h4 class = "text">{{ post.texto }}</h4>
	<h6> <a href=" {% url 'perfiles:perfil' post.creador.usuario.username %} "> {{ post.creador.usuario.username }}</a> el {{post.fecha}} </h6>
	<p> Votos Positivos: {{post.votos_positivos}} </p>
	<p> Votos Negativos: {{post.votos_negativos}} </p>
	<p> Total: {{suma_votos}}
	<br/>
	<div class = "botones_votar">
		<form action = "{% url 'temas:voto' tema.nombre post.id %}" method = "post">
		 	{% csrf_token %}
		 	<input type = "submit" name = "voto" value = "positivo">
		 </form>
		<form action = "{% url 'temas:voto' tema.nombre post.id %}" method = "post">
		 	{% csrf_token %}
		 	<input type = "submit" name = "voto" value = "negativo">
		</form>
		<br/>
	</div>
</div>
		
<div class = "col-md-8 col-md-offset-4">
	
		 Respuestas:

		{% for respuesta in respuestas %}
		<div>
			<br/>
			<p class = "text">
				{{ respuesta.texto }} 
			</p>
			<br/>
			<i>
			{{ respuesta.creador }} 
			{{ respuesta.fecha }}
			</i>
			<p> Votos Positivos: {{respuesta.votos_positivos}} </p>
			<p> Votos Negativos: {{respuesta.votos_negativos}} </p>
			<br/>
			<div class = "botones_votar">
				<form action = "{% url 'temas:voto' tema.nombre respuesta.id %}" method = "post">
			 		{% csrf_token %}
				 	<input type = "submit" name = "voto" value = "positivo">
				</form>
				<form action = "{% url 'temas:voto' tema.nombre respuesta.id %}" method = "post">
			 		{% csrf_token %}
			 		<input type = "submit" name = "voto" value = "negativo">
				</form>
			<br/>
			</div>
		</div>
		{% endfor %}
	

		<div>
			<br/>
			<form action = "{% url 'temas:respuesta' tema.nombre post.id %}" method = "POST"/>
				{% csrf_token %}
				{{form_respuesta.as_table}}
				<br/>
			<input type = "submit" value = "Responder"/>
			</form>
		</div>	
	
</div>

{% endblock content %}