{% extends "base.html" %}

{% block content %}
<div class="row clearfix">
	<div class="col-md-12 column">
		<div class="row clearfix">
			<div class="col-md-8 column">
				<div class = "post">
				<div class = "col-md-1">
					<div class = "control_votos">
						<div class = "btn-group-vertical">
							<button type="button" class = "btn btn-default"> 
								<span class="glyphicon glyphicon-chevron-up"></span>
							</button>
							<button type="button" class = "btn btn-default puntaje"> 
							<h2 class = "numero_puntaje"> {{post.votos_positivos}} </h2>
							</button>
							<button type="button" class = "btn btn-default"> 
								<span class="glyphicon glyphicon-chevron-down"></span>
							</button>
						</div>
					</div>
				</div>
				<div class = "col-md-11">
					<div class="panel panel-info">
						<div class="panel-body">
							<p class = "text">
							{{post.texto|truncatewords:50}}
							</p>
							<br/>

			 				<a href = "{% url 'temas:post' tema.slug post.id %} "> <span class="glyphicon glyphicon-chevron-right link_post"></span> </a>
							<br/>
						</div>
						<div class="panel-footer">
							<div class = "nombre_fecha">
							<p><a href ="{% url 'perfiles:perfil' post.creador.usuario %}">
								{{post.creador.usuario.username}}</a> <small> el {{post.fecha}} </small>
							</p>
							</div>
							{% if post.creador.usuario == request.user %}
							<div class = "eliminar_editar">
								<div class = "btn-group dropup">
								<button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="glyphicon glyphicon-cog"></span>
								</button>
								<ul class="dropdown-menu">
									<li>
										<a href="{% url 'temas:eliminar_propio_post' post.id %}">Eliminar Post</a>
									</li>
									<li class = "divider"></li>
									<li>
										<a href="#">Editar</a> <!-- -->
									</li>
								</ul>
								</div>
							</div>
							{% endif %}
						</div>
					</div>
<hr/>
				</div> <!-- class md 10 -->
			</div> <!--post -->
<div>
<h5 class="text-muted">
	Respuestas
</h5>
<br/>
</div>
			{% for respuesta in respuestas %}
<div class = "post">
	<div class = "col-md-1">
		<div class = "control_votos">
			<div class = "btn-group-vertical">
				<button type="button" class = "btn btn-default"> 
					<span class="glyphicon glyphicon-chevron-up"></span>
				</button>
				<button type="button" class = "btn btn-default puntaje"> 
				<h2 class = "numero_puntaje"> {{respuesta.votos_positivos}} </h2>
				</button>
				<button type="button" class = "btn btn-default"> 
					<span class="glyphicon glyphicon-chevron-down"></span>
				</button>
			</div>
		</div>
	</div>
	<div class = "col-md-11">
		<div class="panel panel-info">
			<div class="panel-body">
				<p class = "text">
				{{respuesta.texto|truncatewords:50}}
				</p>
				<br/>

 				<a href = "{% url 'temas:post' tema.slug post.id %} "> <span class="glyphicon glyphicon-chevron-right link_post"></span> </a>
				<br/>
			</div>
			<div class="panel-footer">
				<div class = "nombre_fecha">
				<p><a href ="{% url 'perfiles:perfil' post.creador.usuario %}">
					{{respuesta.creador.usuario.username}}</a> <small> el {{respuesta.fecha}} </small>
				</p>
				</div>
				{% if respuesta.creador.usuario == request.user %}
				<div class = "eliminar_editar">
					<div class = "btn-group dropup">
					<button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="glyphicon glyphicon-cog"></span>
					</button>
					<ul class="dropdown-menu">
						<li>
							<a href="{% url 'temas:eliminar_propio_post' post.id %}">Eliminar Post</a>
						</li>
						<li class = "divider"></li>
						<li>
							<a href="#">Editar</a> <!-- -->
						</li>
					</ul>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div> <!-- class md 10 -->
	</div> <!--post -->
	{% endfor %}

	<div class = "row clearfix">
	<hr/>
		<div>
			<br/>
			<form action = "{% url 'temas:respuesta' tema.slug post.id %}" method = "POST"/>
				{% csrf_token %}
				{{form_respuesta.as_table}}
				<br/>
			<input type = "submit" value = "Responder"/>
			</form>
		</div>	
	</div>
</div> <!--col md 8 -->

<div class="col-md-4 column">
	<div class = "row clearfix">
		<div class = "div_imagen_tema_post">
			<img src="{{imagen_tema}}" class="imagen_tema"/>
		</div>
		<div class = "post_datos_tema">
			<a href=" {% url 'temas:index_tema' tema.slug 'recientes' %} "> <strong> {{tema.nombre}} </strong> </a>
			<p> {{posts_count}} Posts </p>
			<a href=" {% url 'temas:sumar_post' tema.slug %} "> <small> Nuevo Post en {{tema.nombre}} </small> </a>
		<div class="panel-link">
			<div>
				 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-737882" href="#panel-element-898967"> <small>descripción </small> </a>
			</div>
			<div id="panel-element-898967" class="panel-collapse collapse">
				<div>
					{{descripcion_tema.texto}}
				</div>
			</div>
		</div>
		</div>
	</div>


</div> <!--col md 4 -->
</div> <!--row clearfix -->
</div> <!-- md 12 -->
</div> <!-- row clear fix -->
{% endblock content %}