{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

<div class="js-lazyYT" data-youtube-id="{{id_video}}" data-width="300" data-height="200"></div>

<!--
<iframe width="560" height="315" src="//www.youtube.com/embed/{{id_video}}" frameborder="0" allowfullscreen></iframe>
<iframe src="//player.vimeo.com/video/94253228" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<iframe src="//player.vimeo.com/video/94253228" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->



{% endblock content %}

{% block javascript %}
<script src="{% static 'js/lazyYT.js' %} "></script>
<script>
$('.js-lazyYT').lazyYT();
</script>
{% endblock javascript %}