{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
<link href="{% static 'css/prueba.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}

<ul>
<img src="http://jaquealtitiritero.blogspot.com/2011/10/hoppe-la-democracia-y-mas.html">
<li> {{num_notificaciones}} </li>
</ul>


<!--
<iframe width="560" height="315" src="//www.youtube.com/embed/{{id_video}}" frameborder="0" allowfullscreen></iframe>
<iframe src="//player.vimeo.com/video/94253228" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<iframe src="//player.vimeo.com/video/94253228" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->



{% endblock content %}

{% block javascript %}

{% endblock javascript %}