{% load endless %}

{% paginate temas %}
<div class = "row">
	<div class = "endless_page_template">
		{% for t in temas %} <!-- Tab Temas Activos -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a href = "{% url 'temas:index_tema' t.0.slug 'ultimos' %}">  {{t.0.nombre}} </a>
				</h3>
			</div>
			<div class="panel-body">
				<div class = "div_imagen_tema">
					<img class = "imagen_tema" src = "{{t.2}}">
				</div>
				<p class = "text truncate">
					{{t.1}}
				</p>
			</div>
			<div class = "panel-footer">
				<p> <small> {{t.3}} posts y {{t.4}} videos desde el {{t.0.fecha_creacion|date:"SHORT_DATE_FORMAT"}} </small> </p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

<div class = "row">
<div class ="col-md-12">
	<hr>
	<div class = "paginacion">
		{% show_pages %}
	</div>
	</br>
	</br>
	</br>
</div>
</div>

