{% load endless %}
{% load staticfiles %}

{% paginate posts %}

<div class = "row">
	<div class = "endless_page_template">
		{% for post in posts %}
			<div>
			<div class = "col-md-2 col-sm-2 col-xs-2">
				<div class = "control_votos">
					<div class = "btn-group-vertical">
						{% if user.is_authenticated %}
						<p class = "vote-id hidden">{{post.0.id}}</p>
						<button type="button" class = "btn btn-default vote-up"> 
							<span class="fa fa-chevron-up"></span>
						</button>
						{% else %}
						<button type="button" class = "btn btn-default disabled"> 
							<span class="fa fa-chevron-up"></span>
						</button>
						{% endif %}
						<button class = "btn puntaje"> 
						<h2 class = "numero_puntaje {{post.2}}"> {{post.0.votos_total}} </h2>
						</button>
						{% if user.is_authenticated %}
						<button type="button" class = "btn btn-default vote-down"> 
							<span class="fa fa-chevron-down"></span>
						</button>
						{% else %}
						<button type="button" class = "btn btn-default disabled"> 
							<span class="fa fa-chevron-down"></span>
						</button>
						{% endif %}
					</div>
				</div>
			</div>
			<div class = "col-md-10 col-sm-10 col-xs-10">
				<div class="panel panel-info">
					<div class="panel-body">
						<p class = "text truncate">
						{{post.3|safe}}
						</p>
						<br/>
					</div>
					<div class="footer_css panel-footer">
						{% if post.0.creador.usuario == request.user %}
						<div class = "eliminar_editar pull-left">
							<div class = "btn-group dropup">
							<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
							<span class="fa fa-cog"></span>
							</button>
							<ul class="dropdown-menu">
								<li>
									<a href="{% url 'temas:eliminar_propio_post' post.0.id %}">Eliminar Post</a>
								</li>
								<li class = "divider"></li>
								<li>
									<a href="{% url 'temas:editar_post' post.0.id %}">Editar</a> 
								</li>
							</ul>
							</div>
						</div>
						{% endif %}
						<div class = "perfil_pequena">
							<img src = "{% static '/static/img/perfil2.jpeg' %}">
						</div>
						<div class = "nombre_fecha">
							<p><a href ="{% url 'perfiles:perfil' post.0.creador.usuario 'recientes' %}">
								{{post.0.creador.usuario.username}}</a> <small> el {{post.0.fecha}} </small>
							</p>
						</div>
						<div class = "footer_respuestas pull-right">
		 				<a href = "{% url 'temas:post' tema.slug post.0.id 'recientes' %} ">{{post.1}} 
		 				<span class="fa fa-comments"></span> 
		 				<span class="fa fa-chevron-right"></span></a>
		 				</div>
					</div>
				</div>
			</div> <!-- class md 10 -->
			</div> <!--post -->
		{% endfor %}
	</div>
</div>

<div class = "row">
<div class ="col-md-12">
	<hr>
	<div class = "paginacion">
		{% show_pages %}
	</div>
	</br>
	</br>
	</br>
</div>
</div>

