{% load endless %}

{% paginate posts %}
<div class = "row">
	<div class = "endless_page_template">
		{% for post in posts %}
			<div class = "post">
			<div class = "col-md-2 col-sm-2 col-xs-2">
				<div class = "control_votos">
					<div class = "btn-group-vertical">
						<p class = "vote-id hidden">{{post.0.id}}</p>
						<button type="button" class = "btn btn-default vote-up"> 
							<span class="fa fa-chevron-up"></span>
						</button>
						<button type="button" class = "btn btn-default puntaje"> 
						<h2 class = "numero_puntaje {{post.3}} "> {{post.0.votos_total}} </h2>
						</button>
						<button type="button" class = "btn btn-default vote-down"> 
							<span class="fa fa-chevron-down"></span>
						</button>
					</div>
				</div>
			</div>
			<div class = "col-md-10 col-sm-10 col-xs-10">
				<div class="panel panel-info">
					<div class="panel-body">
						<p class = "text truncate">
						{% if post.5 %}
						<small>
						<span class = "fa fa-play-circle"></span>
						<a href=" {{post.0.video.url}} "> {{post.0.video.titulo}}:</a> <br><br>
						</small> 
						{% endif %}
						{{post.6|safe}}
						</p>
					</div>
					<div class="panel-footer">
						{% if post.0.creador.usuario == request.user %}
						<div class = "eliminar_editar pull-left">
							<div class = "btn-group dropup">
							<button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="fa fa-cog">
							</button>
							<ul class="dropdown-menu">
								<li>
									<a href="{% url 'temas:eliminar_propio_post' post.0.id %}">Eliminar Post</a>
								</li>
								<li class = "divider"></li>
								<li>
									<a href="{% url 'temas:editar_post' post.0.id %}">Editar</a> <!-- -->
								</li>
							</ul>
							</div>
						</div>
						{% endif %}
						{% if post.1 %}
						<div class = "nombre_fecha">
						<p><small> Respuesta a <a href=" {% url 'perfiles:perfil' post.2 'recientes' %} "> {{post.2}}</a> 
							sobre <a href = "{% url 'temas:index_tema' post.0.tema.slug 'recientes' %} ">{{post.0.tema.nombre}} </a> el {{post.0.fecha|date:"D d M"}}. </small>
						</p>
						</div>
						{% else %}
						<div class = "nombre_fecha">
						<p><small>{{post.0.fecha|date:"D d M"}} </small> en <a href = "{% url 'temas:index_tema' post.0.tema.slug 'recientes' %} ">{{post.0.tema.nombre}}</a>
						</p>
						</div>
						{% endif %}

						<div class = "footer_respuestas pull-right">
						{% if post.5 %}
						<a href = "{% url 'videos:post_video' post.0.video.id post.0.tema.slug post.0.id 'recientes' %} "> {{post.4}} <span class="fa fa-comments"></span> <span class="fa fa-chevron-right "></span></a>
						{% else %}
		 				<a href = "{% url 'temas:post' post.0.tema.slug post.0.id 'recientes' %} "> {{post.4}} <span class="fa fa-comments"></span> <span class="fa fa-chevron-right "></span></a>
		 				{% endif %}
		 				</div>
					</div>
				</div>
			</div> <!-- class md 10 -->
			</div> <!--post -->
			{% endfor %}
	</div>
</div>

<div class = "row">
<div class ="col-md-12">
	<hr>
	<div class = "paginacion">
		{% show_pages %}
	</div>
	</br>
	</br>
	</br>
</div>
</div>