{% extends 'base_index.html' %}
{% load staticfiles %}

{% block extra_css %}
<link href="{% static 'css/perfil.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block navbar_mobile_xs %}
<!--click para marcar todos las notificaciones como leidas-->
{% endblock navbar_mobile_xs %}

{% block arriba %}
<div class="col-md-7 column">
	<div class = "row">
		<br>
	<ul class="breadcrumb_top breadcrumb">
		<li>
			<h2>Notificaciones</h2> 
			<span class="divider"></span>
		</li>
	</ul>
	</div>
</div>
{% endblock arriba %}

{% block botones_control %}
<div class = "col-md-8 div_control">
	<div class = "pull-left">
		<button id= "marcar_leidas" type="button" class="btn btn-warning btn_marcar_leidas" >
		Marcar como leídas <span class = 'fa fa-check-square-o fa-lg'></span>
		</button> 
	</div>
</div>
{% endblock botones_control %}

{% block tab_content %}
<div class = "col-md-6 col-sm-7 col-md-offset-1 col-xs-offset-0 col-xs-12">
		<div class="row clearfix">
			{% include page_template %}
		</div>
</div>
{% endblock tab_content %}

{% block sidebar %}
<div class="hidden-xs col-md-4 col-sm-4 column ">
	<div class = "div_perfil_datos ">
	<div class = "row imagen_perfil">
		<img src="http://th03.deviantart.net/fs70/PRE/f/2011/071/1/6/demon_hunter_illidan_stormrage_by_siakim-d3bghq6.jpg" class= "img-thumbnail"/>
	</div>
		<div class = "puntos_posts row ">
			<ul class="nav nav-pills">
			<br>
				<li>
					Puntos <span class="badge"> {{puntos_recibidos}} </span> 
				</li>
			<br>
				<li>
					Posts <span class="badge">{{num_posts}}</span> 
				</li>
			<br>
			{% if creo_temas %}
				<li>
					Temas <span class="badge">{{num_temas}}</span>
					<ul style = "margin-left: 10px" class = "list-unstyled">
						{% for tema in temas_usuario %}
						<li> <a href="{% url 'temas:index_tema' tema.slug 'recientes' %}">{{tema.nombre}}</a></li>
						{% endfor %}
					</ul>
				</li>
			{% endif %}
			</ul>
		</div>
	</div>
</div> <!--column 4-->
{% endblock sidebar %}

{% block javascript %}
<script>

$("#marcar_leidas").on('click', function(){
	$('.no_leida').each(function(){
		$(this).removeClass("no_leida")
	});
	$.ajax({
			data: {'cantidad':'todos'},
			url: '/notificaciones/marcar_leidas/',
			type: 'get',
			});
});

</script>
{% endblock javascript %}