 <!DOCTYPE html>
<html>
<head>

<style>
  h1   {margin:20px;
        text-align: center}
  img  {width: auto;
        height: 500px;
    	margin: auto;
        display: block;
		width:auto;
		border-top-left-radius: 10px 5px;
		border-bottom-right-radius: 10% 5%;
		border-top-right-radius: 10px;
		border-color: #FFBD32; 
		border-style: ridge;
		border-width: 2px;
		padding: 5px}
</style>
<h1> 403 - Permiso denegado </h1>

<img src="https://s3-us-west-1.amazonaws.com/orillalibertaria/403.jpg">

<p> <small> Recuerda que Orilla Libertaria es una comunidad, por favor cuéntanos en dónde diste click para que te saliera este mensaje, así podemos arreglarlo. </small> 
</p>

</head>