{% extends 'base.html' %}

{% block content %}
<div class = "col-md-offset-1 col-xs-offset-0 col-md-8 col-xs-12">
<h1> Términos y Condiciones de Orilla Libertaria </h1>
<br/>
<p>
<strong>1. Normas generales</strong>
<br>
1.1 El hecho de ignorar o desconocer las normas y políticas de Orilla Libertaria no exime a ningún usuario de su cumplimiento. Es obligación de todos los usuarios leer y adherirse a las normas aquí descritas y a las especificadas en cualquier otro foro, tema o categoría.
<br>
1.2 Nos reservamos el derecho de mover, borrar, editar o cerrar contenido que incumpla las normas y políticas establecidas en Orilla Libertaria o por cuestiones administrativas, a nuestra discreción y sin explicación previa o posterior.
<br>
1.3 El idioma de preferencia en Orilla Libertaria es el español (castellano), por lo que agradecemos el uso moderado de cualquier otro lenguaje.
<br>
1.4 Los usuarios sólo podrán tener una cuenta por persona, y cada cuenta podrá ser manejada por una persona únicamente. Las cuentas adicionales podrán ser suspendidas sin aviso previo o posterior al usuario.
<br>
1.5 El incumplimiento de las normas y políticas, así como cualquier ofensa, agresión o expresión de insulto dirigida a cualquier usuario, podrá resultar en la suspensión inmediata del usuario agresor.
<br>
<br>
<strong>2. Normas sobre los temas y del contenido en general</strong>
<br>
2.1 No se permite la publicación de productos, servicios, enlaces, contenidos o cualquier otro tipo de información que haga referencia a la empresa o sitio web con la que están relacionados directa o indirectamente, con clara intención o propósito publicitario, compra/venta, comercial o de autopromoción. Esto incluye sugerir sus propios servicios y los servicios de asociados, clientes y empleadores.
<br>
2.2 Está prohibido publicar enlaces (links o URL) que incluyan algún sistema de comisiones, afiliados, referidos o cualquier otro sistema del tipo pago por clic (pay per click), tanto en el cuerpo de los mensajes como en el espacio destinado a la firma de usuario.
<br>
2.3 Los usuarios no pueden enviar publicidad u ofertas de servicios no solicitados a través de mensajes privados y/o correo electrónico a otros usuarios de Orilla Libertaria.
<br>
2.4 No está permitido iniciar dos o más temas con respecto al mismo tópico o asunto, ni publicar dos o más mensajes cuyos contenidos coincidan dentro de un mismo tema en un mismo foro o en vários foros. Dichos temas o mensajes publicados podrán ser eliminados o unidos sin aviso previo o posterior.
<br>
2.5 Los usuarios no pueden publicar mensajes en nombre o representación de usuarios suspendidos (baneados).
<br>
2.6 Los usuarios deberán tener una puntuación mayor a diez para poder denunciar una imagen o frase, la imagen o frase que reciba más de cuatro denuncias será removida de la Galería de Imágenes  (imagen) o del Banco de Frases (frase) respectivamente.
<br>
2.7 Los usuarios no pueden revivir o reactivar temas publicando información inútil o sin sentido, o llevando a cabo cualquier otra acción para deliberadamente mantener arriba en el índice del foro dicho tema o aumentar el contador de mensajes.
<br>
2.8 Los usuarios no pueden usar los temas o discusiones para promover, recomendar, alabar o desacreditar otros productos, servicios, empresas o sitios web, sin tener experiencia directa o de primera mano con esos productos, servicios, empresas o sitios web.
<br>
2.9 Los usuarios no pueden publicar, solicitar ni difundir información que promueva el plagio, la piratería, la divulgación de números de serie, crack o similares, o copias no autorizadas de material protegido por derechos de autor.
<br>
2.10 Los usuarios deben usar un lenguaje cortés, respetuoso y gentil. Ningún usuario puede publicar material o contenido que sea conocidamente falso, difamatorio, insultante, acosatorio, vulgar, hostil, obsceno, profano, de orientación sexual, amenazante, racista o que fomente cualquier tipo de odio, ilegal en algún país o región, invasivo de la privacidad de alguna persona o que vulnere alguna ley o derechos de autor.
<br>
2.11 Los usuarios no pueden publicar, solicitar ni difundir información que promueva la realización de ningun ilícito en su jurisdicción, incluyendo pero no limitado a: fraudes electrónicos, SPAM, Phishing, Spoofing, Forgery y cualquier otro tipo de conducta que sea considerada un acto ilegal.
<br>
2.12 Los usuarios no pueden publicar ningún tipo de enlace a páginas web de temática pornográfica/adultos (+18), casinos, descargas P2P o descargas de archivos protegidos por las leyes de copyright, o que sea susceptible de ser ilegal y/o sospechoso. Esto en cumplimiento con las políticas publicitarias de Google Adsense y otros proveedores que financian nuestra comunidad gratuita.
<br>
<br>
<strong>3. Normas sobre el Contenido y su licencia</strong>
<br>
4.1 Se entiende que todos los contenidos que los usuarios publican a partir de dicha fecha son otorgados bajo licencia Creative Commons BY-NC-SA.
<br>
4.2 Esta regla aplica únicamente para los contenidos originales que cada usuario envíe al foro, no así a imágenes que provengan de servidores externos o cualquier otro contenido protegido por leyes de propiedad intelectual utilizados en el marco legal.
<br>
4.3 Debido a que los contenidos del sitio son liberados y compartidos en base a la licencia Creative Commons BY-NC-SA de solicitarse la eliminación de un usuario, los contenidos quedarán publicados con un usuario invitado, para poder conservar la integridad de las conversaciones. No eliminamos mensajes, si lo publicas, lo compartes y lo difundes.
<br>
4.4 Orilla Libertaria asume que el contenido compartido, frases, imágenes, texto y videos, no tiene restricción alguna por derechos de autor y puede desplegarse libremente en las diferentes páginas del sitio web. Es responsabilidad del usuario asegurarse que el contenido compartido no viole derechos de autor.
<br>
4.5 El poseedor de los derechos de autor de contenido disponible en Orilla Libertaria deberá contactarse con la administración del sitio si desea que dicho contenido sea removido. Orilla Libertaria removerá dicho contenido en un plazo máximo de 48 horas.
<br>
</p>
</div>

{% endblock content %}