{% extends "base.html" %}
{% load staticfiles %}

{% block titletag %}
<title> Imágenes Libertarias </title>
{% endblock titletag %}


{% block meta_description %}
<meta name="description" content = "Colección de imágenes libertarias compartidas en Orilla Libertaria">
{% endblock meta_description %}


{% block extra_css %}
<link href="{% static 'css/galeria.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}
<div class="modal fade" id="modal_reportar">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class = "close" id="close_modal_reportar" data-dismiss="modal" aria-hidden="true">X</button>
          <h4> Has denunciado una imagen </h4>
        </div>
        <div class="modal-body">
          <p>Gracias por colaborar y ser parte de la comunidad de Orilla Libertaria. Las imágenes se remueven de la Galería cuando cuatro usuarios con más de 10 puntos las denuncian.</p>
        </div>
      </div>
    </div>
</div>
{% block menu %}
{% endblock menu %}

{% block imagenes %}
{% endblock imagenes %}

<div class="modal fade" id="modal_imagen" 
tabindex="-1" role="dialog" aria-labelledby="modal_imagen" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
            <div class="modal-header">
                <p id = "modal_counter" data-counter="" class ="hidden"></p>
                <p class = "imagen_id hidden"></p>
                <p id = "modal_favoritos" class = "favoritos"></p>
                <span id = "modal_estrella" class='estrella marcar_favorito fa fa-star fa-lg'></span>
                <span id = "modal_left" class = "modal_left fa fa-caret-left fa-lg"></span>
                <span id ="puzzle_modal" class = "puzzle_modal fa fa-puzzle-piece fa-lg"></span>
                <span id = "modal_right" class = "modal_right fa fa-caret-right fa-lg"></span>
                <a class ="link_imagen" id = "link_imagen" href=""><span class = "fa fa-external-link"></span></a>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">X</span>
                </button>
            </div>
            <div class="modal-body">
                <img class = "thumbnail imagen_modal" src="">
            </div>
    </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}

<!--<script src="{% static 'js/modal.js' %} "></script> -->
<script src="{% static 'js/imagen_favorita.js' %} "></script>
<script src="{% static 'js/modal_galeria.js' %} "></script>
{% block extra_javascript %}
{% endblock extra_javascript %}

{% endblock javascript %}

