{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
<link href="{% static 'css/forms.css' %}" rel="stylesheet">
<link href="{% static 'css/wChar.css' %}" rel="stylesheet">

{% block form_specific_css %}
{% endblock form_specific_css %}
{% endblock extra_css %}

{% block content %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-8 column">
					{% block arriba %}
					{% endblock arriba %}
					{% block form %}
					{% endblock form %}
				</div>
				<div class="col-md-4 column">
					<br>
					{% block description %}
					{% endblock description %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascript %}
{% load staticfiles %}

<script src="{% static 'js/wChar.js' %} "></script>
<script src="{% static 'js/validation-core.js' %} "></script>
<script src="{% static 'js/validation-ajax.js' %} "></script>
<script src="{% static 'js/validation-delegate.js' %} "></script>

{% block extra_javascript %}

{% endblock extra_javascript %}
<script>
$(document).ready(function(){
	$('.textarea').wChar();
	$('#wchar').wChar();
});
</script>
{% endblock javascript %}