<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Orilla Libertaria Imágenes</title>
  {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/galeria.css' %}" rel="stylesheet">
    <link href="{% static 'css/olibertaria_base.css' %}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>

<body>
<div class = "container">

<div class="modal fade" id="modal_reportar">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class = "pull-right" id="close_modal_reportar" data-dismiss="modal" aria-hidden="true">×</button>
          <h4> Has denunciado una imagen </h4>
        </div>
        <div class="modal-body">
          <p>Gracias por colaborar con la comunidad de Orilla Libertaria. Las imágenes se remueven de la Galería cuando cuatro usuarios con más de 10 puntos las denuncian.</p>
        </div>
      </div>
    </div>
</div>

{% block menu %}
{% endblock menu %}

{% block content %}
{% endblock content %}

<div class="modal fade" id="modal_imagen" 
tabindex="-1" role="dialog" aria-labelledby="modal_imagen" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
            <div class="modal-header">
                <p id = "modal_counter" data-counter="" class ="hidden"></p>
                <p class = "imagen_id hidden"></p>
                <p id = "modal_favoritos" class = "favoritos"></p>
                <span id = "modal_estrella" class='estrella marcar_favorito fa fa-star fa-lg'></span>
                <span id = "modal_left" class = "modal_left fa fa-caret-left fa-lg"></span>
                <span id ="puzzle_modal" class = "puzzle_modal fa fa-puzzle-piece fa-lg"></span>
                <span id = "modal_right" class = "modal_right fa fa-caret-right fa-lg"></span>
                <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">
                <img class = "thumbnail imagen_modal" src="">
            </div>
    </div>
    </div>
</div>

<script src="{% static 'js/modal.js' %} "></script>
<script src="{% static 'js/imagen_favorita.js' %} "></script>
<script src="{% static 'js/modal_galeria.js' %} "></script>
{% block extra_javascript %}
{% endblock extra_javascript %}

</div> <!--container -->
</body>
</html>
