{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="row clearfix">
{% block arriba %}
{% endblock arriba %}
</div>

<div class="row clearfix">
	<div class="col-md-12 column">
			{% block botones_control %}
			{% endblock botones_control %}
			{% block tab_content %}
			{% endblock tab_content %}
	</div>

	<div class="row clearfix">
		{% block sidebar %}
		{% endblock sidebar %}	
	</div>
</div>

{% endblock content %}

{% block javascript %}
{% endblock javascript %}