{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
<link href="{% static 'css/wChar.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-8 column">
					{% block arriba %}
					{% endblock arriba %}
					{% block form %}
					{% endblock form %}
				</div>
				<div class="col-md-4 column">
					{% block description %}
					{% endblock description %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascript %}
{% load staticfiles %}

<script src="{% static 'js/wChar.js' %} "></script>

<script>
$(document).ready(function(){
	$('.textarea').wChar();
});

</script>
{% endblock javascript %}