<div class = "btn-group-vertical">
{% if post.0.es_respuesta or post.0.video %}
	{% if user.is_authenticated %}
		<p class = "vote-id hidden">{{post.0.id}}</p>
		<button type="button" class = "btn btn-default vote-up"> 
			<span class="fa fa-chevron-up"></span>
		</button>
		<button type="button" class = "btn btn-default puntaje"> 
			<h2 class = "numero_puntaje {{post.1}} "> {{post.0.votos_total}} </h2>
		</button>
		<button type="button" class = "btn btn-default vote-down"> 
			<span class="fa fa-chevron-down"></span>
		</button>
	{% else %}
		<button type="button" class = "btn btn-default disabled"> 
			<span class="fa fa-chevron-up"></span>
		</button>
		<button type="button" class = "btn btn-default puntaje"> 
			<h2 class = "numero_puntaje {{post.1}} "> {{post.0.votos_total}} </h2>
		</button>
		<button type="button" class = "btn btn-default disabled"> 
			<span class="fa fa-chevron-down"></span>
		</button>
	{% endif %}
{% else %}
	{% if user.is_authenticated %}
	<p class = "vote-id hidden">{{post.0.id}}</p>
	<button title = "Guardar en favoritos" type="button" class = "btn btn-default vote-up"> 
		<span class="fa fa-star fa-lg"></span>
	</button>
	{% else %}
	<button title = "Guardar en favoritos" type="button" class = "btn btn-default disabled_estrella"> 
		<span class="fa fa-star fa-lg"></span>
	</button>
	{% endif %}
	<button type="button" class = "btn btn-default puntaje"> 
		<h2 class = "numero_puntaje {{post.1}} "> {{post.0.votos_total}} </h2>
	</button>
{% endif %}
</div>

<script>
$(".disabled_estrella").hover(
	function(){
		console.log("hover");
		var estrella = $(this).find(".fa-star");
		console.log(estrella);
		$(estrella).removeClass("fa-star");
		$(estrella).addClass("fa-lock");
	},
	function(){
		console.log("leave");
		var estrella = $(this).find(".fa-lock");
		console.log(estrella);
		$(estrella).removeClass("fa-lock");
		$(estrella).addClass("fa-star");
});
</script>
