
<ul class = "lista_notificaciones list-group">
{% for notificacion in notificaciones %}
<li class = "list-group-item {% if not notificacion.0.leida %} no_leida {% endif %}">
	{% if notificacion.0.tipo_objeto == "post" %}

		{% if notificacion.0.tipo_notificacion == "fav_voteup" %}
			<img class = "pull-right imagen_notificacion" src="{{notificacion.1.tema.imagen}}">

			<a href = "{% url 'perfiles:perfil' notificacion.0.actor.usuario.username 'recientes' %}">{{notificacion.0.actor.usuario.username}} </a> voto a favor de tu 
			<a class ="notificacion_obj" href="{% url 'notificaciones:marcar_leida_redirect' notificacion.1.tema.slug notificacion.0.id %}">post</a> en <a href="{% url 'temas:index_tema' notificacion.1.tema.slug 'recientes' %}"> {{notificacion.1.tema.nombre}}</a>
		{% elif notificacion.0.tipo_notificacion == "comment" %}
			<img class = "pull-right imagen_notificacion" src="{{notificacion.1.tema.imagen}}">		
			<a href = "{% url 'perfiles:perfil' notificacion.0.actor.usuario.username 'recientes' %}">{{notificacion.0.actor.usuario.username}} </a> comentó tu <a class ="notificacion_obj" href="{% url 'notificaciones:marcar_leida_redirect' notificacion.1.tema.slug notificacion.0.id %}">post</a> en <a href="{% url 'temas:index_tema' notificacion.1.tema.slug 'recientes' %}"> {{notificacion.1.tema.nombre}}</a>
		{% elif notificacion.0.tipo_notificacion == "num" %}
			<img class = "pull-right imagen_notificacion" src="{{notificacion.1.tema.imagen}}">				
			Felicitaciones, tu <a class ="notificacion_obj" href="{% url 'notificaciones:marcar_leida_redirect' notificacion.1.tema.slug notificacion.0.id %}">post</a> en <a href="{% url 'temas:index_tema' notific0acion.1.tema.slug 'recientes' %}"> {{notificacion.1.tema.nombre}}</a> tiene más de {{notificacion.2}} votos.
		{% endif %}

	{% endif %}

	{% if notificacion.0.tipo_objeto == "video" %}

		{% if notificacion.0.tipo_notificacion == "fav_voteup" %}
			<img class = "pull-right imagen_notificacion" src="{{notificacion.1.tema.imagen}}">				
			<a href = "{% url 'perfiles:perfil' notificacion.0.actor.usuario.username 'recientes' %}">{{notificacion.0.actor.usuario.username}} </a> marcó como favorito el <a class ="notificacion_obj" href="{% url 'notificaciones:marcar_leida_redirect' notificacion.1.tema.slug notificacion.0.id %}">video</a> que compartiste en <a href="{% url 'temas:index_tema' notificacion.1.tema.slug 'recientes' %}"> {{notificacion.1.tema.nombre}}</a>
		{% elif notificacion.0.tipo_notificacion == "comment" %}
			<img class = "pull-right imagen_notificacion" src="{{notificacion.1.tema.imagen}}">

			<a href = "{% url 'perfiles:perfil' notificacion.0.actor.usuario.username 'recientes' %}">{{notificacion.0.actor.usuario.username}} </a> comentó el <a class ="notificacion_obj" href="{% url 'notificaciones:marcar_leida_redirect' notificacion.1.tema.slug notificacion.0.id %}">video</a> que compartiste en <a href="{% url 'temas:index_tema' notificacion.1.tema.slug 'recientes' %}"> {{notificacion.1.tema.nombre}}</a>
		{% elif notificacion.0.tipo_notificacion == "num" %}
			<img class = "pull-right imagen_notificacion" src="{{notificacion.1.tema.imagen}}">

			Felicitaciones, el <a class ="notificacion_obj" href="{% url 'videos:video' notificacion.1.id notificacion.1.tema.slug 'recientes' %}">video</a> que compartiste en <a href="{% url 'notificaciones:marcar_leida_redirect' notificacion.1.tema.slug notificacion.0.id %}"> {{notificacion.1.tema.nombre}}</a> tiene más de {{notificacion.2}} favoritos.
		{% endif %}
		
	{% endif %}

	{% if notificacion.0.tipo_objeto == "imagen" %}

		{% if notificacion.0.tipo_notificacion == "fav_voteup" %}
			<img class = "pull-right imagen_notificacion" src="{{notificacion.1.url}}">

			<a href = "{% url 'perfiles:perfil' notificacion.0.actor.usuario.username 'recientes' %}">{{notificacion.0.actor.usuario.username}} </a>
			marcó como favorita la <a class ="notificacion_obj" href="{% url 'notificaciones:marcar_leida_redirect' 'slug' notificacion.0.id %}">imagen</a> que compartiste.
		{% elif notificacion.0.tipo_notificacion == "denuncia" %}
			<img class = "pull-right imagen_notificacion" src="{{notificacion.1.url}}">

			La <a class ="notificacion_obj" href="{% url 'notificaciones:marcar_leida_redirect' 'slug' notificacion.0.id %}">imagen</a> que compartiste ha sido denunciada y removida de la Galería.
		{% elif notificacion.0.tipo_notificacion == "num" %}
			<img class = "pull-right imagen_notificacion" src="{{notificacion.1.url}}">

			Felicitaciones, la <a class ="notificacion_obj" href="{% url 'notificaciones:marcar_leida_redirect' 'slug' notificacion.0.id %}">imagen</a> que compartiste tiene más de {{notificacion.2}} favoritos.
		{% endif %}
		
	{% endif %}

	{% if notificacion.0.tipo_objeto == "cita" %}

		{% if notificacion.0.tipo_notificacion == "fav_voteup" %}
			<a href = "{% url 'perfiles:perfil' notificacion.0.actor.usuario.username 'recientes' %}">{{notificacion.0.actor.usuario.username}} </a> marcó como favorita la <a class ="notificacion_obj" href="{% url 'notificaciones:marcar_leida_redirect' 'slug' notificacion.0.id %}">frase</a> de {{notificacion.1.autor}} que compartiste:</br>
			<span class = "fa fa-quote-left fa-lg"></span> {{notificacion.1.texto|truncatewords:10}} <span class = "fa fa-quote-right fa-lg"></span> 
		{% elif notificacion.0.tipo_notificacion == "denuncia" %}
			La <a class ="notificacion_obj" href="{% url 'notificaciones:marcar_leida_redirect' 'slug' notificacion.0.id %}">frase</a> que compartiste ha sido denunciada y removida del Banco de Frases:</br>
			<span class = "fa fa-quote-left fa-lg"></span> {{notificacion.1.texto|truncatewords:10}} <span class = "fa fa-quote-right fa-lg"></span> 
		{% elif notificacion.0.tipo_notificacion == "num" %}
			Felicitaciones, la <a class ="notificacion_obj" href="{% url 'notificaciones:marcar_leida_redirect' 'slug' notificacion.0.id %}">frase</a> que compartiste tiene más de {{notificacion.2}} favoritos:</br>
			<span class = "fa fa-quote-left fa-lg"></span> {{notificacion.1.texto|truncatewords:10}} <span class = "fa fa-quote-right fa-lg"></span>
		{% endif %}
		
	{% endif %}
</li>
{% endfor %}
</ul>



<script>

$("#notificaciones").on("click",'.marcar_leidas_cuadro', function(){
	$(".num_notificaciones").addClass("hidden");
	$("#spinner").removeClass('fa-rotate-180');
	$.ajax({
	data: {'cantidad':'cinco'},
	url: '/notificaciones/marcar_leidas/',
	type: 'get',
	});
	$("#notificaciones").hide("fold", 1000);
});

$(".mostrar_notificaciones").click(function(){
	if ($("#spinner").hasClass('fa-rotate-180')){
		$("#spinner").removeClass("fa-rotate-180");
		$("#notificaciones").hide("fold", 1000)
	}
	else
	{
		$("#notificaciones").show("fold", 1000)
		$("#spinner").addClass('fa-rotate-180');
		$("#notificaciones").removeClass("hidden");
	}
});

</script>