{% extends "base_forms.html" %}

{% block arriba %}
<div class = "row titulo_con_barco">
	<h2> Nuevo video en <a href=" {% url 'temas:index_tema' tema.slug 'recientes' %} ">{{tema.nombre}}</a></h2>

	<img style = "margin-right:20px" class = "barco_logo pull-right" src="http://i269.photobucket.com/albums/jj43/comentarioshi5/dibujos-para-pintar/barco-pirata/06.gif">
	<br/>
</div>
{% endblock arriba %}

{% block form %}
<br><br>
<div class = "col-md-10 col-md-offset-1">
<div class = "form_margins">
	<div class = "row">
	<form id = "formulario" class = "form-horizontal" action = "{% url 'videos:nuevo_video' tema.slug %}" method = "post">
	{% csrf_token %}
	{{form_nuevo_video.non_field_errors}}
	<fieldset>

	<div class = "form-group">
		{{form_nuevo_video.titulo.errors}}
		<label class = "control-label" for = "titulo"> Titulo*</label>
		{{form_nuevo_video.titulo}}
	</div>

	<div class = "form-group">
		{{form_nuevo_video.url.errors}}
		<label class = "control-label" for = "url"> URL*</label>
		{{form_nuevo_video.url}}
		<span class = "help-block"> De preferencia, un video alojado en Youtube </span>
	</div>

	<div class = "form-group">
		{{form_nuevo_video.descripcion.errors}}
		<label class = "control-label" for="descripcion"> Descripción* </label>
		<div class = "row textarea_form">
		{{form_nuevo_video.descripcion}}
		</div>
		<span class = "help-block"> Describe el video para Orilla Libertaria </span>
	</div>

	</fieldset>
	<input class = "btn pull-right" type = "submit" value ="enviar"/>
</form>

{% endblock form %}

{% block extra_javascript %}
<script>
$(document).ready(function(){
	$('#formulario').validate({
		rules: {
			titulo: {
				required: true,
				minlength: 15,
				maxlength: 150,
			},
			url: {
				required: true,
				minlength: 15,
				maxlength: 150,
			},
			descripcion: {
				required: true,
				minlength: 20,
				maxlength: 1000,
			}
		},
		errorElement: "span",
		onfocusout: false,
		onkeyup: false,
		messages: {
			titulo: "*El título debe tener mínimo 15 y máximo 150 caracteres.",
			url: "*Proporciona una url válida.",
			descripcion: "*La descripción debe tener mínimo 20 y máximo 1000 caracteres:"
		}
	});
});
</script>
{% endblock extra_javascript %}
