{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
<link href="{% static 'css/post.css' %}" rel="stylesheet">
<link href="{% static 'css/videos.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}

<div class="row clearfix">
<div class = "col-md-12">
<div class = "row">
	<a class = "regresar_video" href=" {% url 'videos:video' video.id video.tema.slug 'recientes' %} ">  {{video.titulo}} <i class ="fa fa-level-up"></i></a>
	<br/>
	<br>
	{% include 'cuadro_video.html' %}
</div>
</div>

<div class="col-md-8 column">
<div class = "row clearfix"> <!--cuadro para posts -->

<!-- post_padre -si el post respuesta-->
{% if post.0.es_respuesta %}
		<h5 id = "mostrar_post_padre" class="text-muted">
			Mostrar el post de {{post_padre.0.creador.nickname}}
			<i class="fa fa-comments-o"></i>
		</h5>

		<div id = "post_hidden" class = "hidden"> <!--post padre respuesta -->
		
		{% if post_padre.0.eliminado %}
		<div class = "col-md-11 col-md-offset-1">
			<div class="panel panel-danger">
				<div class="panel-body">
					<p class = "text">
						<i class = "fa fa-exclamation-triangle"></i>
						{% if post_padre.0.creador.usuario == request.user %}
						Eliminaste este post. Si deseas restaurarlo has click aquí: <a href="{% url 'temas:eliminar_propio_post' post_padre.0.id %}">Restaurar Post</a>
						{% else %}
						 Post eliminado por usuario. 
						{% endif %}

					</p>
					<br/>
				</div>
				<div class="panel-footer">
					{% if post_padre.0.creador.usuario == request.user %}
					<div class = "eliminar_editar pull-left">
						<div class = "btn-group dropup">
						<button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="fa fa-cog"></span>
						</button>
						<ul class="dropdown-menu">
							<li>
								<a href="{% url 'temas:eliminar_propio_post' post_padre.0.id %}">Restaurar Post</a>
							</li>
							<li class = "divider"></li>
							<li class = "disabled">
								<a href="{% url 'temas:editar_post' post_padre.0.id %}">Editar</a> 
							</li>
						</ul>
						</div>
					</div>
					{% endif %}
					<div class = "footer_respuestas pull-right">
			 			<a href = "{% url 'videos:post_video' video.id tema.0.slug post_padre.0.id 'recientes' %} ">
			 				{{post_padre.2}}
			 			<span class="fa fa-comments"></span>
			 			<span class="fa fa-chevron-right"></a>
			 		</div>
					<div class = "perfil_pequena">
						<img src = "{{post_padre.0.creador.imagen_perfil}}">
					</div>
					<div class = "nombre_fecha">
					<p><a href ="{% url 'perfiles:perfil' post_padre.0.creador.usuario 'recientes' %}">
						{{post_padre.0.creador.nickname}}</a> 
						<small class = "fecha_desde"> {{post_padre.4}} </small>
					</p>
					</div>
				</div>
			</div>
		</div>

		{% else %}

			<div class = "col-md-2 col-sm-2 col-xs-2">
				<div class = "control_votos">
				{% include 'control_votos_fav.html' with post=post_padre %}
				</div>
			</div>
			<div class = "col-md-10 col-sm-10 col-xs-10">
				<div class="panel panel-success post_resaltado_success">
					<div class="panel-body">
						<p class = "text truncate">
						{{post_padre.3|safe}}
						Es Respuesta: {{post_padre.0.es_respuesta}}
						</p>
						<br/>
					</div>
					<div class="panel-footer">
						{% if post_padre.0.creador.usuario == request.user %}
						<div class = "eliminar_editar pull-left">
							<div class = "btn-group dropup">
							<button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="fa fa-cog"></span>
							</button>
							<ul class="dropdown-menu">
								<li>
									<a href="{% url 'temas:eliminar_propio_post' post_padre.0.id %}">Eliminar Post</a>
								</li>
								<li class = "divider"></li>
								<li>
									<a href="{% url 'temas:editar_post' post_padre.0.id %}">Editar</a> 
								</li>
							</ul>
							</div>
						</div>
						{% endif %}
						<div class = "perfil_pequena">
							<img src = "{{post_padre.0.creador.imagen_perfil}}">
						</div>
						<div class = "nombre_fecha">
						<p><a href ="{% url 'perfiles:perfil' post_padre.0.creador.usuario 'recientes' %}">
							{{post_padre.0.creador.usuario.username}}</a> 
							<small class = "fecha_desde"> {{post_padre.4}} </small>
						</p>
						</div>
						<div class = "footer_respuestas pull-right">
				 			<a href = "{% url 'videos:post_video' video.id tema.0.slug post_padre.0.id 'recientes' %} ">
			 				{{post_padre.2}}
			 				<span class="fa fa-comments"></span>
			 				<span class="fa fa-chevron-right"> </a>
				 		</div>
					</div>
				</div>
			</div> <!-- class md 11 -->
			
		{% endif %}
		</div> <!--post padre respuesta-->
		
{% endif %}

<!-- Si el post ha sido eliminado muestra un post eliminado -->
{% if post.0.eliminado %}
	<div class = "col-md-11 col-md-offset-1">
			<div class="panel panel-danger">
				<div class="panel-body">
					<p class = "text">
						<i class = "fa fa-exclamation-triangle"></i>
						{% if post.0.creador.usuario == request.user %}
						Eliminaste este post. Si deseas restaurarlo has click aquí: <a href="{% url 'temas:eliminar_propio_post' post.0.id %}">Restaurar Post</a>
						{% else %}
						 Post eliminado por usuario. 
						{% endif %}
					</p>
					<br/>
				</div>
				<div class="panel-footer">
					{% if post.0.creador.usuario == request.user %}
					<div class = "eliminar_editar pull-left">
						<div class = "btn-group dropup">
						<button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="fa fa-cog"></span>
						</button>
						<ul class="dropdown-menu">
							<li>
								<a href="{% url 'temas:eliminar_propio_post' post.0.id %}">Restaurar Post</a>
							</li>
							<li class = "divider"></li>
							<li class = "disabled">
								<a href="{% url 'temas:editar_post' post.0.id %}">Editar</a> 
							</li>
						</ul>
						</div>
					</div>
					{% endif %}
					<div class = "perfil_pequena">
						<img src = "{{post.0.creador.imagen_perfil}}">
					</div>
					<div class = "nombre_fecha">
					<p><a href ="{% url 'perfiles:perfil' post.0.creador.usuario 'recientes' %}">
						{{post.0.creador.usuario.username}}</a> <small class = "fecha_desde"> {{post.4}} </small>
					</p>
					</div>
					<div class = "footer_respuestas pull-right">
			 			<a href = "{% url 'videos:post_video' video.id tema.0.slug post.0.id 'recientes' %} ">
			 				{{post.2}}
			 			<span class="fa fa-comments"></span>
			 			<span class="fa fa-chevron-right"> </a>
			 		</div>
				</div>
			</div>
		</div> <!-- post eliminado -->
{% else %}
<!-- Post. -->
		<br>
		<div class = "col-md-2 col-sm-2 col-xs-2">
			<div class = "control_votos">
				{% include 'control_votos_fav.html' %}
			</div>
		</div>
		<div class = "col-md-10 col-sm-10 col-xs-10">
			<div class="panel panel-warning post_resaltado_warning">
				<div class="panel-body">
					<p class = "text truncate">
					{{post.3|safe}}
					</p>
					<br/>
				</div>
				<div class="panel-footer">
					{% if post.0.creador.usuario == request.user %}
					<div class = "eliminar_editar pull-left">
						<div class = "btn-group dropup">
						<button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="fa fa-cog"></span>
						</button>
						<ul class="dropdown-menu">
							<li>
								<a href="{% url 'temas:eliminar_propio_post' post.0.id %}">Eliminar Post</a>
							</li>
							<li class = "divider"></li>
							<li>
								<a href="{% url 'temas:editar_post' post.0.id %}">Editar</a>
							</li>
						</ul>
						</div>
					</div>
					{% endif %}
					<div class = "perfil_pequena">
						<img src = "{{post.0.creador.imagen_perfil}}">
					</div>
					<div class = "nombre_fecha">
					<p><a href ="{% url 'perfiles:perfil' post.0.creador.usuario 'recientes' %}">
						{{post.0.creador.usuario.username}}</a>
						{% if post.0.es_respuesta %}
						en respuesta a 
						<a href ="{% url 'perfiles:perfil' post_padre.0.creador.usuario 'recientes' %}">
						{{post_padre.0.creador.usuario.username}}</a> 
						{% endif %}
						<small class = "fecha_desde">{{post.4}}</small>
					</p>
					</div>
				</div>
			</div>
		</div> <!-- class md 10 -->
{% endif %}
</div> <!--cuadro para posts -->

{% if user.is_authenticated %}
<div class = "row clearfix">
	<div class = "col-md-10 col-md-offset-2 col-lg-offset-2 ">
		<form id = "formulario" class = "form-horizontal form_respuesta" action = " {% url 'temas:respuesta' tema.0.slug post.0.id %} " method = "POST"/>
		{% csrf_token %}
		<fieldset>
		<div class = "form-group">
			<label = class = "control-label" for = "texto"></label>
			{{form_respuesta.texto}}
		</div>
		</fieldset>
		<input id = "enviar_respuesta" class = "btn pull-right" type = "submit" value = "Enviar"/>
		</form>
	</div>
</div>
{% endif %}

<div class = "col-md-12">
	<h5 class="text-muted">
		<p style = "display: inline-block" id = "num_respuestas"> {{post.2}}</p> 
		Respuestas a {{post.0.creador.usuario}}:
		<a class = "{{recientes}}" href= "{% url 'videos:post_video' video.id tema.0.slug post.0.id 'recientes' %}">Recientes</a> - <a class = "{{primeras}}" href="{% url 'videos:post_video' video.id tema.0.slug post.0.id 'primeras' %}">Populares</a>
	</h5>
</div>

<div class = "row">
{% for respuesta in respuestas %}
<div>
<div class = "col-md-2 col-sm-2 col-xs-2">
	<div class = "control_votos">
	{% include 'control_votos_fav.html' with post=respuesta %}		
	</div>
</div>
<div class = "col-md-10 col-sm-10 col-xs-10">
	<div class="panel panel-info post_resaltado_info">
		<div class="panel-body">
			<p class = "text truncate">
			{{respuesta.3|safe}} {{respuesta.0.video}}
			</p>
			<br/>
		</div>
		<div class="panel-footer">
			{% if respuesta.0.creador.usuario == request.user %}
			<div class = "eliminar_editar pull-left">
				<div class = "btn-group dropup">
				<button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="fa fa-cog"></span>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a href="{% url 'temas:eliminar_propio_post' respuesta.0.id %}">Eliminar respuesta</a>
					</li>
					<li class = "divider"></li>
					<li>
						<a href="{% url 'temas:editar_post' respuesta.0.id %}">Editar</a> 
					</li>
				</ul>
				</div>
			</div>
			{% endif %}
			<div class = "footer_respuestas pull-right">
				<a href = "{% url 'videos:post_video' video.id tema.0.slug respuesta.0.id 'recientes' %} ">{{respuesta.2}} <span class="fa fa-comments"></span> <span class="fa fa-chevron-right"></span></a>
			</div>
			<div class = "perfil_pequena">
				<img src = "{{respuesta.0.creador.imagen_perfil}}">
			</div>
			<div class = "nombre_fecha">
				<p><a href ="{% url 'perfiles:perfil' respuesta.0.creador.usuario 'recientes' %}">
					{{respuesta.0.creador.usuario.username}}</a> <small class = "fecha_desde">{{respuesta.4}}</small>
				</p>
			</div>
			{% for respuesta in respuesta.5 %}
				<div class = "row">
 					<div class ="col-md-offset-1 col-sm-offset-1 col-xs-offset-1
		 					col-md-2 col-sm-2 col-xs-2">
	 					<div class = "perfil_pequena_respuesta pull-right">
	 					<a title = "{{respuesta.creador.nickname}}"  href="{% url 'perfiles:perfil' respuesta.creador.usuario 'recientes' %}">
							<img src = "{{respuesta.creador.imagen_perfil}}">
						</a>
						</div>
					</div>
					<div class = "col-md-9 col-sm-9 col-xs-9">
	 					<p class = "respuesta_post pull-left"><small> <i class = "fa fa-comment"></i> - {{respuesta.texto|truncatewords:50}} </small></p>
	 				</div>
		 		</div>
	 		{% endfor %}
		</div>
	</div>
</div> <!-- class md 10 -->
</div> <!--respuesta -->
{% endfor %}
</div> <!--row-->
</div><!--col 8 -->

<div class="col-md-4 column visible-md visible-lg">
	<div class = "row clearfix">
		<div class = "div_imagen_tema_post">
		<strong> {{tema.0.nombre}} </strong>
			<img src="{{tema.1}}" class="imagen_tema"/>
		</div>
		<div class = "post_datos_tema">
			<p>
			<a class = "btn btn-link" href="{% url 'temas:index_tema' tema.0.slug 'recientes' %}">
				<i class = "fa fa-pencil-square-o">
			</i> {{tema.3}} Posts</a>
			<a class = "btn btn-link" href=" {% url 'videos:videos_tema' tema.0.slug 'recientes' %}">
				<i class = "fa fa-play-circle">
			</i> {{tema.4}} Videos</a>
			</p>
			<p>
	
			</p>
			{% if user.is_authenticated %}
			<a href=" {% url 'videos:nuevo_video' tema.0.slug %} ">
				<small> Compartir un video sobre {{tema.0.nombre}} </small> </a>
			{% else %}
			<a href=" {% url 'perfiles:login' %} ">
				<small> <span class = "fa fa-lock"></span> Compartir un video sobre {{tema.0.nombre}} </small> </a>
			{% endif %}
		<div class="panel-link">
			<div>
				<br>
				 <a class="panel-title triangulo abajo collapsed" data-toggle="collapse" data-parent="#panel-737882" href="#panel-element-898967"> <small>Descripción </small> 
				 <span class = "fa fa-angle-down"></span> </a>
			</div>
			<div id="panel-element-898967" class="panel-collapse collapse">
				<div>
					{{tema.2|safe}}
				</div>
			</div>
		</div>
		</div>
	</div>
</div> <!--col md 4 -->
</div><!-- row clearfix -->

{% endblock content %}

{% block javascript %}
<script src="{% static 'js/lazyYT.js' %}"></script>
<script src="{% static 'js/video_fav.js' %}"></script>
<script src="{% static 'js/votos.js' %} "></script>
<script src="{% static 'js/validation-core.js' %} "></script>
<script src="{% static 'js/validation-ajax.js' %} "></script>
<script src="{% static 'js/validation-delegate.js' %} "></script>
<script src="{% static 'js/cambiar_caret.js' %} "></script>
<script>
$(document).ready(function(){
	$('#formulario').validate({
		rules: {
			texto: {
				required: true,
				minlength: 5,
				maxlength: 10000
			}
		},
		errorElement: "span",
		onfocusout: false,
		onkeyup: false,
		messages: {
			texto: "*Escribe una post de mínimo 5 y máximo 10.000 caracteres.",
		}
	});
});
</script>
{% endblock javascript %}