{% extends "base_index.html" %}
{% load staticfiles %}

{% block titletag %}
<title> Videos sobre '{{tema.0.nombre}}'</title>
{% endblock titletag %}

{% block meta_description %}
<meta name="description" content = "Videos del tema '{{tema.0.nombre}}' compartidos en Orilla Libertaria">
{% endblock meta_description %}

{% block extra_css %}
<link href="{% static 'css/post.css' %}" rel="stylesheet">
<link href="{% static 'css/videos.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block navbar_mobile_xs %}
<li class = "visible-xs">
	<a href="{% url 'temas:nuevo_tema'%}">Crear un tema nuevo</a>
</li>
<li class = "visible-xs">
	<a href="{% url 'citas:index' 'recientes' %}">Banco de Frases</a>
</li>
<li class = "visible-xs">
	<a href="{% url 'imagenes:index' 'recientes' %}">Galería de imágenes</a>
</li>
{% endblock navbar_mobile_xs %}

{% block arriba %}
<div class="col-md-8 column">
	<div class="page-header">
		<h1>
			{{ tema.0.nombre }}
		</h1>
		<h3 class="pull-right">
			<small>
				{{ num_videos }} posts, {{ tema.3 }} videos.
			</small>
		</h3>
	</div>
</div>
{% endblock arriba %}

{% block botones_control %}
<div class = "col-md-8 div_control">
	<div class= "btn-group control">
		<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">Videos <span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li>
				<a href = "{% url 'temas:index_tema' tema.0.slug 'recientes' %}">Posts</a>
			</li>
		</ul>
	</div>
	
	<div class="btn-group btn-group-sm control">
		<button class="btn btn-default {{recientes}} "
		type="button" onclick="location.href='{% url 'videos:videos_tema' tema.0.slug 'recientes' %}';">
		<span class="fa fa-signal"> </span> Recientes
		</button> 
		<button class="btn btn-default {{populares}} " 
		type="button" onclick="location.href='{% url 'videos:videos_tema' tema.0.slug 'populares' %}';">
		<span class="fa fa-star"> </span> Populares
		</button>
	</div>

</div>
{% endblock botones_control %}

{% block tab_content %}
<div class="col-md-8 col-sm-9">
	<div class="row clearfix">
		{% include page_template %}
	</div>
</div>
{% endblock tab_content %}

{% block sidebar %}
<div class="col-md-4 col-sm-3 column">
	<div class="row clearfix">
		<div class="col-md-12 column">
		{% if user.is_authenticated %}
		<a class = "btn_sidebar" href="{% url 'videos:nuevo_video' tema.0.slug %}">
		<button type="button" class="btn btn-warning">
		Nuevo Video en {{tema.0.nombre}}</button>
		</a>
		{% else %}
		<a class = "btn_sidebar" href="{% url 'perfiles:login' %}">
		<button type="button" class="btn btn-warning">
		<span class = "fa fa-lock"></span> Nuevo Video en {{tema.0.nombre}}</button>
		</a>
		{% endif %}
		</div>
	</div>
	<br><br>
	<div>
		<div class = "margin_sidebar">
			<img class = "thumbnail imagen_tema" src = "{{tema.1}}">
		</div>
		<br/>
		<h2>
			<p class = "margin_sidebar">
				{{ tema.0.nombre }}
			</p>
			<small class="margin_sidebar"><h5 class="text"> {{tema.2|safe}} </h5>
				<h6><a href="{% url 'temas:editar_tema' tema.0.slug %}"><i>editar tema</i></a></h6>
			</small>
		</h2>
	</div>
	
</div>
{% endblock sidebar %}

{% block javascript %}
<script src="{% static 'js/videos_favorito.js' %}"></script>
{% endblock javascript %}