{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
<link href="{% static 'css/post.css' %}" rel="stylesheet">
<link href="{% static 'css/videos.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}
<div class="row clearfix">
<div class="col-md-8 column">
{% include 'cuadro_video.html' %}
<!--modal reportar -->
<div class="modal fade" id="modal_reportar" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			{% if propio_video %}
			<h4 class="modal-title" id="myModalLabel">Has denunciado un video que has compartido</h4>
			</div>
			<div class="modal-body">
			    <p>Recuerda que puedes editarlo. Los videos denunciados son analizados y luego removidos del sitio web.</p>
			</div>
			{% else %}
			<h4 class="modal-title" id="myModalLabel">Has denunciado un video</h4>
			</div>
			<div class="modal-body">
			    <p>Gracias por colaborar con la comunidad de Orilla Libertaria. Los videos denunciados son analizados y luego removidos del sitio web.</p>
			</div>
			{% endif %}
		</div>
</div>
</div>

<hr/>
{% if user.is_authenticated %}
<div class = "row clearfix">
	<div class = "col-md-10 col-md-offset-2 col-lg-offset-2">
		<form id = "formulario" class = "form-horizontal form_respuesta" action = " {% url 'videos:sumar_post_video' tema.0.slug video.id %} " method = "POST"/>
			{% csrf_token %}
			<fieldset>
			<div class = "form-group">
				<label = class = "control-label" for = "texto"></label>
				<div class = "row textarea_form">
				{{form_respuesta.texto}}
				</div>
			</div>
			</fieldset>
		<input id = "enviar_respuesta" class = "btn pull-right" type = "submit" value = "Enviar"/>
		</form>
	</div>
</div>
{% endif %}

<div class = "col-md-12">
	<h5 class="text-muted">
		<p style = "display: inline-block" id = "num_respuestas"> {{num_respuestas_video}} </p> Respuestas a este video: 
		<a class = "{{recientes}}" href= "{% url 'videos:video' video.id tema.0.slug 'recientes' %}">Recientes</a> - <a class = "{{populares}}" href="{% url 'videos:video' video.id tema.0.slug 'populares' %}">Populares</a>
	</h5>
</div>
{% for post in posts %}
<div>
<div class = "col-md-2 col-sm-2 col-xs-2">
	<div class = "control_votos">
		<div class = "btn-group-vertical">
			{% if user.is_authenticated %}
			<p class = "vote-id hidden">{{post.0.id}}</p>
			<button type="button" class = "btn btn-default vote-up"> 
				<span class="fa fa-chevron-up"></span>
			</button>
			{% else %}
			<button type="button" class = "btn btn-default disabled"> 
				<span class="fa fa-chevron-up"></span>
			</button>
			{% endif %}
			<button class = "btn puntaje"> 
			<h2 class = "numero_puntaje {{post.2}}"> {{post.0.votos_total}} </h2>
			</button>
			{% if user.is_authenticated %}
			<button type="button" class = "btn btn-default vote-down"> 
				<span class="fa fa-chevron-down"></span>
			</button>
			{% else %}
			<button type="button" class = "btn btn-default disabled"> 
				<span class="fa fa-chevron-down"></span>
			</button>
			{% endif %}
		</div>
	</div>
</div>
<div class = "col-md-10 col-sm-10 col-xs-10">
	<div class="panel panel-info">
		<div class="panel-body">
			<p class = "text truncate">
			{{post.3|safe}}
			</p>
			<br/>
		</div>
		<div class="panel-footer">
			{% if post.0.creador.usuario == request.user %}
			<div class = "eliminar_editar pull-left">
				<div class = "btn-group dropup">
				<button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="fa fa-cog"></span>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a href="{% url 'temas:eliminar_propio_post' post.0.id %}">Eliminar Post</a>
					</li>
					<li class = "divider"></li>
					<li>
						<a href="{% url 'temas:editar_post' post.0.id %}">Editar</a> 
					</li>
				</ul>
				</div>
			</div>
			{% endif %}
			<div class = "nombre_fecha">
				<p><a href ="{% url 'perfiles:perfil' post.0.creador.usuario 'recientes' %}">
					{{post.0.creador.usuario.username}}</a> <small> el {{post.0.fecha}} </small>
				</p>
			</div>
			<div class = "footer_respuestas pull-right">
				<a href = "{% url 'videos:post_video' video.id tema.0.slug post.0.id 'recientes' %} ">{{post.1}} <span class="fa fa-comments"></span> <span class="fa fa-chevron-right"></span></a>
				</div>
		</div>
	</div>
</div> <!-- class md 10 -->
</div> <!--post -->
{% endfor %}
</div><!--col 8 -->

<div class="col-md-4 column visible-md visible-lg">
	<div class = "row clearfix">
		<div class = "div_imagen_tema_post">
		<strong> {{tema.0.nombre}} </strong>
			<img src="{{tema.1}}" class="imagen_tema"/>
		</div>
		<div class = "post_datos_tema">
			<p>
			<a class = "btn btn-link" href="{% url 'temas:index_tema' tema.0.slug 'recientes' %}">
				<i class = "fa fa-pencil-square-o">
			</i> {{tema.3}} Posts</a>
			<a class = "btn btn-link" href=" {% url 'videos:videos_tema' tema.0.slug 'recientes' %}">
				<i class = "fa fa-play-circle">
			</i> {{tema.4}} Videos</a>
			</p>
			<p>
	
			</p>
			{% if user.is_authenticated %}
			<a href=" {% url 'videos:nuevo_video' tema.0.slug %} ">
				<small> Compartir un video en {{tema.0.nombre}} </small> </a>
			{% else %}
			<a href=" {% url 'perfiles:login' %} ">
				<small> <span class = "fa fa-lock"></span> Compartir un video en {{tema.0.nombre}} </small> </a>
			{% endif %}
		<div class="panel-link">
			<div>
				<br>
				 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-737882" href="#panel-element-898967"> <small>Descripción </small> <i class = "fa fa-caret-down"></i> </a>
			</div>
			<div id="panel-element-898967" class="panel-collapse collapse">
				<div>
					{{tema.2|safe}}
				</div>
			</div>
		</div>
		</div>
	</div>
</div> <!--col md 4 -->
</div><!-- row clearfix -->

{% endblock content %}

{% block javascript %}
<script src="{% static 'js/lazyYT.js' %}"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="{% static 'js/video_fav.js' %}"></script>
<script src="{% static 'js/votos.js' %} "></script>

<script src="{% static 'js/validation-core.js' %} "></script>
<script src="{% static 'js/validation-ajax.js' %} "></script>
<script src="{% static 'js/validation-delegate.js' %} "></script>

<script>
$(document).ready(function(){
	$('#formulario').validate({
		rules: {
			texto: {
				required: true,
				minlength: 15,
				maxlength: 10000
			}
		},
		errorElement: "span",
		onfocusout: false,
		onkeyup: false,
		messages: {
			texto: "*Escribe una post de mínimo 15 y máximo 10.000 caracteres.",
		}
	});
});
</script>
{% endblock javascript %}
