{% extends "base_galeria.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span3">
            <div class="nav-headers">
            	{% if propio_usuario %}
                <h3> {{user.username}}, tus imágenes favoritas. </h3>
                {% else%}
                <h3> Imágenes favoritas de <a href="{%url 'perfiles:perfil' username%}">{{username}} </a></h3>
                {% endif %}
                <br>
                <p><a href=" {% url 'imagenes:nueva' %} " class="btn">Añadir Imagen &rarr;</a></p>
            </div>
            <ul class="nav nav-tabs nav-stacked">
                <li><a href="{% url 'imagenes:index' %}"><i class="icon-bookmark"></i> Recientes </a></li>
                <li><a href="{% url 'imagenes:populares' %}"><i class="icon-star"></i> Populares</a></li>
                <li class="active"><a href="{% url 'imagenes:favoritas' user.username %}"><i class="icon-certificate"></i> Favoritas </a></li>
            </ul>
           <ul class="nav nav-tabs nav-stacked">
                <li><a href=" {% url 'temas:main' %} "><i class="icon-home"></i> Orilla Libertaria </a></li>
                
                {% if user.is_authenticated %}
                <li><a href="{% url 'perfiles:perfil' user.username %}"><i class="icon-user"></i> Tu Perfil, {{user.username}} </a></li>
                {% else %}
                <li><a href="url 'perfiles:login'"><i class="icon-user"></i> Login </a></li>
                {% endif %}
            </ul>
        </div>
        {% for i in imagenes_favoritas %}
        <div class="span3 galery"> <!--span cambiado -->
            <div class="image-galery"><a class="group" rel="group1" href="{{i.0.url}}"><img src=" {{i.0.url}} " /></a>
            </div>
              <div>
				<span style = "margin-left: 30px">
				<i class="icon-star"></i>
        		<span class = "favoritos"> {{i.0.favoritos_recibidos}} </span>
        		</span>
               	{% if propio_usuario %}
						{% if i.1 == True %}
						{% load staticfiles %}
					<img class = "icono_portada reportar" title="Portada" src = "{% static '/static/img/ol_icon_portada.jpg'%}">
						{% else %}
					<a href = "{% url 'imagenes:marcar_portada' i.0.id %}">
					<span class="icon-certificate reportar" title="Elegir como portada"> </span></a>
						{% endif %}
				{% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}