{% extends "base_galeria.html" %}

{% block content %}
{% load staticfiles %}

<div class="container">
    <div class="row">
        <div class="span3">
            <div class="nav-headers">
            	{% if propio_usuario %}
                <h3> {{user.username}}, tus imágenes favoritas. </h3>
                {% else%}
                <h3> Imágenes favoritas de <a href="{%url 'perfiles:perfil' username 'recientes' %}">{{username}} </a></h3>
                {% endif %}
                <br>
                <p><a href=" {% url 'imagenes:nueva' %} " class="btn">Añadir Imagen &rarr;</a></p>
            </div>
            <ul class="nav nav-tabs nav-stacked">
            <li class="{{recientes}}"><a href="{% url 'imagenes:index' 'recientes' %}">
                <i class="fa fa-bookmark"></i> Recientes </a></li>
            <li class = "{{populares}}"><a href="{% url 'imagenes:index' 'populares' %}">
                <i class="fa fa-star"></i> Populares</a></li>
            {% if user.is_authenticated %}
            <li class = "active"><a href="{% url 'imagenes:favoritas' user.username %}">
                <i class="fa fa-certificate"></i> Favoritas </a></li>
            {% endif %}
            </ul>
            <ul class="nav nav-tabs nav-stacked">
            <li><a href=" {% url 'temas:main' 'recientes' %} "><i class="fa fa-home"></i> Orilla Libertaria </a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'perfiles:perfil' user.username 'recientes' %}"><i class="fa fa-user"></i> Tu Perfil, {{user.username}} </a></li>
            <li><a href=" {% url 'imagenes:colaborar_organizar' %} "><i class="fa fa-puzzle-piece"></i> Ayúdanos a revisar la Galería </a></li> 
            {% else %}
            <li><a href="url 'perfiles:login'"><i class="fa fa-user"></i> Login </a></li>
            {% endif %}
            </ul>
        </div>
        <div id = "imagenes">
        {% for i in imagenes_favoritas %}
        <div class="span3 galery"> <!--span cambiado -->
            <div class="image-galery"><a class="group" rel="group1" href="{{i.0.url}}"><img src=" {{i.0.url}} " /></a>
            </div>
            <div class = "div_marcar_portada">
            {% if propio_usuario %}
                <span class = "favoritos">{{i.0.favoritos_recibidos}}</span>
                <p class = "hidden">{{i.0.id}}</p>
                <span class="estrella marcar_favorito fa fa-star fa-lg es_favorita"></span>
                {% if i.1 == True %}
        		  <span rel = "tooltip" title = "Portada" class = "icono_portada fa fa-picture-o fa-lg"> </span>
				{% else %}
        		  <span class='icon-certificate marcar_portada' title='Elegir como portada'></span>
				{% endif %}
            {% else %}
                {% if user.is_authenticated %}
                <p class = "hidden">{{i.0.id}}</p>
                <span class='estrella marcar_favorito fa fa-star fa-lg {{i.1}}'></span>
                {% else %}
                <span class='estrella fa fa-star'></span>
                {% endif %}
                <span class = "favoritos"> {{i.0.favoritos_recibidos}} </span>
            {% endif %}
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_javascript %}
<script src="{% static 'js/imagen_favorita.js' %} "></script>
{% endblock extra_javascript %}
