{% extends "base_galeria.html" %}

{% block menu %}
<div class = "col-md-3 control_galeria">
	<ul class = "list-group">
		<a class = "list-group-item {{recientes}}" href="{% url 'imagenes:index' 'recientes' %}"> <i class="fa fa-thumb-tack"></i> Recientes</a>
		<a class = "list-group-item {{populares}}" href="{% url 'imagenes:index' 'populares' %}"> <i class="fa fa-bookmark"></i> Populares</a>
        {% if user.is_authenticated %}
        <a class = "list-group-item" href="{% url 'imagenes:favoritas' user.username %}">
            <i class="fa fa-star"></i> Favoritas </a>
        {% else %}
            <a class = "list-group-item" href="{% url 'perfiles:login' %}"><span class = "fa fa-lock"></span> Favoritas</a>
        {% endif %}
	</ul>
	<ul class = "list-group">
		<a class = "list-group-item" href=" {% url 'citas:index' 'recientes' %} "><i class="fa fa-quote-right"></i> Banco de Frases </a>
        {% if user.is_authenticated %}
        <a class = "list-group-item" href=" {% url 'imagenes:colaborar_organizar' %} "><i class="fa fa-wrench"></i> Ayúdanos a revisar la Galería </a>
		<a class = "list-group-item list-group-item-warning" href="{% url 'imagenes:nueva' %}">
		<span class="fa fa-puzzle-piece"> </span> Comparte una imagen</a>
        {% endif %}
	</ul>
</div>
{% endblock menu %}

{% block imagenes %}
	{% include page_template %}
{% endblock imagenes %}

