{% extends "base_galeria.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span3">
            <div class="nav-headers instrucciones_coorg">
    
                <div class="progress">
                      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{progress_bar}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress_bar}}%;">
                        <span class="sr-only"></span>
                      </div>
                </div>
                <p> Estas imágenes han sido reportadas más de tres veces. Revísalas, si no encuentras razón para que estén acá y no en la Galería, márcalas con un <span style = "color:green" class="fa fa-check"></span>. Si te parece que una de una de ellas no pertenece a este sitio, márcala con una <span style="color:red" class="fa fa-times"></span>. Recuerda ser objectivo.
                <br><br>
                Cuando una imagen tenga tres <span style = "color:green" class="fa fa-check"></span> será devuelta a la Galería.
                <br>
                Si una imagen llega a tres <span style="color:red" class="fa fa-times"></span> será removida de forma permanente.
                </p>
            </div>
           <ul class="nav nav-tabs nav-stacked">
                <li><a href=" {% url 'imagenes:index' 'recientes' %} "><i class="fa fa-picture-o"></i> Regreso a la Galería </a></li>
            </ul>
        </div>
        {% if hay_imagenes_denunciadas %}
            {% for i in imagenes_denunciadas %}
            <div style = "background-color: {{i.1}}; height: 300px" class="span3 galery">
                <div class="menu-galery">
                    {% for e in i.2 %}
                    <ul>
                        <li><i class="fa fa-{{e}}"></i></li>
                    </ul>
                    {% endfor %}
                </div>
                <div class="image-galery">
                    <a class="group" rel="group1" href="{{i.0.url}}">
                    <img src=" {{i.0.url}} " /></a>
                </div>
                  <div>
    				<span style = "margin-left: 30px">
    				<i class="fa fa-star"></i>
            		<span class = "favoritos"> {{i.0.favoritos_recibidos}} </span>
            		</span>
    				<a href = "{% url 'imagenes:marcar_visto' i.0.id %}">
    				<span style = "color:green" class="fa fa-check{{i.3.0}} fa-lg visto_imagen" title = "Votar a favor"> </span></a>
                    <a href = "{% url 'imagenes:marcar_x' i.0.id %}">
                    <span style = "color: red" class="fa fa-times{{i.3.1}} fa-lg x_imagen" title = "Votar en contra"> </span></a>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <p class = "no_hay_imagenes"> Por ahora todo va bien. No hay imágenes reportadas más de tres veces. </p>
        {% endif %}
    </div>
</div>

{% endblock content %}