{% extends "base_galeria.html" %}

{% block menu %}
<div class = "col-md-3 control_galeria">
    <ul class = "list-group">
        <li class = "list-group-item">
            <div class="progress">
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{progress_bar}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress_bar}}%;">
              <span class="sr-only"></span>
              </div>
            </div>
        </li>
        <li class = "list-group-item"> 
        Estas imágenes han sido reportadas más de tres veces. Revísalas, si no encuentras razón para que estén acá y no en la Galería, márcalas con un <span style = "color:green" class="fa fa-check"></span>. Si te parece que una de una de ellas no pertenece a este sitio, márcala con una <span style="color:red" class="fa fa-times"></span>. Recuerda ser objetivo.
        <br><br>
        Cuando una imagen tenga tres <span style = "color:green" class="fa fa-check"></span> será devuelta a la Galería.
        <br>
        Si una imagen llega a tres <span style="color:red" class="fa fa-times"></span> será removida de forma permanente.
        </li>
        <a class = "list-group-item" href=" {% url 'imagenes:index' 'recientes' %} "><i class="fa fa-picture-o"></i> Regreso a la Galería </a>

    </ul>
</div>
{% endblock menu %}


{% block imagenes %}

{% if hay_imagenes_denunciadas %}
    {% for i in imagenes_denunciadas %}
    <div class="col-lg-3 col-sm-4 col-xs-6 panel_imagen">
        <div style = "background-color: {{i.1}}" class = "panel panel-default">
            <div class = "panel-heading">
                {% if user.is_authenticated %}
                    <a href = "{% url 'imagenes:marcar_visto' i.0.id %}">
                    <span style = "color:green" class="fa fa-check{{i.3.0}} fa-lg" title = "Votar a favor"> </span></a>
                    <a class="pull-right" href = "{% url 'imagenes:marcar_x' i.0.id %}">
                    <span style = "color: red" class="fa fa-times{{i.3.1}} fa-lg" title = "Votar en contra"> </span></a>
                {% endif %}
            </div>
            <div class = "panel-body div_imagen">
                <img data-toggle="modal" data-target="#modal_imagen" src="{{i.0.url}}" class="imagen thumbnail img-responsive">
                <p id = "imagen_{{forloop.counter}}" data-counter="{{forloop.counter}}" class = "forloop_counter hidden">{{forloop.counter}}</p>
                <p class = "imagen_id hidden">{{i.0.id}}</p>
                <p class = "favoritos">{{i.0.favoritos_recibidos}}</p>
                <span class='estrella marcar_favorito fa fa-star {{i.1}} '></span>
                {% for icono in i.2 %}
                    <i class="fa fa-{{icono}} pull-right"></i>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
    
    {% else %}
    <p class = "no_hay_imagenes"> Por ahora todo va bien. No hay imágenes reportadas más de tres veces. </p>
    {% endif %}
</div>
</div>

{% endblock imagenes %}
