{% extends "base_galeria.html" %}

{% block menu %}
<div class = "col-md-3 control_galeria">
    <ul class = "list-group">
        <a class = "list-group-item {{recientes}}" href="{% url 'imagenes:index' 'recientes' %}"> <i class="fa fa-thumb-tack"></i> Recientes</a>
        <a class = "list-group-item {{populares}}" href="{% url 'imagenes:index' 'populares' %}"> <i class="fa fa-bookmark"></i> Populares</a>
        {% if user.is_authenticated %}
        <a class = "list-group-item" href="{% url 'imagenes:favoritas' user.username %}">
            <i class="fa fa-star"></i> Favoritas </a>
        {% else %}
            <a class = "list-group-item" href="{% url 'perfiles:login' %}"><span class = "fa fa-lock"></span> Favoritas</a>
        {% endif %}
    </ul>
    <ul class = "list-group">
        <a class = "list-group-item list-group-item-warning" href="{% url 'temas:main' 'recientes' %}"><i class="fa fa-home"></i> Orilla Libertaria</a>
        {% if user.is_authenticated %}
        <a class = "list-group-item" href="{% url 'perfiles:perfil' user.username 'recientes' %}"><i class="fa fa-user"></i> Tu Perfil, {{user.username}} </a>
        <a class = "list-group-item" href=" {% url 'imagenes:colaborar_organizar' %} "><i class="fa fa-wrench"></i> Ayúdanos a revisar la Galería </a>
        {% else %}
        <a class = "list-group-item" href="{% url 'perfiles:login' %}"><i class="fa fa-user"></i> Login </a>
        {% endif %}
        <a class = "list-group-item list-group-item-warning" href="#modal_imagen">
        <span class="fa fa-puzzle-piece"> </span> Comparte una imagen</a>
    </ul>
</div>
{% endblock menu %}


{% block content %}
<div class="col-lg-3 col-sm-4 col-xs-6 panel_imagen">
    <div class = "panel panel-default">
        <div class = "panel-body">
            <img data-toggle="modal" data-target="#modal_imagen" src="{{imagen.url}}" class="imagen thumbnail img-responsive">
            <p id = "imagen_1" data-counter="1" class = "forloop_counter hidden">1</p>
            <p class = "imagen_id hidden">{{imagen.id}}</p>
            <p class = "favoritos">{{imagen.favoritos_recibidos}}</p>
            {% if user.is_authenticated %}
            <span class='estrella marcar_favorito fa fa-star fa-lg {{es_favorita}} '></span>
            <span rel="tooltip" title="Denunciar Imagen" class="pull-right reportar fa fa-flag "></span>
            {% else %}
            <span class='estrella fa fa-star'></span>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}