{% extends "base_galeria.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span3">
            <div class="nav-headers">
                <h3>Galería de Imágenes de Orilla Libertaria.</h3>
                <br>
                <p><a class="btn" href="{% url 'imagenes:nueva' %}">Añadir Imagen &rarr;</a></p>
            </div>
               <ul class="nav nav-tabs nav-stacked">
                <li class="{{recientes}}"><a href="{% url 'imagenes:index' 'recientes' %}">
                    <i class="icon-bookmark"></i> Recientes </a></li>
                <li><a class = "{{populares}}" href="{% url 'imagenes:index' 'populares' %}">
                    <i class="icon-star"></i> Populares</a></li>
                <li><a href="{% url 'imagenes:favoritas' user.username %}">
                    <i class="icon-certificate"></i> Favoritas </a></li>
            </ul>
           <ul class="nav nav-tabs nav-stacked">
                <li><a href=" {% url 'temas:main' 'recientes' %} "><i class="icon-home"></i> Orilla Libertaria </a></li>
                
                {% if user.is_authenticated %}
                <li><a href="{% url 'perfiles:perfil' user.username 'recientes' %}"><i class="icon-user"></i> Tu Perfil, {{user.username}} </a></li>
                <li><a href=" {% url 'imagenes:colaborar_organizar' %} "><i class="icon-zoom-in"></i> Ayúdanos a revisar esta Galería </a></li> 
                {% else %}
                <li><a href="url 'perfiles:login'"><i class="icon-user"></i> Login </a></li>
                {% endif %}
            </ul>
        </div>
        <div class="row clearfix">
            {% include page_template %}
        </div>
</div>
    </div>
</div>
       
{% endblock content %}

