{% extends "base_galeria.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span3">
            <div class="nav-headers">
                <h3>Galería de Imágenes de Orilla Libertaria.</h3>
                <br>
                <button class="btn btn-warning" 
                type="button" onclick="location.href='{% url 'imagenes:nueva' %}';">
                <span class="fa fa-puzzle-piece"> </span> Añadir una nueva imagen.
                </button> 
            </div>
            <ul class="nav nav-tabs nav-stacked">
            <li class="{{recientes}}"><a href="{% url 'imagenes:index' 'recientes' %}">
                <i class="fa fa-bookmark"></i> Recientes </a></li>
            <li class = "{{populares}}"><a href="{% url 'imagenes:index' 'populares' %}">
                <i class="fa fa-star"></i> Populares</a></li>
            <li>
            {% if user.is_authenticated %}
            <a href="{% url 'imagenes:favoritas' user.username %}">
                <i class="fa fa-certificate"></i> Favoritas </a>
            {% else %}
                <a href="{% url 'perfiles:login' %}"><span class = "fa fa-lock"></span> Favoritas</a>
            {% endif %}
            </li>
            </ul>
            <ul class="nav nav-tabs nav-stacked">
            <li><a href=" {% url 'temas:main' 'recientes' %} "><i class="fa fa-home"></i> Orilla Libertaria </a></li>
            <li><a href="{% url 'citas:index' 'recientes' %}"><i class="fa fa-quote-right"></i> Banco de Frases </a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'perfiles:perfil' user.username 'recientes' %}"><i class="fa fa-user"></i> Tu Perfil, {{user.username}} </a></li>
            <li><a href=" {% url 'imagenes:colaborar_organizar' %} "><i class="fa fa-wrench"></i> Ayúdanos a revisar la Galería </a></li> 
            {% else %}
            <li><a href="{% url 'perfiles:login' %}"><i class="fa fa-user"></i> Login </a></li>
            {% endif %}
            </ul>
        </div>
        <div class="row clearfix">
            {% include page_template %}
        </div>
    </div>
</div>

<div class="modal hidden" id="modal_reportar">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4> Has denunciado una imagen </h4>
        </div>
        <div class="modal-body">
          <p>Gracias por colaborar con la comunidad de Orilla Libertaria. Las imágenes se remueven de la Galería cuando cuatro usuarios con más de 10 puntos las denuncian.</p>
        </div>
      </div>
    </div>
</div>

{% endblock content %}

{% block extra_javascript %}
{% load staticfiles %}
<script src="{% static 'js/imagen_favorita.js' %} "></script>
{% endblock extra_javascript %}
