{% extends "base_forms.html" %}
{% load staticfiles %}

{% block arriba %}
<div class = "row titulo_con_barco">
	<h2> Añade una Imagen </h2>

	<img style = "margin-right:20px" class = "barco_logo pull-right" src="{% static '/static/img/barco_amagi.png' %}">
	<br/>
</div>
{% endblock arriba %}

{% block form %}
<br><br>

<div class = "col-md-10 col-md-offset-1">
<div class = "form_margins">
	<div class = "row">
	<form id = "formulario" class = "form-horizontal" action = "{% url 'imagenes:nueva' %}" method = "post">
		{% csrf_token %}
		{{form_nueva_imagen.non_field_errors}}
		<fieldset>

		<div class = "form-group">
			{{form_nueva_imagen.url.errors}}
			<label class = "control-label" for="url"> URL* </label>
			{{form_nueva_imagen.url}}
			<span class="help-block">Pega el URL, revisa que termine en .jpg o en .png</span>
		</div>

		<div class = "form-group">
			{{form_nueva_imagen.favorita.errors}}
			<label class = "control-label" for="favorita"> Favorita* </label>
			{{form_nueva_imagen.favorita}}
			<span class="help-block">Sumar esta imagen a mis favoritas</span>
		</div>

		<!-- bersuit vergarabat -->
		<div class = "form-group vergarabat">
			<label class = "control-label" for = "vergarabat">
				Cuánto es cuatro mas cinco?
			</label>
			<input name = "vergarabat" id = "vergarabat" type = "text">
			<span class = "help-block">Responde solo si no eres humano. </span>
		</div>

		<div class = "form-group">
			<label class = "control-label" for = "bersuit">
				¿Cuánto es {{lista_bersuit.0}} mas {{lista_bersuit.1}}?
				<p id = "bv" class = "bv">{{lista_bersuit.2}}</p>
			</label>
			<br>
			<input name = "bersuit" value = "m" type = "radio">1819
			<input name = "bersuit" value = "cinco" type = "radio">5
			<input name = "bersuit" value = "ocho" type = "radio">8
			<span class = "help-block">Para asegurarnos que eres <i class = "fa fa-child"></i> y no 
			<i class = "fa fa-bug"></i>. </span>
		</div>
		<!--bersuit vergarabat-->

		</fieldset>
		<input class = "btn pull-right" type = "submit" value ="enviar"/>
	</form>
	</div>
</div>
</div>
{% endblock form %}

{% block description %}
<dt>Para compartir una imagen:</dt>
Pega el url de una imagen. <br>
Revisa que el url que elegiste termine en ".jpg", o ".png" ".gif".<br>
Se recomienda imágenes de tamaño mediano: menores a 800x600px. <br>
Por ahora no hay como subir imágenes directamentes a OrillaLibertaria, piénsalo como una isla a la que llegan barcos con el contenido que han podido recolectar en el océano de blogs, noticias, videos e imágenes que es el Internet. <br>
{% endblock description %}

{% block extra_javascript %}
<script>
$(document).ready(function(){

  /* bersuit vergarabat*/
  $.validator.addMethod("seleccion_correcta", function(value, element){
    var respuesta = $("#bv").text();
    if(value == respuesta){
      return true;
    }
    else{
      return false;
    }
  });
  $.validator.addMethod('empty', function(value, element){
    return (value === '');
  });
  /* bersuit vergarabat*/
	
	$('#formulario').validate({
		rules: {
			url: {
				required: true,
				minlength: 10,
			},
		    /* bersuit vergarabat*/
		    bersuit:{
		        required: true,
		        seleccion_correcta: true
		      },
		    vergarabat:{
		        empty: true
		      }
		    /*bersuit vergarabat*/

		},
		errorElement: "span",
		onfocusout: false,
		onkeyup: false,
		messages: {
			url: "*Se requiere una URL válida",
			bersuit: "¿Eres humano?",
			vergarabat: "Si no eres un spam bot, contáctanos y cuéntanos de este error. Recuerda que ésta página está programada para Firefox y Chrome."
		}
	});
});
</script>
{% endblock extra_javascript %}