{% extends "base_galeria.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span3">
            <div class="nav-headers">
                <h3>Galería de Imágenes de Orilla Libertaria.</h3>
                <br>
                <p><a href="{% url 'imagenes:nueva' %}" class="btn">Añadir Imagen &rarr;</a></p>
            </div>
              <ul class="nav nav-tabs nav-stacked">
                <li><a href="{% url 'imagenes:index' %}"><i class="icon-bookmark"></i> Recientes </a></li>
                <li class="active"><a href="{% url 'imagenes:populares' %}"><i class="icon-star"></i> Populares</a></li>
                <li><a href="{% url 'imagenes:favoritas' user.username %}"><i class="icon-certificate"></i> Favoritas </a></li>
            </ul>
           <ul class="nav nav-tabs nav-stacked">
                <li><a href=" {% url 'temas:main' %} "><i class="icon-home"></i> Orilla Libertaria </a></li>
                
                {% if user.is_authenticated %}
                <li><a href="{% url 'perfiles:perfil' user.username %}"><i class="icon-user"></i> Tu Perfil, {{user.username}} </a></li>
                <li><a href=" {% url 'imagenes:colaborar_organizar' %} "><i class="icon-zoom-in"></i> Ayúdanos a revisar esta Galería </a></li> 
                {% else %}
                <li><a href="url 'perfiles:login'"><i class="icon-user"></i> Login </a></li>
                {% endif %}
            </ul>
        </div>
        {% for i in imagenes_populares %}
        <div class="span3 galery"> <!--span cambiado -->
            <div class="image-galery"><a class="group" rel="group1" href="{{i.url}}"><img src=" {{i.url}} " /></a></div>
              <div>
        		<span class = "estrella">
                <a href= "{% url 'imagenes:marcar_favorito' i.id %}"rel="tooltip" title="Marcar Favorito"><i class="icon-star"></i></a>
            	</span>
            	<span class = "favoritos"> {{i.favoritos_recibidos}} </span>
                <span class = "reportar">
                <a href=" {% url 'imagenes:denunciar' i.id %} " rel="tooltip" title="Reportar"><i class="icon-flag"></i></a>
            	</span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
       
{% endblock content %}

